[2020-10-22 15:49] geekygirldawn commented on #915
Assigning to @ivanayov since it looks like there hasn't been any progress, and she's offered to pick it up.

[2020-10-22 15:52] geekygirldawn commented on #915
Hmmm, for some reason, I can't actually assign @ivanayov to this issue 🤷‍♀️

[2020-10-22 18:34] ccarterlandis commented on #915
Weird, I can't either. Maybe she needs to be added to the CHAOSS organization, or given at least `Triage` access to Augur repo as an outside collaborator?

[2020-10-22 19:18] ivanayov commented on #915
@ccarterlandis AFAIR I saw the invitation after it had expired, so couldn't join the org

[2020-10-22 19:22] ccarterlandis commented on #915
@ivanayov just sent you another!

[2020-10-27 17:34] sgoggins opened #981 "Front End API Call and Vue.JS Cleanup"
**Description:**
If you open the javascript console on an augur instance, such as http://augur.osshealth.io you will see a lot of javascript/typescript errors, as well as many calls to deprecated or unecessary APIs. All this slows the frontend down, and causes the user to have to wait, and click links several times. Production compilation of the node modules using `npm run build` also shows severa

[2020-10-28 00:41] ccarterlandis commented on #981
@kailynw done. Thanks for volunteering your time and energy, and please feel free to reach out if there's anything we can do to assist!

[2020-11-01 23:03] sgoggins opened #991 "Contributors endpoint does not show commits data"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
Commits are a type of contribution, but they are not captured in the contributors endpoint:
http://augur.osshealth.io:5055/api/unstable/repos/25440/contributors

[2020-11-02 09:09] sgoggins opened #993 "repo_info-collection on dev"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
A clear and concise description of what the bug is.

**How to reproduce:**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2020-11-02 09:44] #993 closed

[2020-11-02 09:45] sgoggins opened #994 "Pull Request Worker Error"
I have not gotten a new pull request since 10/29. The files and commits are updating.
Is this related to the base_worker file changes @gabe-heim ?

[code]

[2020-11-02 09:58] sgoggins commented on #994
@gabe-heim : This seems to be a rate limiting anomalie. I have it collecting again.

[2020-11-02 09:59] sgoggins opened #995 "GitHub Worker Error Handling"
There is a key mismatch in the github issues worker. This may be related to changes in @workerbase @gabe-heim .

[code]

[2020-11-02 10:01] sgoggins commented on #994
I think what's happening is this instance has been getting updated a lot, and there are not actually any new pull requests until we get to the higher numbers. Nonetheless, this graphql query needs to be dealt with ASAP. Thanks, @gabe-heim

[2020-11-02 18:20] ccarterlandis commented on #993
@sgoggins Is this an actual issue or did you open this by accident?

[2020-11-02 18:35] ccarterlandis commented on #995
This is not due to a key mismatch. As the error states, the problem is that the call to `check_duplicates()` on line 308 of `github_worker.py` is missing an argument *called* `key`. This is happening because the method is declared like so:
[code]
As you can see, it's being declared as a static method, but still has the `self` parameter of an instance method, which does not make sense: static metho

[2020-11-02 18:41] ccarterlandis commented on #994
This repository does not exist anymore: https://github.com/pivotalservices/pcfbackup-release. That's why there are no more PRs to gather. Is this an actual issue then? I don't know what "dealt with" means in this context, as there is nothing wrong with the query structure itself; only the arguments. Can you please be more specific about what you mean if there is something I've missed?

[2020-11-02 18:57] ccarterlandis commented on #943
PR #947 implements this feature. Thanks again @ajeurkar!

[2020-11-02 18:57] #943 closed

[2020-11-02 19:09] ajeurkar commented on #943
@ccarterlandis Thank you! 😄

[2020-11-03 20:51] sgoggins opened #1002 "Repo listing not working on dev"
When using the frontend from the dev branch, I get this error in the console

**Description:**
[code]

[2020-11-03 21:06] sgoggins commented on #1002
This issue is preventing browsing of the repos.

[2020-11-07 04:43] #994 closed

[2020-11-07 04:43] #995 closed

[2020-11-07 14:52] sgoggins opened #1005 "When the Github API goes down, The Contributor Worker Can't hear you scream"
Looks like the Github API went down for a spell last night, and killed a contributor worker. Just one. So perhaps they are dividing or load balancing in a way that affected one instance and not others. OR, we did well at the bad timing awards. Here's the error: (deidentified the user, will post that in slack)

[code]

[2020-11-07 14:54] sgoggins commented on #1005
The fix is probably to recognize the error and move on to the next user, @ABrain7710 ... @gabe-heim can probably give you a five minute pointer.

[2020-11-09 15:04] ABrain7710 commented on #991
It appears the contributors metric is not counting commits, because the cmt_ght_author_id column is NULL for all the rows in the table. I tried to look at the contributor worker, and I can't find where the cmt_ght_augur_id is being set.

[2020-11-09 18:38] sgoggins commented on #1005
This appears to be an *extremely* anomalous phenomena, and I have been unable to replicate it, so I am closing the issue.

[2020-11-09 18:38] #1005 closed

[2020-11-09 18:39] sgoggins commented on #1002
This issue appears to have been a 'new release approaching' phenomena that is not persisting.

[2020-11-09 18:39] #1002 closed

[2020-11-09 18:48] sgoggins opened #1006 "What repositories are the contributors in an Augur instance also contributing to?"
**Is your feature request related to a problem? If so, please describe the problem:**
There are three endpoints listed in the contributors table that could be used to enumerate characteristics of developer breadth. I believe this would be a fairly "easy" worker to develop. All the data needed is stored in the contributors table, for contributors for whom we have platform information. It would nece

[2020-11-16 19:39] #932 closed

[2020-11-18 23:02] zachs18 opened #1018 "`augur backend start` prints incorrect address and port"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
`augur backend start` prints the wrong address and port.

**How to reproduce:**
1. Change the backend server port in augur.config.json
2. Start the backed with `augur backend start`

**Expected behavior:**
Augur prints the address and port it is running at.

**Actual behavior:**
Line 46 of `au

[2020-11-28 17:37] klumb opened #1030 "Adding Pull Request Review information to Augur Database"
**Is your feature request related to a problem? If so, please describe the problem:**

The Augur database doesn't include Github PR review information (other than reviewer requests). New relevant data may include accepted reviewers, review approvals, and review comments.

Github review comments are separate from PR comments so the exclusion of this data means that much of the comment info may be m

[2020-12-02 13:58] geekygirldawn commented on #915
@ivanayov @sgoggins I was hoping to get a status update on this feature. This is something that's becoming pretty important for us because we've moved a bunch of pretty important projects from one org to another :)

[2020-12-02 14:02] geekygirldawn commented on #914
@ccarterlandis @ivanayov @sgoggins I wanted to follow up on this one, too. We've created a lot of new projects that I'd love to get into Augur :)

[2020-12-07 19:23] #944 closed

[2020-12-07 19:23] #945 closed

[2020-12-07 19:45] ccarterlandis commented on #942
Is this still an issue? @sgoggins

[2020-12-18 21:47] drewdahlquist opened #1052 "No easy way to link contributors table to repo_id"
When working on some metrics, we found that there is no nice way to filter the augur_data.contributors table with repo_id via an SQL `WHERE` clause since they are not connected in any straightforward way.

Adding repo_id to be included in the contributors table seems like the most straight forward solution, however making it available through any auxiliary table would also suffice.

Making repo_id

[2020-12-19 21:10] ccarterlandis commented on #1052
@drewdahlquist the reason that there is no `repo_id` column in the contributors table is because there is not a 1:1 relationship between a repository and a contributor. For example, if I were listed in the contributors table, and I contribute to both `chaoss/augur` and `rails/rails`, then what should the `repo_id` associated with my record be? Both are valid, but choosing one obscures that I contr

[2020-12-21 12:47] MohitPatni0731 commented on #690
Can I work on this issue

[2020-12-21 12:48] MohitPatni0731 commented on #1052
Can I work on this issue

[2020-12-22 00:29] jackm357 opened #1060 "More Inline Comments"
**Description of the problem:**
After working on the Augur project this semester, my team and I have noticed that there is a shortage of inline comments.  Inline comments are very helpful to newcomers and make the code much easier to read.  Given this is an open source project there are many contributors that come and go.  For this reason we believe that it would be good to have more of these inli

[2020-12-27 23:58] sgoggins opened #1070 "Fix Project ID in GitLab Issues Worker + Release Worker question"
**Description:**
@mrsaicharan1 and @pratikmishra356  : The Gitlab issues worker is using our internal project ID, not gitlabs.   Please examine the `gitlab-issues+releases-patch` branch

**How to reproduce:**
1. from augur base `make install-dev`
2. slack for db credentials if needed
3. you will see a log hitting this endpoint, which is not correct:
[code]

[2020-12-28 12:22] sgoggins commented on #1070
@ivanayov : In this branch it also seems that the release worker either:
1. Only gets releases for the current year OR
2. Only gets the last 10 releases. There's some code in the GraphQL query that leads me to believe its for the last 12 months, but the only GitHub repo in my test database is Augur so I can't be sure. There is an explicit "10" in the GraphQL query. Can you look at that?

[2020-12-28 12:25] sgoggins commented on #1070
@ivanayov : The code's actually in all branches through `dev`, but I am working on the question here: `gitlab-issues+releases-patch` branch.

[2020-12-28 13:06] pratikmishra356 commented on #1070
@sgoggins I didn't worked on gitlab workers , I guess @abhinavbajpai2012 worked on this.

[2020-12-28 14:01] abhinavbajpai2012 commented on #1070
I worked on Merge Request worker. @mrsaicharan1 should be the right person for this.

[2020-12-28 15:36] sgoggins commented on #1070
@abhinavbajpai2012 : Can you take a look at this one. Sorry for the confusion. Github names are hard to follow. :)

@mrsaicharan1 : If you can scan it and see where @abhinavbajpai2012 would insert a query to GitLab to retrieve their ID, possibly borrowing from your worker, that would be very nice. :D

[2020-12-28 15:43] sgoggins commented on #1070
I created a database called `augur_gitlab_patch` on one of our servers. It has a github and gitlab repo in it ... tiny ... slack for credentials if you can work on it.  Thanks! @mrsaicharan1  @abhinavbajpai2012

[2020-12-29 16:17] sgoggins opened #1072 "GitLab Merge Request Worker: Rate Limit Management Timeout and Other errors"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
When I start the merge request worker on the `gitlab-issues+releases-patch` branch, I get one Merge request record partially inserted, these errors:

[code]

**How to reproduce:**
1. Do  a regular clone of augur.
2. Use database credentials from slack, or comment here to request them
3. set th

[2020-12-29 16:19] sgoggins commented on #1072
@mrsaicharan1 : It may be that you and @abhinavbajpai2012 can discuss solutions. @gabe-heim and I are also happy to zoom if there are some new complexities.

[2021-01-04 11:57] ivanayov commented on #1070
@sgoggins I'll work on the release worker to fix it

[2021-01-05 15:48] abhinavbajpai2012 commented on #1072
@sgoggins the first bug is just key not found in dictionary. I will fix it this week. The second one is a bit serious because the data is normalized in the gitlab DB (API) while our's isn't, due to which multiple API calls are to be made.

[2021-01-14 08:40] maxhbr opened #1086 "The function `init_oauths` in `worker_base.py` fails, since the query does not aling with the DB schema"
The sql query
https://github.com/chaoss/augur/blob/860d72b81c0fe04dd7c67e7d1be97bc73e7c4ca4/workers/worker_base.py#L685-L687
fails on my system, since the table `access_token` does not have a column `platform`:
[code]

### My setup is:
- `master` at commit `860d72b81c0fe04dd7c67e7d1be97bc73e7c4ca4`
- oauth token placed in `docker_env.txt`
- started with `$ docker-compose -f docker-compose.yml -f d

[2021-01-14 13:42] maxhbr commented on #1086
Maybe my pulled image of the database is old. It seems to only contain migrations until `14`:

[code]

[2021-01-14 13:46] maxhbr commented on #1086
the database image on docker hub looks outdated (6 months old):
[code]

[2021-01-14 18:19] ccarterlandis commented on #1086
@maxhbr you're spot on in your diagnosis. I'm not sure why the database image is so old, as it is set to automatically update when we push to `master` (same with the `backend` and `frontend` images). I'll update the image and see if I can figure out why it didn't update.

[2021-01-15 07:05] maxhbr commented on #1086
I no switched to `*-dev` images and they seem to work better and resolve this issue. But I am not able to access `http://localhost:8080/augurface/`, nginx just returns 404.

[2021-01-15 08:06] maxhbr commented on #1086
The commit https://github.com/chaoss/augur/commit/de52b3258903f2ad520158583db9910a4db199ba deactivates `augurface` in the docker image. Maybe https://oss-augur.readthedocs.io/en/dev/docker/usage.html needs to be updated.

[2021-01-15 09:39] maxhbr commented on #1086
FYI: I am working on https://github.com/maxhbr/augur/tree/maxhbr/wip, there for example I have enabled augurface again and modified docker compose to build the docker images for me.

[2021-01-20 14:00] Sherlock2505 commented on #1018
I want to work on this issue can you please assign this to me?

[2021-01-28 14:29] Arnab11917676 commented on #1060
hello @jackm357 I can work on this issue and can resolve your concern about the comments

[2021-02-02 19:50] AllMight2099 commented on #1018
I feel that the temporary hack fix could actually be the permanent solution.  Could you elaborate on how you think it's a temporary fix considering that you just need to send in the port number as a variable in the print statement

[2021-02-10 15:08] sgoggins opened #1113 "Add tl;drlegal database to license scanner"
Add license list from here: https://tldrlegal.com/

to the SPDX License

[2021-02-13 12:22] sgoggins commented on #1086
@maxhbr : Thanks!

@ccarterlandis : Can we get together and get dev merged into master. We are way too far behind right now.

[2021-02-13 12:23] sgoggins commented on #1030
@klumb : @gabe-heim has this currently in the `pr_worker_redo_test` branch and we are resolving an out of memory issue on very large repositories. Should be released shortly.

[2021-02-15 23:11] sgoggins opened #1120 "GitHub Issue Worker: gsoc-patch/pr_worker_redo_test Branches"
**Description:**
During collection, the following issue occurs on both branches noted in the subject:
[code]

**Software versions:**
 - Augur: gsoc-patch and pr_worker_redo_test branches
 -  Ubuntu 20.04

[2021-02-21 07:17] sajenjeshan1222 commented on #946
is this open ?

[2021-02-22 14:18] Dhruv-Sachdev1313 opened #1134 "I am facing a issue in installing augur to my local machine, can you please help"
**I did make a database as given in the documentation and ran make install and followed the procedure, but it failed
So I tried several times with different approach
1-after running make install when it asks for database and gives 3 options, I chose- 1) initialize a new database AND install the schema?
then I followed the procedure and  it creates the database but fails to connect it, it shows**

[2021-02-22 18:06] Nebrethar commented on #1134
@sgoggins do we have a database we could provide for @Dhruv-Sachdev1313 for testing purposes?

[2021-02-25 15:32] sgoggins opened #1148 "Add Center for Open Science Instance of Augur"
# Overview

[Open@RIT](https://www.rit.edu/research/open) uses perceval (along with the rest of the grimoire lab stack) to collect metrics across a variety of academic open research projects. As a center of excellence within RIT, we hope to expand our metrics collected to go beyond simply Free and open source software to other sorts of open programs such as https://osf.io which is an increasingly

[2021-02-27 06:37] sgoggins opened #1149 "GitLab Issue Worker Does Not Collect Contributors"
**Description:**
The Gitlab worker for issues "gitlab_worker" does not collect contributors. Its unclear if the worker_base.py code is incomplete, or if the gitlab_issue_worker.py code is incomplete. Or both. Definitely the function calls are missing from gitlab_worker.py.  Specifically, you see this code in the GitHub worker:
[code]

However, the GitLab Worker, does not access an existing functio

[2021-02-27 06:38] sgoggins commented on #1149
@gabe-heim and @andrew ... We have a volunteer willing to work on this.  Can you elaborate on what parts are not finished?

[2021-02-27 09:00] abhinavbajpai2012 commented on #1149
I think @mrsaicharan1 should be the right person for issue_worker. The base_worker.py's contributor function should be working as it is used by merge request worker as well.

[2021-02-28 12:55] sajenjeshan1222 commented on #1149
Can I work on this ?

[2021-02-28 17:19] abhinavbajpai2012 commented on #1149
@sajenjeshan1222 sure, go ahead.

[2021-03-01 06:30] sajenjeshan1222 commented on #1149
ok thank you, did you assigned to me ?

[2021-03-02 12:52] sgoggins opened #1153 "Docs for Visualization API and Logstash are breaking docs build in dev"
These errors need to be addressed with new branches built off of `dev`:

https://readthedocs.org/projects/oss-augur/builds/13140139/

[code]

@ABrain7710  & @ivanayov

[2021-03-02 12:53] sgoggins commented on #1072
@abhinavbajpai2012 : How are we doing on closing this one out?

[2021-03-02 12:57] sgoggins commented on #1086
@maxhbr : We are closing out threads from the machine learning workers and @gabe-heim 's bold attempt to put multi-processing into worker_base.py.  Mostly cool, but it crashes to earth on very large repositories ... We are actively working this ...

THe Docker images are old because @ccarterlandis is our Docker expert and we need some help figuring out why the docker build tests started failing.

[2021-03-02 12:58] #1120 closed

[2021-03-02 13:01] sgoggins commented on #1070
@ivanayov : In this branch it also seems that the release worker either:

    Only gets releases for the current year OR
    Only gets the last 10 releases. There's some code in the GraphQL query that leads me to believe its for the last 10 releases, but the only GitHub repo in my test database is Augur so I can't be sure. There is an explicit "10" in the GraphQL query; but we happen to have had 1

[2021-03-02 13:02] sgoggins commented on #1060
@chaoss/augurdevelopers : More inline comments in the code.

MORE INLINE COMMENTS IN THE CODE.  Especially highly abstracted things like the worker_base.py.

[2021-03-02 13:02] #1060 closed

[2021-03-02 13:04] sgoggins commented on #1052
@MohitPatni0731 : I think the way to do it is to build a table with a repo_id -- contributor_id column map. It would serve as a many to many bridge table.

[2021-03-02 13:04] #690 closed

[2021-03-02 13:05] sgoggins commented on #915
@ivanayov : I know you are close to completing this  ... There were some errors in the pull request. Do you have time to take a looK?

[2021-03-04 08:46] b-thebest commented on #946
Can I work on this issue ?

[2021-03-08 11:45] sgoggins commented on #1153
@ivanayov and @ABrain7710 : Can you please address these errors (they are well explained in the log messages) ASAP?
1. create a new branch from dev locally `git checkout -b dev-viz-docfix` and `dev-logs-docfix` respectively, make the fixes, and push back to github, then create a PR to merge into `dev`?

Thanks!

[2021-03-08 11:49] sgoggins commented on #1153
Current build number: https://readthedocs.org/projects/oss-augur/builds/13188633/

Logstash Errors:
[code]

Visualization API Doc Errors:
[code]

- [ ] Fix Viz api docs
- [ ] Fix logstash docs

Thanks!

[2021-03-08 11:50] sgoggins commented on #1153
@ivanayov and @ABrain7710 : Can you please address these errors (they are well explained in the log messages) ASAP?

    create a new branch from dev locally git checkout -b dev-viz-docfix and dev-logs-docfix respectively, make the fixes, and push back to github, then create a PR to merge into dev?

Thanks!

[2021-03-08 11:55] sgoggins commented on #1134
There are 3 main issues developers encounter when first installing Augur:
1. The absence of a `gcc` or `fortran` copiler, required by numpy and nltk python libraries.
2. Conflicting versions of Python: The fix is platform specific. On Max OSX, more often than not multiple versions of python have been installed by the OS, brew, Anaconda, or a combination of both. The result is some python commands

[2021-03-08 11:55] sgoggins commented on #1134
We have time setup this evening, US time, to resolve your specific configuration! 👍

[2021-03-08 11:55] #1134 closed

[2021-03-08 12:21] sgoggins commented on #1018
Closing issue. its fixed in PR #1133

[2021-03-08 12:21] #1018 closed

[2021-03-08 12:21] sgoggins commented on #931
This issue is fixed.

[2021-03-08 12:21] #931 closed

[2021-03-08 12:22] sgoggins commented on #915
@ivanayov : This is my weekly, weak, plea for help. :)

[2021-03-08 12:27] sgoggins commented on #937
Installation poses a roadblock for developers who have, for one reason or another, had one of these three issues. After years of troubleshooting, nearly every installation faces these issues:

There are 3 main issues developers encounter when first installing Augur:
1. The absence of a `gcc` or `fortran` copiler, required by numpy and nltk python libraries.
2. Conflicting versions of Python: The f

[2021-03-08 12:30] #937 closed

[2021-03-08 12:34] sgoggins opened #1155 "Update Visualization Captions and Titles in API : "drive-by" == "fly-by""
"Drive-by" has an idiomatic association with urban violence in the US, so we have agreed to change the language from this unintentional association to a more general "Fly-by" language. Though the term "Drive-by" is used in open source more broadly, its replacement in Augur will be easily understood, and the change is lightweight (ish).

This is only present in the Augur Visualization API, and asso

[2021-03-08 12:37] sgoggins commented on #1072
@abhinavbajpai2012 : Did we get this one?

[2021-03-08 12:47] sgoggins commented on #1153
@ivanayov and @ABrain7710 : Here's how I create and push a branch like above:
[code]

Then, once I change something, I push.  When I'm done, PR!

You can test locally with `make docs`

[2021-03-08 16:36] ivanayov commented on #915
@sgoggins I'll take a look.

[2021-03-08 22:00] ABrain7710 commented on #1153
@sgoggins I'm not seeing where to view the error messages after I build it with `make docs`

[2021-03-09 06:06] sajenjeshan1222 commented on #1149
can you assign it to me ?

[2021-03-10 11:26] rohanreddych commented on #1155
Hello!! I want to contribute to this. I was trying to run on my computer but `npm run build` gave many errors. So I looked at http://zephyr.osshealth.io/insights/. I think "drive-by" is a type of contributor. But I could not see it being mentioned anywhere, except for contributor_reports.py. Can you please help me?

[2021-03-12 10:10] maxhbr opened #1174 "Start of fresh database (via docker) fails with SQL error in `43-schema_update_45.sql`"
**Description:**
On latest master (https://github.com/chaoss/augur/commit/f2bafd8e7b2c2443354118ee742c129007c28099) the latest database migration (https://github.com/chaoss/augur/blob/master/schema/generate/43-schema_update_45.sql) fails with `ERROR:  zero-length delimited identifier at or near """" at character 31`.

**How to reproduce:**
[code]

**Software versions:**
 - Augur: latest master htt

[2021-03-12 10:13] maxhbr commented on #1174
Maybe the line https://github.com/chaoss/augur/commit/3329015746dbabb1fa5e1d55ef3a0416ebf22c21#diff-3082f6d5723fd6a7f333e442f6ed72739ad9ee9faa7f0ef2780b4bea8d226242R33 needs to be modified:
[code]

[2021-03-12 10:16] maxhbr commented on #1174
The line https://github.com/chaoss/augur/commit/3329015746dbabb1fa5e1d55ef3a0416ebf22c21#diff-3082f6d5723fd6a7f333e442f6ed72739ad9ee9faa7f0ef2780b4bea8d226242R33 needs to be modified:
[code]

[2021-03-12 15:00] #1174 closed

[2021-03-13 17:49] sgoggins opened #1179 "GSoC Idea: Advancing Risk Prediction With Machine Learning in Augur"
# Ideas for Google Summer of Code projects

Interested in working with CHAOSS? Below are some project ideas. We describe how to apply to work with CHAOSS and how we select students on a different page: https://github.com/chaoss/governance/blob/master/GSoC-interest.md

## Idea: Advancing Risk Prediction With Machine Learning in Augur
Currently Augur uses computational linguistics, dependency mappin

[2021-03-13 17:52] sgoggins opened #1180 "GSoC Idea: Automatically identify Contributor Aliases (emails, platform user accounts) to Increase Parsimony of Statistics and Metrics With Privacy Enhancement"
# Ideas for Google Summer of Code projects

Interested in working with CHAOSS? Below are some project ideas. We describe how to apply to work with CHAOSS and how we select students on a different page: https://github.com/chaoss/governance/blob/master/GSoC-interest.md

Micro-tasks and place for questions https://github.com/chaoss/augur/issues/1180

This project will generalize, and make available t

[2021-03-13 17:58] sgoggins opened #1181 "GSoC Idea: Develop a Shared Data Resource Focused on Dependencies, Risk and Vulnerabilities in Open Source Software"
The aim of this work is to understand the code based dependencies embedded within a piece of open source software. This metric explicitly excludes infrastructure focused dependencies like databases, and operating systems, which are defined in the “upstream infrastructure dependencies” metric.

**Objectives**
 - This software project is aimed at understanding the language level, non-infrastructure

[2021-03-13 18:23] SteveKola commented on #1179
Hi,

I'm Steven Kolawole, a CS junior from FUNAAB, Nigeria. I'm quite interested in this project idea so I'll get busy with the microtasks.

Thank you for having me. 🙂

[2021-03-13 20:14] Venkatavaradan-R commented on #1180
@sgoggins this Idea/Issue seems to have been repeated by mistake.
#1179 Has the same content!

[2021-03-13 20:17] Venkatavaradan-R commented on #1179
Hello!
This project sounds very interesting! Looks like its time to get to work :)

[2021-03-13 20:27] Riyabelle25 commented on #1179
Hey guys!
I have augur all set up, will start data collection soon now. Also looked at the open issues😄

[2021-03-14 00:39] sgoggins commented on #1180
@Venkatavaradan-R : Thanks for catching that!  I did this after a hackathon while not feeling well. Sorry about the mistake!  I fixed it!

[2021-03-14 08:31] Edlison commented on #1179
Hi everyone!

I'm really interested in this project and already deploy the environment locally. I will devote myself to the micro-task recently.😃

[2021-03-15 06:54] Dhruv-Sachdev1313 commented on #1149
@abhinavbajpai2012 @sgoggins  Can there be a problem with id and iid in worker_base.py when calling the gitlab api in this case?

[2021-03-16 12:36] sgoggins commented on #1179
If anyone would like access to a larger scale psql backup so you have data for ML, let me know. I can make a gzipped file available, or give you read only access to a db you can selectively download from! @Venkatavaradan-R  / @Edlison  / @Riyabelle25  /  @SteveKola : I'm talking to you. 💯

[2021-03-16 13:09] Dhruv-Sachdev1313 commented on #1181
Hello @sgoggins
I have a little doubt regarding this project's objective. So is this project about developing a software that identifies dependencies and vulnerabilities? Or using the existing tools to develop a database for the same ?If you can explain it a little that would be really helpful.

[2021-03-16 16:32] blaze-fire commented on #1179
Hello everyone!
I also want to contribute to the project. I am done with the installation. Will start data collection, also looking at open issues

[2021-03-19 11:38] Dhruv-Sachdev1313 commented on #1181
hello @sgoggins
Does here implicit dependencies mean the dependencies not specified directly in package manager data ? So how do we get to know about those dependencies.

[2021-03-19 11:52] Dhruv-Sachdev1313 commented on #1180
Hello @sgoggins @ABrain7710 , If a person uses different email-ids within a platform , What key/keys should be considered to map them. For eg: Name or combination of name and something ? . (Here name is not reliable but just for example )
 If I am getting the idea wrong , please do correct me ..

[2021-03-20 13:11] sgoggins commented on #1179
There have been releases of Augur each of the past two Mondays.  I expect this trend to continue. We have updates to our clustering worker that are exciting!

Collecting data can be time consuming, and I am happy to provide a prepopulated schema.

[2021-03-20 13:12] sgoggins commented on #1181
@Dhruv-Sachdev1313 : Simply put, there is more here than we can do in a summer. We will be guided by the Risk working group on what we choose. I think playing with the Libyear implementations against some augur data is a really good start!

[2021-03-20 13:13] sgoggins commented on #1181
There will be some design discussion at the start of this task for sure!!

[2021-03-20 13:14] sgoggins commented on #1155
Fixed!

[2021-03-20 13:14] #1155 closed

[2021-03-20 13:15] sgoggins commented on #1149
@Dhruv-Sachdev1313 : Can you point me to where you're looking in the cod?

@sajenjeshan1222 : Let me know if you are working on this issue.

[2021-03-20 13:16] sgoggins commented on #1086
I believe this issue is fixed in our release last Monday, and earlier patch. @maxbalk : Can you confirm it builds for you now?

[2021-03-20 13:16] #1086 closed

[2021-03-20 13:18] sgoggins commented on #1070
I believe this issue is fixed.

[2021-03-20 13:18] #1070 closed

[2021-03-20 13:19] sgoggins commented on #1052
@MohitPatni0731 : Let us know if you are working on this issue and would like to have a brief convo about addressing it.

[2021-03-20 13:20] sgoggins commented on #1030
This issue is fixed.  There are now review messages in the Augur database.

[2021-03-20 13:20] #1030 closed

[2021-03-20 13:21] sgoggins commented on #1006
The contributor breadth worker now does this, and populates the data in the contributor_repo table.

[2021-03-20 13:21] #1006 closed

[2021-03-20 13:21] sgoggins commented on #946
@b-thebest : YES!

[2021-03-20 13:22] sgoggins commented on #981
@kailynw : Any updates?

[2021-03-20 13:22] sgoggins commented on #915
We are testing a recent pull request from @ivanayov right now.

[2021-03-20 13:24] sgoggins commented on #927
Done

[2021-03-20 13:24] #927 closed

[2021-03-20 13:25] sgoggins commented on #942
I think this is no longer a concern.

[2021-03-20 13:25] #942 closed

[2021-03-20 13:26] sgoggins commented on #1153
This is fixed!

[2021-03-20 13:26] #1153 closed

[2021-03-20 13:45] sgoggins commented on #1181
This spreadsheet of the Risk working group's minimum viable metrics are a good place to start to understand what we will build first. https://docs.google.com/spreadsheets/d/1hNCtgHkA3uwB4OrUS0gXkXpOwWsJMbIBMzek3j_E3mw/edit#gid=855606942

[2021-03-20 20:56] sgoggins opened #1199 "Implement the hdpmodel module from gensim for topic modeling in the clustering_worker"
There is significant diversity in the optimal number of topics in a topic model for any given collection of repositories. The hdpmodel module from gensim accommodates this diversity by determining the optimal number of topics for a given collection. Currently, it is preset, and could easily be configurable. However, the number is going to be different for each collection of repositories we do topi

[2021-03-20 21:15] sgoggins commented on #1199
Here's another useful link: https://towardsdatascience.com/unsupervised-nlp-topic-models-as-a-supervised-learning-input-cf8ee9e5cf28

[2021-03-20 21:18] sgoggins commented on #1199
Another useful link: https://nlpforhackers.io/topic-modeling/

[2021-03-20 21:18] sgoggins commented on #1199
And Another: https://www.machinelearningplus.com/nlp/topic-modeling-gensim-python/#15visualizethetopicskeywords

[2021-03-21 08:05] Dhruv-Sachdev1313 commented on #1149
@sgoggins I guess I was wrong about the id and iid problem , the issue here seems different

[2021-03-22 06:50] blaze-fire commented on #1179
Hello @sgoggins,
It will be helpful to have a gzipped file available, as mentioned by you, as I am having trouble with data collection 😅.

[2021-03-22 19:05] sgoggins opened #1203 "Add time period parameterization to merge request (PR) visualization endpionts."
To have the merge request (PR) endpoints include time period parameterization.

As @ABrain7710 and I discussed, they do not currently, because @sgoggins decided at some point we did not need that for those endpoints. @sgoggins was wrong.

average PR Duration: Not respecting the month parameter.
http://spos.osshealth.io:5099/api/unstable/pull_request_reports/Average_PR_duration/?repo_id=25531&remov

[2021-03-23 06:41] Kashyap03-K commented on #1072
Hello i am a beginner and as this is a good first issue can i work on this one ?

[2021-03-23 15:15] BoxuanZhao commented on #1179
Hello everyone！
I'm Boxuan Zhao, a CS graduate student from Shanghai Jiao Tong University, China. I'm really interested in this idea and want to contribute to the project. I have already installed Augur. Now working on looking at open issues and data collection. @sgoggins Could you help me get access to the database you mentioned above?

[2021-03-24 08:51] BoxuanZhao commented on #1179
By the way, there are some typos in the content: “Augur is more advanced in its machine learning ~~that~~ **than** basic recommender systems”; the Worker directory link may be https://github.com/chaoss/augur/tree/master/workers 😀

[2021-03-26 04:30] jphillips3275 opened #1208 "Problem deploying augur"
Our group tried to deploy augur using docker on a digital ocean droplet but couldn't get docker compose working. Here is the terminal output we got:
ERROR: for augur_backend_1  Cannot start service backend: driver failed programming external connectivity on endpoint augur_backend_1 (1c0e6949bf1e41e198306064eabdd352e993427f8c9525172c8ba15af4c721ed): Error starting userland proxy:

ERROR: for backen

[2021-03-26 10:58] orionkepler opened #1209 "Problem deploying Augur"
Our team try to deploy augur on the server, when we run command augur backend start, we can not connect to the database, and the terminal outputs:

conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "vultr.guest" (127.0.1.1) and accepting

[2021-03-28 20:08] sgoggins commented on #1208
Can you provide a little more information? Is it working locally.

[2021-03-28 20:24] sgoggins commented on #1180
@Dhruv-Sachdev1313 : The most significant part of this is how we store the data. Commits are the only information we don't get directly from a platform (we use the git log), and most of those emails resolve with the current contributor worker to the individual's github id, which we store.

However, there are lots of imperfections in practice. For example, we do not identify the most often used ema

[2021-03-28 20:27] sgoggins commented on #1209
Have you tried connecting to the database locally from the command line?  Something like `psql -U augur -p 5432 -h localhost database_name` ? Are you sure postgres is running? Try `ps -ef | grep postgres` ... if you dont see something like this:

[code]

Chances are its not running.

[2021-03-29 06:59] Dhruv-Sachdev1313 commented on #1180
@sgoggins A short zoom call would be really helpful . Can we plan that

[2021-03-30 16:52] ADI10HERO commented on #1181
@sgoggins
Is it like creating GitHub's Dependabot?

[2021-04-01 11:39] sgoggins commented on #1216
@germonprez : @ABrain7710 Has these endpoints working as API visualizations, and @Ulincsys is working on a front end for augur that puts these reports on a page. Once that is done, we can also generate a push notified link to a PDF.
ETA: 3 weeks.

[2021-04-01 15:10] jphillips3275 commented on #1208
It is not currently working locally

[2021-04-01 16:30] sgoggins opened #1218 "NULL Count instead of actual count on some visusalization API Reports"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
As an example:
For this URL:
http://augur.coronashelterfun.com:5044/api/unstable/contributor_reports/returning_contributors_stacked_bar/?repo_id=1

There are flyby contributors, but there is a NULL value in the count displayed.

![image](https://user-images.githubusercontent.com/379847/1133249

[2021-04-01 16:32] sgoggins opened #1219 "Still some occurences of "Drive-By" instead of "Fly-By" in Viz API Legends"
Here you can see the title is "Fly-By", but the legend on the visualization still says "Drive By":
http://augur.coronashelterfun.com:5044/api/unstable/contributor_reports/returning_contributors_stacked_bar/?repo_id=1

![image](https://user-images.githubusercontent.com/379847/113325382-f6254f00-92dd-11eb-9075-47965563bafd.png)

[2021-04-01 16:35] sgoggins commented on #1208
@jphillips3275 : We really need more information than "its not working".
My suspicion is that there is an issue with digital Ocean, but I cannot know that without some logs, and description of how you deployed it.  Also, if you have a postgres server already running, the database Docker container is going to try to use the same port, and that could cause you trouble.

[2021-04-01 16:37] sgoggins commented on #1181
I think any implementation of any small part of a tool that evaluates risk is going to be a sufficient. On this spreadsheet are a list of other tools to explore:

 https://docs.google.com/spreadsheets/d/1hNCtgHkA3uwB4OrUS0gXkXpOwWsJMbIBMzek3j_E3mw/edit#gid=855606942

Risk working group information is located here: https://github.com/chaoss/wg-risk

[2021-04-01 16:39] sgoggins commented on #1179
@BoxuanZhao : Do a PR and fix them! :)

[2021-04-06 20:34] #1209 closed

[2021-04-07 07:51] gymgym1212 commented on #1179
Hi, I'm Yeming Gu, undertaking master's degree at East China Normal University . It's my first time to participate in the GSoC but not the first time to know about CHAOSS and augur. I'm busy in micro-tasks. Thanks for having me, and let's do some amazing work.

[2021-04-07 17:42] sgoggins commented on #1219
Pull Request #1220 fixed this.

[2021-04-07 17:42] #1219 closed

[2021-04-07 17:43] #1208 closed

[2021-04-07 17:44] sgoggins commented on #1179
Everyone, your microtask here could simply be thinking about looking a Jupyter Notebook using https://github.com/chaoss/augur-community-reports that examines the repo_labor table, or pulls data from a package manager API to identify dependencies.  Very simple.

[2021-04-07 17:46] sgoggins opened #1226 "Gather GERRIT Change Request Data"
Following the GitLab and GitHub examples, in the workers/directory, and using functions available in workers/worker_base.py, build a worker that will gather Change Request information from Gerrit repos.
1. Familiarize yourself with GERRIT API
2. Pull related data
3. Develop into worker.

[2021-04-07 17:47] sgoggins commented on #1216
We have this working now!

[2021-04-07 17:47] #1216 closed

[2021-04-08 10:47] gymgym1212 opened #1227 "What does the output 'Housekeeper spawned .... for repo group id 0' mean?"
After installation, I create a new repo group with id 50 and add a repo to this group. Continue, I run the `augur backend start`, but it is stuck without more info.
What does the **_repo group id 0_**  mean? And do I get the correct information after `augur backend start`? By the way, I can't find the repo I want in the directory right now.
<img width="951" alt="image" src="https://user-images.git

[2021-04-08 13:50] gymgym1212 commented on #1227
Oh, maybe it's a problem with the Internet. When I got home and tried it again, it could keep going. But it stuck again as the image below and there are some errors.
<img width="564" alt="image" src="https://user-images.githubusercontent.com/37684061/114038231-44c18300-98b4-11eb-85d4-4d75919418fa.png">

<img width="563" alt="image" src="https://user-images.githubusercontent.com/37684061/114038140-

[2021-04-08 19:59] sgoggins commented on #1227
`repo_group = 0` is a default for ALL repository groups.

[2021-04-09 00:52] gymgym1212 commented on #1227
Thanks :)

[2021-04-10 03:19] gymgym1212 commented on #1179
@sgoggins , worker page is not found https://github.com/chaoss/augur/workers .

[2021-04-10 03:23] BoxuanZhao commented on #1179
https://github.com/chaoss/augur/tree/master/workers

[2021-04-10 03:45] gymgym1212 commented on #1179
@BoxuanZhao Thank you and I thought these two pages were different before.

[2021-04-11 11:14] gymgym1212 opened #1228 "Got empty pull_request_message_ref table"
**Description:**
I want to  collect data and create a PR analysis report using augur-community-repots. But I get error in `pull_request_analysis_template.ipynb` and find that there is no data in pull_request_message_ref table.

**How to reproduce:**
1. install augur
2. add repo groups and repo
3. use default config file
4. start augur backend
5. There is no data in pull_request_message_ref table

[2021-04-11 11:24] gymgym1212 commented on #1228
In the source code, I saw that pull_request_worker is responsible for collecting GitHub data of pull_request_message_ref table, so I turned on its switch separately and ran it, but there was still no data.

[2021-04-12 19:16] sgoggins commented on #1228
@gymgym1212 : I recognize your icon from class. I have a problem with that server right now and provided a second alternative.  I will share it with you in slack, but its also in the assignment notes.

[2021-04-12 19:16] #1228 closed

[2021-04-13 03:43] gymgym1212 commented on #1228
@sgoggins Hi, Mr. Goggins! Did you mis-recognize my GitHub icon as your student's? I am a graduate student at East China Normal University, applying for GSoC. I want to do some work about risk prediction idea and I will upload my proposal and submit a PR to the GSoC-interest page soon.

[2021-04-13 21:58] sgoggins commented on #1228
Yes. I'm sorry!  I hope you got your proposal in!

[2021-04-13 21:58] sgoggins commented on #1228
If you just installed augur, then that table is probably not populated. I'll make a point of adding a populated test data set for download and put it into the repo soon.

[2021-04-14 01:30] jsaied99 opened #1229 "Repo listing not working on dev"
when running dev under my branch I get this error:
**Description:**
Uncaught (in promise) Error: Navigation cancelled from "/" to "/group/Default%20Repo%20Group/overview" with a new navigation.
    at He (vue-router.esm.js:2065)
    at qe (vue-router.esm.js:2047)
    at p (vue-router.esm.js:2354)
    at r (vue-router.esm.js:2004)
    at r (vue-router.esm.js:2008)
    at r (vue-router.esm.js:2008)

[2021-04-16 09:31] sgoggins commented on #1229
Hi @jsaied99 : We are aware of this issue. Would you be willing to build us a patch?

[2021-04-16 09:32] #1227 closed

[2021-04-16 09:34] sgoggins commented on #1226
This issue can, effectively, copy the pattern in the pull_request_worker, and the gitlab_merge_request_worker, map the Gerrit API to the columns in the related tables, and be completed. Its a great way to learn the Augur Worker architecture.

[2021-04-16 09:36] sgoggins commented on #1226
@parthsharma2 : I think this issue would be a slam dunk for you, and it would let you see just how far Augur has come in the past two years. :)

[2021-04-16 09:41] sgoggins commented on #1181
I am leaving this issue open for the convenience of potential GSoC Students for the time being.

[2021-04-16 09:41] sgoggins commented on #1180
I am leaving this issue open for the convenience of potential GSoC Students for the time being.

[2021-04-16 09:42] sgoggins commented on #1179
I am leaving this issue open for the convenience of potential GSoC Students for the time being.

[2021-04-16 09:44] sgoggins commented on #1149
@Dhruv-Sachdev1313 Perhaps we can look at this together next week, or over the weekend. THe GitLab API is perplexing, but I think I am figuring it out. The most significant differences are :
1. less well developed documentation and
2. ambiguity regarding what you get for free, and what you have to pay for.

IMHO.

[2021-04-16 11:34] Dhruv-Sachdev1313 commented on #1149
@sgoggins Yess,  I would love to find out about this one !!

[2021-04-18 18:12] parthsharma2 commented on #1226
@sgoggins I have been away for quite some time now & this seems to be a pretty good opportunity to come back :)

Do you have any deadline in mind to get this completed? Will probably need some time to setup Augur + got some work stuff this week. Most probably will be able to begin work on this by the end of this week.

Also, do you have a GERRIT instance hosted somewhere for experimentation?

[2021-04-19 01:15] luchiago opened #1234 "Troubles using Augur"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
Hi. I am a researcher student trying to use Augur for research purposes.  I followed the [documentation](https://oss-augur.readthedocs.io/en/master/getting-started/toc.html) and chose the path of installing all the components of Augur on my machine (PostgreSQL, Python, and Node). I ran the `ma

[2021-04-21 00:47] luchiago commented on #1234
Ok, @sgoggins I will try again and get the log to post here. Thanks for the response.

[2021-04-26 00:35] luchiago commented on #1234
Hi, @sgoggins I tried again, but this time I followed the docker instructions because I need to test it right way the project. I followed all the instructions and added one repo (almost 2k of commits there) with the commands from `db` and observed the log to see if something appears. Turns out, I noticed two things:
* When I enter in the database of the docker container and run the command `\dt` t

[2021-05-12 10:52] KShivendu opened #1248 "APIs endpoints are not working"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
I am trying out the API endpoints described in https://oss-augur.readthedocs.io/en/master/rest-api/api.html#tag/utility. But for some reason, none of them are working and I'm just getting status as 500 every time. Am I doing something wrong here? Or are the APIs really that unstable as right n

[2021-05-12 10:57] KShivendu opened #1249 "VueJS app is not in production mode"
**Description:**
I was going through the output in the browser console and I discovered that multiple requests were sent to different endpoints of `http://augur.osshealth.io:5055/api/` and they were called from `.ts` files. I might be wrong but I don't expect .ts files to be found in production mode. I think this might be a bug.

**How to reproduce:**
1. Go to `http://augur.osshealth.io/errors`
2.

[2021-05-12 11:06] KShivendu opened #1250 "Use https in the website"
**Description:**
Hi, I tried using `https://augur.osshealth.io/any/valid/path` but the browser says that the site can't be reached.
Also, I discovered that the APIs are exposed at `http://augur.osshealth.io:5055/` which kind of looks odd because of the `5055` port. Maybe using `api.augur.osshealth.io` or  `augur-api.osshealth.io` will be better.

I think that the maintainers might be aware of this

[2021-05-17 13:10] yumberrjack commented on #1218
The relevant code I have been looking over is the contributer_worker.py file.
I believe there is a logic error in the SQL query for the userSQL. The worker runs the SQL query at line 58 to find all the combinations of emails and names by searching through the queries commits. There are some areas of the code I don’t quite understand such as line 67: “WHERE repo_id = :repo_id” which has one colon w

[2021-05-18 05:13] sta97 opened #1253 "worker unable to connect to broker"
I am attempting to add my own worker and I get "could not connect to broker" messages when attempting to start it.
I am not sure how to provide more information because I don't get more information from the log.
I have this issue both when starting the worker with "x_worker_start" and enabling the worker to start with augur in the config.

[2021-05-18 14:37] sgoggins commented on #1253
I think you have uncovered a gap in our documentation. There are two places you need to add sections to the `augur.config.json` file in your Augur Root directory (assuming you have completed the `make install-dev` command, which generates that file. If you used `make install`, then it will be in your $HOME/.augur/augur.config.json directory.

In the house keeper block, you need to add something fo

[2021-05-24 13:56] sgoggins commented on #1250
I @KShivendu : If you have wrapped Flask in HTTPS before, we welcome any assistance you can provide the project. We ARE aware, and THANK you for opening this issue!!!

[2021-05-25 14:04] sgoggins commented on #1253
@ABrain7710 : Can you see if you can get this worker to "run".  I have it connecting to the broker on the branch we built yesterday, but I have *no* idea why its not picking up jobs.  .... Maybe check that all the necessary operations_tables are included and spelled correctly?

[2021-05-25 14:07] sgoggins commented on #1234
Hi @luchiago : I am assigning this issue to myself and our core developers. I know there is an issue with the Docker frontend right now. We are meeting today, and this will top the list.

[2021-05-25 14:08] sgoggins commented on #1234
@Ulincsys : I only assigned this to you because I have not added Isaac yet. This may be an issue @Dhruv-Sachdev1313 or one of the students who begins research credits can take on as well. Lets discuss this issue today.  Its a "blocking issue".

[2021-05-25 19:13] sgoggins commented on #1253
I fixed this for you in the latest version of `dev` and `test`, @sta97 .. you were missing the Housekeeper block.

[2021-05-25 19:13] #1253 closed

[2021-05-25 20:32] KShivendu commented on #1250
Hey @sgoggins, I'm sorry if you felt that my comment was rude. I had no such intentions, I like the augur project and I just wanted to help :)

[2021-05-31 18:17] ABrain7710 commented on #1218
Unable to replicate issue

[2021-05-31 18:17] #1218 closed

[2021-05-31 18:19] ABrain7710 commented on #1248
All the endpoints should be up and working again

[2021-05-31 18:19] #1248 closed

[2021-06-04 18:11] sgoggins commented on #1250
@KShivendu : I agree with you that https will be better.

[2021-06-23 03:26] ritika99 opened #1289 "Add dark mode toggle icon"
**Is your feature request related to a problem? If so, please describe the problem:**
Adding a dark mode icon instead of text will enhance the UI.

**Potential solutions:**
Add a dark mode icon that toggles.

**Additional context:**
<img width="227" alt="Screen Shot 2021-06-23 at 8 55 43 AM" src="https://user-images.githubusercontent.com/35415933/123030699-d3986300-d400-11eb-8338-2100ba057016.png"

[2021-06-23 17:58] Yogita98 commented on #1229
Hey hi @sgoggins
If this issue is still actionable then I'd be willing to give it a shot. Maybe if you can share any pointers on how do I repro the issue then it'd be great.

[2021-06-23 18:01] Yogita98 commented on #1250
Can we use something like [talisman](https://github.com/GoogleCloudPlatform/flask-talisman) to wrap the flask app?

[2021-06-24 19:59] sg7801 opened #1292 "Minor enhancements in Readme.md"
There are several minor issues in the Readme.md that need to be fixed for the enhancement of the documentation.

[2021-06-24 22:40] #1292 closed

[2021-06-26 20:17] sgoggins commented on #1229
fixed

[2021-06-26 20:17] #1229 closed

[2021-06-26 20:18] #1180 closed

[2021-06-26 20:18] #981 closed

[2021-06-26 20:19] #1149 closed

[2021-06-28 02:51] aparnaabraham commented on #1203
Hello, I would like to work on this issue.

[2021-06-28 18:20] josselineperdomo commented on #946
Hello @sgoggins, is this issue still available? I'd like to work on it :)

[2021-06-29 22:03] caifand opened #1301 "Contributor disambiguation"
Hi & thanks to whoever coming to help,

**Description:**
I am trying to get a time-windowed full activity history of repositories using Augur collected data. By *full activity history* I mean all sorts of activities on the record, including commits, pull requests, and issues. By this analysis I am trying to get a list of contributors who have worked on a single repo during a certain time period.
I

[2021-07-05 16:57] maxhbr commented on #1113
I would suggest to also have a look at https://github.com/maxhbr/LDBcollector/tree/generated. This is also a comprehensive set of license metadata and classification and the license conditions are clear

[2021-07-07 16:27] sgoggins commented on #946
@josselineperdomo : Yes

[2021-07-07 16:31] sgoggins opened #1315 "Tests for Workers"
**Is your feature request related to a problem? If so, please describe the problem:**
We should have tests for workers that, given a set of test repos, like those at http://augur.chaoss.io/api/unstable/repos will verify that the worker accesses the necessary API (where Appropriate), or repo data, or data in the Augur database already (depends on the worker), and is able to persist the results as e

[2021-07-07 16:36] sgoggins opened #1316 "Have Housekeeper run workers in a deterministic order"
**Is your feature request related to a problem? If so, please describe the problem:**
Currently, Augur runs all the workers with `switch=1` when it starts. Logically, in order to optimize the contributor data, and minimize duplicate contributors (as a possibility), workers should run in the following order:

1. Facade
2. GitHub (Issues), GitLab Issues Worker, Linux Badging Worker, Dependencies Wor

[2021-07-07 16:38] sgoggins opened #1317 "Game Oriented Insight Worker Mobile App"
It would be great to gameify use of a mobile app against insights from the insight worker, or any of the machine learning workers. Completely open to creativity here.

<img width="1159" alt="augur-tech" src="https://user-images.githubusercontent.com/379847/124797431-dbcfc280-df17-11eb-838b-7718a29728a1.png">

[2021-07-07 16:44] sgoggins opened #1318 "Map API Endpoints to CHAOSS Metrics"
We have had this feature in the past. The location of the CHAOSS Metric definitions have evolved a lot, so we stopped providing this information, and related links, in our api documentation: https://oss-augur.readthedocs.io/en/master/rest-api/api.html

I suggest the best way to implement this feature would be to look at the chaoss_metric_status table, and simplify it to include the augur endpoint,

[2021-07-07 16:53] sgoggins opened #1319 "Repository Discourse Analysis Pipeline Worker"
We have several workers that store machine learning information derived from computational linguistic analysis of data in the `message` table. The message table includes messages from issue, pull request, pull request review, and email messages. They are related to their origin with bridge tables like `pull_request_message_ref`. The ML/CL workers are all run against all the messages, regardless of

[2021-07-07 16:56] sgoggins opened #1320 "Augur Schema Documentation"
There's a relational logic, and a pattern to table relations visible here:
https://oss-augur.readthedocs.io/en/master/schema/data-model.html?highlight=schema#schema-overview

![image](https://user-images.githubusercontent.com/379847/124799553-4b46b180-df1a-11eb-8659-a65eb41985c1.png)

[2021-07-07 16:58] sgoggins opened #1321 "Analytical Notebook Creation"
Examine the Augur Schema, and request access to a populated sample. Develop Jupyter Notebooks that help to answer questions about open source health and sustainability, value, DEI, and/or risk across multiple repositories. This one is open to your imagination. You can find many examples at https://github/chaoss/augur-community-reports

[2021-07-07 17:01] sgoggins opened #1322 "Advance Augur's new Twitter/Bootstrap based frontend"
Source code is here: https://github.com/augurlabs/augur_view

Create issues if you have trouble installing it.  The Current Augur Interface is a decent guide (http://augur.chaoss.io) and we think additions like those noted here would also be useful:

[20210628.pdf](https://github.com/chaoss/augur/files/6778907/20210628.pdf)

[2021-07-07 17:03] sgoggins opened #1323 "Augur Zapier Notification System"
Explore the use of Zapier as a tool for sending diverse notifications in diverse formats (email, slack, text, etc.)  Important for push notification, and open to a developer's imagination!

https://zapier.com/

[2021-07-07 17:06] sgoggins opened #1324 "Update Workers and Schema to Include issue_id/review_id/pr_id in bridge tables AND platform message ID in message table"
All of the data is presently available in base tables for issues, pull/merge requests, and pull/merge reviews. Its "relationally perfect".  HOWEVER, it does make it harder for newcomers to implement queries on messages if the issue_id, and repo_id are not included in the message table. Or, at least the bridge entities.

This is a complex issue and we would work closely with anyone interested on it

[2021-07-07 17:08] sgoggins opened #1326 "Time Series Analysis of contributor_repo table"
The contributor_repo table enumerates contributions that contributors in an Augur instance make across open source. Understanding level, diversity, and temporal cycles of contributions across open source would be helpful to many open source developers seeking new projects. Or fun.

[2021-07-07 20:53] sgoggins commented on #1315
The platform identifier for a message is also desired.

[2021-07-08 23:30] sbrennan98 commented on #1249
Hello Kumar. Thank you for the heads up!

I went ahead and looked into this issue and, after about ten hours of looking into it and the documentation for Vue CLI & Webpack, I can say with ~98% certainty that it's actually a nonissue.

While all typescript is ultimately transcompiled into javascript, it is my understanding that the logs from the ```.ts``` files in the dev console are okay and not i

[2021-07-09 07:35] maxhbr opened #1333 "github_worker tries to write `False` into the `bigint` column `actor.site_admin`"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
While running, one can observe
- error messages in the scheduler, that tells that the `github_worker` failed
- an corresponding error log in the DB: `invalid input syntax for type bigint: "False"`

**How to reproduce:**
1. use https://github.com/chaoss/augur/commit/aefae226106703fa5e1053802a0c

[2021-07-10 12:07] Ayushdubey86 opened #1335 "Minor Enhancements in contributing.md"
There are several minor issues in the CONTRIBUTING.md that need to be fixed for the enhancement of the documentation.

[2021-07-12 06:30] Yogita98 commented on #1324
Hey @sgoggins
If this issue is up for grabs, I'm interested to give it a shot

[2021-07-12 17:50] #1335 closed

[2021-07-12 17:58] #1249 closed

[2021-07-12 17:59] sgoggins commented on #1333
@IsaacMilarky : Can you make this fix?

[2021-07-12 23:29] jberkus opened #1338 "UI deployment docs are unclear, please help?"
Deployment of the Augur Frontend without using a container [is undocumented](https://oss-augur.readthedocs.io/en/master/getting-started/frontend.html) (there's a big "TODO" in the docs).  Deploying it [using a container](https://oss-augur.readthedocs.io/en/master/docker/docker-compose.html) is somewhat documented, in that it tells us to use the docker-compose script.

However, in the actual [docke

[2021-07-12 23:30] jberkus commented on #1338
Tag @cdolfi

[2021-07-12 23:36] sgoggins commented on #1338
@jberkus : You are right. The docs are unclear for the frontend Docker container. I will get those docs updated, and the container updated this week. We are in the process of altering the frontend so its less labor intensive to maintain. @Ulincsys is working on a Twitter/BootStrap version, which is noted in another open issue.

Our docs are constantly improving, but I'm not going to point you down

[2021-07-12 23:37] sgoggins commented on #1338
You *can* run the frontend against containers, but I think updating that container is a better first attempt while we finish our longer term goal.

[2021-07-12 23:40] sgoggins commented on #1234
@luchiago : There's another open issue right now regarding this Docker frontend. I'll be updating.

[2021-07-13 05:37] unnati914 commented on #1326
I want to work on this

[2021-07-13 05:38] unnati914 commented on #1338
could i work on this?

[2021-07-13 19:24] nynaalekhya opened #1341 "Add documentation to create branch, add and push changes in CONTRIBUTING.md"
Add a few more details on creating branch, add and push changes in CONTRIBUTING.md

[2021-07-14 18:55] #1341 closed

[2021-07-14 18:56] sgoggins commented on #1338
@unnati914 : I would welcome the help. I'm working on it now, but would definitely welcome the help.

[2021-07-14 21:47] jberkus commented on #1338
You can also throw notes somewhere public and I can try to follow them.  I just don't know the first thing about how the UI is suppsoed to be deployed, so I have nowhere to start.

[2021-07-15 16:41] ManasviGoyal commented on #1289
can I work on this issue?

[2021-07-15 19:04] jberkus opened #1348 "add_repos CLI does not populate path, name"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**

Using `augur db add-repos` provides no way to populate the "name" or "path" fields in repo records

**How to reproduce:**
1. Create a new Augur database
2. Add some repos using `augur db add-repos`
3. Repos added will appear like this in the database:

repo_id                      | 25431
rep

[2021-07-15 21:10] jberkus opened #1349 "Augur halts data collection, cannot be restarted"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**

After some hours of operation and importing data from GitHub, Augur stops, without having filled in all data.

**How to reproduce:**
1. New Augur install via Dockerfile
2. Start Augur container
3. Add 70 repos with ~~ 2000 PRs to Augur
3. Run for 36 hours
4. Sometime during the 36 hours,  all

[2021-07-16 05:31] jaskiratsingh2000 commented on #914
@sgoggins @geekygirldawn Hello! As you might know, I have contributed to CHAOSS a lot and even helped CHAOSS build [Community Handbook](https://handbook.chaoss.community/community-handbook/) from scratch as a part of Google Season of Docs. I planned to explore the coding side now and am super interested to contribute here. As I am quite beginner in coding here and would like to take this issue to

[2021-07-16 07:20] geekygirldawn commented on #914
@jaskiratsingh2000 I think @ivanayov has completed this work, but it may not have been merged yet.

I recommend talking to Sean and others on the Augur team to get suggestions for where to start.

[2021-07-16 07:32] jaskiratsingh2000 commented on #914
oh sure. @sgoggins Can you let me know, please?

[2021-07-16 08:27] ivanayov commented on #914
@jaskiratsingh2000 I need to push and update addressing the latest refactoring of `WorkerBase` that go merged. I'm doing this at the moment, so will drop a message once ready. Thanks

[2021-07-16 09:52] jaskiratsingh2000 commented on #914
@ivanayov sure. Do let me know please

[2021-07-16 14:55] sgoggins commented on #1326
@unnati914 : Go for it!

[2021-07-16 16:19] jberkus commented on #1349
More info:

I restarted Augur by deleting the original container image and rebuilding it.  This got the workers to start up again, and I'm not seeing the gitlab errors.  However, they are still not collecting data ... in fact, workers visit repos with hundreds of PRs that have not been imported, and conclude that there is nothing to do (see log below).

The move2kube repo in that log has 401 close

[2021-07-16 16:22] jberkus commented on #1349
going to test blowing away the database today and rebuilding it using v0.17.0

[2021-07-16 17:24] ivanayov commented on #914
@jaskiratsingh2000 I just pushed an update in #1039

[2021-07-16 19:47] jberkus opened #1354 "Database initialization fails for 0.17.0 Augur container"
**Description:**

0.17.0 now relies on having "psql" on the command line for database initialization.  Not only is this not great practice, the Dockerfile for that version does not include the installation of psql, so db initialization fails.

**How to reproduce:**
1. Checkout current master
2. Build a new container image using the backend dockerfile
3. Run the container image as such: `podman run

[2021-07-16 20:02] sgoggins commented on #1354
Thanks, @jberkus ... Oy. Fixing.

[2021-07-16 20:19] jberkus opened #1355 "Create Schema should be idempotent and survive errors"
## The way it is now

Database initialization happens via a manual command.  If a schema already exists (or any DB error is encountered), the augur backend fails and does not start workers.  Part of this is because the schema is loaded via psql instead of using SQLAlchemy models.

This becomes particularly pathological when running Augur in a container, as the `AUGUR_DB_SCHEMA_BUILD=0` is stateful

[2021-07-16 20:29] sgoggins commented on #1355
I see the clear software engineering advantages of this approach. To date I've rigorously managed the schema (it's one part of Augur I stick my nose into on every update, enabling some greater confidence that errant code cannot (easily) corrupt data.).

Because we enforce foreign keys and value constraints in (most, with the aim of all) cases, I have above average confidence that critical data rul

[2021-07-16 20:31] sgoggins commented on #1355
I.e. : we don't get this from jamming json into elastic search.

[2021-07-16 20:36] jberkus commented on #1355
https://pypi.org/project/sqlacodegen/ seems to be the current main tool.  There's nothing that won't require us to hand-tweak the results, though, so it's not like we can auto-generate this from a schema maintained elsewhere and never touch the models by hand. So if we go ahead with this, that means that the model files will become the source of truth for the schema.

[2021-07-16 20:44] NoemiNahomy commented on #1321
The link doesn't work : https://github/chaoss/augur-community-reports

[2021-07-16 23:22] jberkus opened #1357 "CLI should prevent adding duplicate repos"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**

It is currently possible to add duplicate repo records using the CLI.   Instead, a combination of database constraints and error-trapping should prevent duplicates being added.

**How to reproduce:**
1. Create a new augur database
2. Create a file with several repos in it
3. Add those repos u

[2021-07-16 23:23] jberkus commented on #1349
@sgoggins In 0.17.0, data collection does not halt because it never starts.

When I add new repos using the CLI, no worker is spawned to collect data for them.

[2021-07-17 00:16] sgoggins commented on #1357
Rodger that. This one will be an easy fix. Never occurred to me that somebody might do that. 🤣

I'm thinking a unique constraint combing the git url and the repo group id. That way if an org has the same repo in two groups, say for different community managers, we aren't blocking that use case. (An imperfect design. A better solution would be an easier to interact with administrative design, I thi

[2021-07-17 00:48] jberkus commented on #1357
Technically, the cat did it.

[2021-07-17 02:41] jaskiratsingh2000 commented on #914
Oh I see. You pushed the whole

[2021-07-17 03:44] unnati914 commented on #1326
thank you

[2021-07-17 16:44] achalesh27022003 opened #1358 "Adding Contributors Section & Open Source Programs in ReadMe"
I would suggest that there should be a token of appreciation for all the contributors out there to this repository. Therefore, we can add a contributor's section in the documentation i.e. readme below. We can also add tech stacks used & open source programs where this project was in participation.

If permits, I would like to take on this issue under Open Source Day'21.

[2021-07-18 05:45] jberkus commented on #1357
I think a unique constraint plus trapping the constraint error would be fine UX.  That way someone can merge multiple files that have some duplicates.

[2021-07-19 15:24] sgoggins commented on #1358
ok.  Go for it @achalesh27022003

[2021-07-19 15:25] #1354 closed

[2021-07-19 16:21] jberkus commented on #1349
So, here's what worked in my test:

1. Create new container image on 0.17.0
2. Create schema
3. Add additional repositories to the schema using CLI
4. Start augur-backend with workers
5. Workers start up and collect data for all repos

Here's what didn't work:

1. Create new container image on 0.17.0
2. Create schema
3. Start augur-backend with workers
4. Add additional repos to the schema using C

[2021-07-19 21:50] jberkus commented on #1355
Oh, and FYI: it is 100% possible for us to use SQLAlchemy models that include rigorous FK and other constraints.  It doesn't limit us that way.  The only things that are unsupported are a few Postgres-only features like partial indexes and how it does triggers.

[2021-07-22 00:00] jberkus opened #1367 "Why does the schema use VARCHAR(255)?"
Is there any particular reason for using VARCHAR(255) and VARCHAR(4000) in the schema?  As far as Postgres is concerned, these are both just TEXT, and if we need to someday change the length limits on them it's an annoying migration.

Not really a bug, just a weird choice.

[2021-07-22 00:20] jberkus opened #1368 "Contributors should be unique and not duplicated"
**Description:**

The contributors table has no unique constraint, and as such each contributor in it is represented multiple times, some of them hundreds of times.

**How to reproduce:**

1. Query your Augur database with the following:

[code]

2. See something like:

[code]

This causes huge problems for writing any queries that count contributors or contributions for contributors; it forces th

[2021-07-22 00:21] sgoggins commented on #1367
Agreed. It wasn't a choice so much as Augur starting before Postgres enabled straight up definition of a varchar without limits. I should fix this, and will.

[2021-07-22 00:22] sgoggins commented on #1367
This is the kind of thing an aging Oracle DBA turned OSS officiando might do. (hangs head in shame).

[2021-07-22 00:31] jberkus opened #1369 "Open list of tables with no unique constraint"
Following #1368, I've been checking other tables to see if they have a unique constraint that would prevent them from receiving duplicates from the workers.  Here's my tracking list of the tables in the augur_data schema that do not have one, including whether I'm seeing duplicates in my database, and what constraint I would recommend. I will keep adding to this list as I work with the database.

[2021-07-22 00:34] jberkus commented on #1367
Er ... Postgres has had unlimited VARCHAR since 1999.

Anyway, my suggestion would be to keep length limits on things that have actual length limits (like a repo name), and do the rest as unlimited.

[2021-07-22 00:58] jberkus opened #1370 "We should use Timestamp With Time Zone"
Currently all timestamps in the database are TIMESTAMP WITHOUT TIME ZONE.  This prevents the user from easily querying the database in their own local time zone, which leads to confusion when the user compares the timestamp they see in the Github/lab UI with the timestamp they see in the database.  Further, it may be causing data issues if the GH API and the GL API are not using the same timezone

[2021-07-22 01:13] jberkus commented on #1367
BTW, this isn't all tables.  Some of them use varchar-no-limit.

[2021-07-22 13:38] sgoggins commented on #1370
There are timestamps with timezones on the commit table. We can make this a standard as well.

[2021-07-22 13:39] sgoggins commented on #1370
This commits table is possible because we analyze commits doing the gitlog ... surely something similar is possible with the API's

[2021-07-22 16:26] jberkus commented on #1370
For GH: https://developer.github.com/changes/26/

[2021-07-22 20:33] vinodkahuja opened #1373 "Clones of a repository"
**Is your feature request related to a problem? If so, please describe the problem:**
How many copies of a repository are cloned over a period of time.

**Potential solutions:**
GitHub API
https://docs.github.com/en/rest/reference/repos#get-repository-clones

**Additional context:**
Proposed CHAOSS metric:
https://docs.google.com/document/d/19dUCadvCciouHq6XHcnzqGjuVC3hoPGf41WqlbEFJyM/edit

[2021-07-22 21:43] jberkus commented on #1369
augur_data.messages is kind of a weird case.  It currently has three unique indexes, none of which are required to be unique:

[code]

Thing is, msg_id is already unique, to those constraints are superflouous, and they add overhead to writes.  We should probably convert them all to regular indexes without a unique constraint.

[2021-07-23 16:14] sgoggins commented on #1348
The sample repo should actually be changed to be NULL. The way the facade (commits) worker works is that it fills in everything based on the cloned directory, and processing of the git log. So, we should change the sample data accordingly. We want name and path to be NULL on load, and the status to be `New`. That's how facade knows to clone it, instead of doing a pull.

[2021-07-23 19:20] sbrennan98 opened #1374 "Augurface Production Build Doesn't Work"
**Description:**
In augurface, while ```npm run serve``` builds and serves a development server perfectly fine, running ```npm run build``` and serving the production site with ```serve dist/``` results in an error as it does not load the application.

**How to reproduce:**
1. Go to ```augur/augurface```
2. run ```npm run build```
3. run ```serve dist/```

**Expected behavior:**
The frontend would

[2021-07-24 06:00] achalesh27022003 commented on #1358
Thank you sir. Will do and update today itself.

[2021-07-25 07:59] achalesh27022003 commented on #1358
Please review #1376  under OSD'21 sir.  Thanks.

[2021-07-28 23:59] jberkus opened #1389 "Work list for cloud-native Augur"
There are several architectural changes we need to make so that Augur can run in a cloud-native environment, even as a non-distributed instance.  Since a lot of the potential users of Augur will want to run it on Kubernetes, the changes seem worth making but will not be fast.  Creating this issue as  a tracking issue for the work.

Work to make Augur scale across a Kubernetes installation (i.e. di

[2021-07-30 00:47] jberkus opened #1390 "Augur container does not write"
**Description:**

For undiagnosed reasons, the Augur container defined in our dockerfile does not write to its own filesystem.  This results in at least two problems.

**How to reproduce:**

1. Build a container image using the dockerfile
2. Run that container image
3. Let augur run for a while
4. exec into the container image
5. There should be logs written in /augur/logs but there are none
6. Th

[2021-07-30 11:07] haukesomm commented on #1390
I can confirm this behavior as well:
- Augur: 0.17.0
- OS: Ubuntu 20.04
- Runtime: docker-ce 20.10.7

Thus, I don't think this is an issue with the runtime but I'm also fairly new to Docker.

[2021-07-30 17:00] jberkus commented on #1390
No, I've been going over the podman logs and settings, and trying various configs.  This is definitely an Augur bug, and not an issue with the container runtime or setup.

[2021-07-30 19:01] sgoggins commented on #1390
Our original Docker configuration used Gluster for persistent storage. I am working on figuring out what we have setup in our test environment that is different from what is deployed. @howderek or @IsaacMilarky may have a few insights. Our core team is focused on an optimization of contributor collection, aliasing, and management right now. I am getting advice and testing fixes right now. We have

[2021-07-30 19:06] sgoggins commented on #1389
I'm going to share a long collection of insights and thoughts in our Slack channel, but will not clutter this issue with them (yet). The tl;dr is that Augur is designed from the ground up to allow every worker to function independently. The principle coupling of the main augur backend process to the workers exists in the determination of when to pass update collection tasks to the workers.  I thin

[2021-08-01 21:20] sgoggins commented on #1389
Note from Slack: If we're looking for cloudnative storage, that's ceph/rook.  But that shouldn't be something the augur code worries about.  All we need to do is create obvious volume mount points for the internal storage needed, and leave it to the infra to decide what backs those mount points

[2021-08-01 21:27] sgoggins opened #1391 "Document log_analysis installation and monitoring"
These are notes from the work of @ivanayov , who built a logstash based centralized log monitor within Augur, under the `log_analysis` directory in Augur's root:

Right now both logstash and elasticsearch are finicky based on the configuration, release, and other factors at the operating system level. Making this stable and easy to work with is a longer term goal.

[code]

[2021-08-05 17:31] sgoggins opened #1400 "Need error handling on "average commits per visualization endpoint"
I think error indicates that there is insufficient data to build a visualization.

in red text ```SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data```

I think a little picture of @jonahz5222 's Auggie character wearing different hats, say "oops. Sorry folks. We don't have enough comments to calculate that data right now. Maybe we need to schedule some sessions to i

[2021-08-05 17:34] sgoggins commented on #1400
Same issue with this endpoint: http://augur.chaoss.io/api/unstable/pull_request_reports/mean_response_times_for_PR?repo_id=1

[2021-08-05 17:37] sgoggins commented on #1400
Same issue with this one: augur.chaoss.io/api/unstable/pull_request_reports/PR_time_to_first_response?repo_id=1

[2021-08-05 17:39] sgoggins commented on #1400
@ABrain7710 / @Ulincsys : Same with this one.: http://augur.chaoss.io/api/unstable/pull_request_reports/average_PR_events_for_closed_PRs?repo_id=1

[2021-08-05 17:41] sgoggins commented on #1400
This is all on the `dev` branch btw.

[2021-08-05 18:15] IsaacMilarky commented on #1349
I was able to verify that the order is important to replicate this issue. It seemed to be able to recognize and use existing data in the database but when I followed your steps to replicate the workers seemed to not fetch data. I will look into this more. For now, it seems the best results happen when repos are added before starting the backend. This should be made less clunky in the future.

I al

[2021-08-05 18:42] IsaacMilarky commented on #1333
I remember seeing this error a while ago. However, I have not seen this error happen since we refactored how we enrich contributor data. I will continue trying to replicate it on the latest docker builds but I haven't seen this error in a while. There was also an issue with the docker container having to do with go preventing the container from building that has been fixed so the latest in dev sho

[2021-08-06 16:39] jberkus commented on #1349
Isaac:

Just for clarity, the repos in my test are GitHub repos.

[2021-08-06 17:47] ivanayov commented on #1391
The 7+ versions of Logstash are having unresolved issues that affect our specific use-case. This is why we're using 6.8 instead. Migrating to the latest versions of both Logstash and ElasticSearch would require testing the functionality with them after a period of time.

The issue about elasticsearch permissions is ubuntu-specific and related to it's installation and configuration only, not relate

[2021-08-06 22:12] ivanayov opened #1405 "Integrate logstash error handling with slack notifications"
Currently logstash exports data to a locally run http server only.

The logstash outputs are configured [here](https://github.com/chaoss/augur/blob/main/log_analysis/logstash-filter.conf#L28).

To enable slack messages, a PR might be necessary in [augur-auggie](https://github.com/chaoss/augur-auggie).

[2021-08-06 22:51] ivanayov opened #1406 "Extend logstash error handling to notify for data collection interruptions"
Currently the only way to check if data collection has ended successfully is by doing heuristics on it. An error can block a worker from finishing a collection, without breaking its work or notifying.

The current logstash integration can be of help here with handling the specific errors for collection interruptions and outputting them under a [specific filter](https://github.com/chaoss/augur/blob

[2021-08-10 17:40] sgoggins commented on #1370
OK ... that's a very nice update to the GitHub API since we first started working with Augur!

[2021-08-10 17:43] sgoggins commented on #1333
This issue is resolved in the latest release to `main` @maxhbr

[2021-08-10 17:43] #1333 closed

[2021-08-10 20:42] sgoggins commented on #1369
We have addressed this partially and will continue.

[2021-08-10 20:51] sgoggins opened #1411 "Display General Status of Data Collection on Front end"
1. Show which workers are running
2. Show data collection completeness where available (issues, prs, commits)
3. Access to error logs for end user regarding a critical error. (log_analysis using logstash update)
4. Show status of duplicates (although making sure they do not exist is better).

[2021-08-10 20:56] sgoggins opened #1412 "Deployment: initial deployment of Augur should be easily scriptable"
Improve Augur's initial installation scripting.

[2021-08-10 20:57] sgoggins opened #1413 "Reliability/Uptime: Workers should automatically recover from errors and resume operation."
Workers should log all failures in an auditable way.

[2021-08-10 20:58] sgoggins commented on #1413
Perhaps there should be a consolidation of the logs into a single log stream. Having logs in a hierarchy of folders makes it difficult to consolidate.

[2021-08-10 21:01] sgoggins commented on #1411
Prometheus to collect logs, for example.
Thanos for storage, for example.
(Something else for presentation)

[2021-08-10 21:02] sgoggins opened #1414 "Control: Augur needs an API to replace its CLI The API must support Oauth, privilege management"
Control: Augur needs an API to replace its CLI
The API must support Oauth, privilege management

[2021-08-10 21:04] sgoggins commented on #1411
Example Stack -- https://www.operate-first.cloud/users/apps/docs/odh/prometheus/add_service_monitoring.md

[2021-08-10 21:25] sgoggins commented on #1367
FIRST: Make sure that the varchar(4000) columns become varchar.

[2021-08-10 23:42] jberkus commented on #1367
Reasoning for above:

Most of the VARCHAR(255) fields are for things we expect to be much shorter than 255 chars, and never really expect to exceed it (like a login name).  But, the VARCHAR(4000) fields are largely things that are not limited in length by the repo host, and as such might be longer than 4000chars already.

[2021-08-11 16:47] jberkus commented on #1413
I'd like to separate the log stream issue from the "workers failing and not logging anything" issue, because they're two separate issues.

Right now, with the current release, the workers are not collecting any data.  And they're also not logging any errors.  This is a chronic problem.

[2021-08-11 16:48] jberkus commented on #1349
This issue is being subsumed into the larger "workers halt, no logs" issue here: #1413

[2021-08-11 16:55] jberkus opened #1416 "Logs should be able to be consolidated into a pipe or syslog"
The way it is now:

Augur logs go to as many as 30 different files spread out across a 3-level directory heirarchy.  The individual filenames are based on process IDs, and as such are not predictable.  This makes debugging failures very time-consuming, since every check must start with "find the appropriate log file".  More importantly, it makes it impossible to integrate Augur into SRE dashboards

[2021-08-11 16:56] jberkus commented on #1416
ref #1413

[2021-08-11 18:15] jberkus opened #1417 "Github repos get handed to Gitlab worker after restart"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**

After an augur restart, errors with Github repo data collection get reported as gitlab worker errors.  This appears to be because those Github repos have been handed to the gitlab_issue_worker for unknown reasons.

**How to reproduce:**
1. Create an augur instance
2. Add only github repositor

[2021-08-11 22:03] sgoggins commented on #1417
Its **sooooo** simple. We just ignore `github.com` in the `gitlab` workers. I'll drop a patch in for this right away.

Sidebar: I *almost* made this very simply fix for a Pandas UNICODE patch we released today. The only thing more exciting than *finding* a weird bug (with NO ERROR) was discovering the LONG series of rants from other developers going back and forth the pandas team re: UNICODE, this

[2021-08-11 22:06] jberkus commented on #1417
OK, but there's the companion fact that the Github workers aren't collecting any data.  Is that an unrelated issue?

[2021-08-13 11:30] sgoggins opened #1423 "enrich_cntrb method not checking for additional tokens"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
If GH/GL worker collection fails on retrieval of contributor_id from the platform, it issues this error and stops the worker.

[code]

Embedded in this error:

[code]

**How to reproduce:**
1. You have to run the GL/GH workers for some time to his this error. The PR worker has logic to wait fo

[2021-08-13 11:31] sgoggins commented on #1423
@IsaacMilarky : Can you make this a top priority today?

[2021-08-13 11:31] sgoggins commented on #1423
did not mean to close issues. Buttons are hard.

[2021-08-13 12:21] sgoggins opened #1424 "Manage Bad Platform Tokens"
**Is your feature request related to a problem? If so, please describe the problem:**
When a platform API token goes bad, it returns a message :
[code]

**OFTEN THESE TOKENS ARE NOT ACTUALLY BAD**

There are some more details in Issue #1423 about a particular instance of this happening

**Potential solutions:**
Goal: Create a record of each token marked bad. If it shows up regularly, then we know

[2021-08-13 14:18] IsaacMilarky commented on #1423
Yes, I will work on a fix first thing. It seems to not be too hard of a fix but I won't jinx it.

[2021-08-16 15:41] sgoggins opened #1429 "Update Housekeeper for Tasks not Needed for Every Repo"
**Is your feature request related to a problem? If so, please describe the problem:**
The core design principle in Augur is to analyze and produce metrics for every repository. All workers, except the contributor_breadth_worker operate on this principle. As a result, the contributor_breadth_worker is run for every single repository in an instance, although it only needs to be run once.
1. Add a fe

[2021-08-16 15:51] sgoggins commented on #1349
@jberkus : Do you think this is *only* a Docker issue, or are you also encountering it on bare metal?

[2021-08-16 15:53] sgoggins commented on #1349
We are aware of an issue with the Facade worker after new repositories are added. That worker requires a restart. All the other workers we have tested on bare metal do continue to collect newly added repos after the timeout period has passed, which is specified for each model in the `Housekeeper` block of the `augur.config.json`.

[2021-08-16 15:54] sgoggins commented on #1349
`timeout` is in seconds.

[2021-08-16 15:55] sgoggins commented on #1357
@jberkus : Yeah, I think adding a natural key on the URL, and then catching errors is a good solution.

[2021-08-16 19:47] sgoggins commented on #1417
@jberkus : This issue is resolved in our latest release I believe. This is the Unicode/Panda's very strange issue with Panda's `to_sql()` method and Unicode.

[2021-08-16 21:03] jberkus commented on #1349
@sgoggins we thought it was a docker issue, but it appears to be the same issue on bare metal.  We have not yet tested 20.2

[2021-08-16 21:25] jberkus commented on #1417
I'm not sure this issue is fixed entirely.  While the GH workers have restated, and are updating pull requests and contributors, we are still not getting any commit information.  The commits may be a different issue, though, so opening that separately.

Regardless, I'm still seeing Gitlab errors in the log for Github repos:

[code]

[2021-08-16 21:29] jberkus opened #1430 "Repo Info Worker fails, no commit data"
**Description:**

Currently our database is not receiving any data on commits.  The repo_info_worker is erroring out.  I believe these two are related?

**How to reproduce:**
1. Run 20.2 against a set of github repos
2. Check the commits table.  It's empty
3. Check the repo_info_worker log.  See errors.
4.
**Log files**

[code]

**Software versions:**
 - Augur: 20.2
 - OS: CentOS Stream

[2021-08-16 21:29] jberkus commented on #1430
Possibly related to: #1417

[2021-08-16 23:03] jberkus commented on #1430
This was resolved with a re-install of 20.2.

[2021-08-16 23:03] #1430 closed

[2021-08-16 23:07] jberkus opened #1431 "Facade workers should restart collecting commit data after error"
The way it is now:

If collecting commit data fails due to a git checkout error (e.g. permissions error on the repo directory, missing git executable, etc.), the Repo nevertheless gets marked as "Update" and no attempt is made to ever check out the repo again.

The way it should be:

If a worker can't check out a git repo, or can't extract data from it, it should keep retrying until the situation

[2021-08-16 23:11] jberkus commented on #1417
This appears to be resolved with a rebuild of 20.2

[2021-08-16 23:11] #1417 closed

[2021-08-16 23:14] jberkus commented on #1349
Our specific issue appears to be resolved by 20.2 on bare metal.  Dockerfiles are still an issue but that's detailed in #1390.

As such, closing this in favor of the more general work in #1413

[2021-08-16 23:14] #1349 closed

[2021-08-16 23:17] jberkus commented on #1413
So let me spell this out as a more general issue:

There are a lot of external issues which can cause the workers to be unable to collect data as expected.  Failed auth, file permissions, database permissions, bugs in the code.

Right now, sometimes workers will resume collecting data after the blocker is resumed.  But sometimes they won't.  #1431 is a good example of "won't".

Workers should auto

[2021-08-19 18:19] germonprez opened #1440 "Bug in your Documentation Links"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
Your documentation links in your README are broken. Please fix!

**How to reproduce:**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expl

[2021-08-19 18:36] #1440 closed

[2021-08-30 03:50] yodayuuki55 opened #1456 "A error when install augur."
The following is my error after `make install`:

Collecting Beaker==1.11.0 (from augur==0.20.4)
  Using cached https://files.pythonhosted.org/packages/04/7b/a3eb9939d931a55c69e4bcaa82dbc64f6df9612c374e782f4ab3c176910e/Beaker-1.11.0.tar.gz
Collecting Flask-Cors==3.0.10 (from augur==0.20.4)
  Using cached https://files.pythonhosted.org/packages/db/84/901e700de86604b1c4ef4b57110d4e947c218b9997adf5d38

[2021-08-30 06:09] yodayuuki55 commented on #1456
okay,i solved it,but there is a new error:

Traceback (most recent call last):
  File "/root/.virtualenvs/augur_env/share/python-wheels/urllib3-1.22-py2.py3-none-any.whl/urllib3/response.py", line 302, in _error_catcher
    yield
  File "/root/.virtualenvs/augur_env/share/python-wheels/urllib3-1.22-py2.py3-none-any.whl/urllib3/response.py", line 384, in read
    data = self._fp.read(amt)
  File "/

[2021-08-30 06:54] yodayuuki55 commented on #1456
ERROR: Exception:
Traceback (most recent call last):
  File "/root/.virtualenvs/augur_env/lib/python3.7/site-packages/pip/_vendor/urllib3/response.py", line 438, in _error_catcher
    yield
  File "/root/.virtualenvs/augur_env/lib/python3.7/site-packages/pip/_vendor/urllib3/response.py", line 519, in read
    data = self._fp.read(amt) if not fp_closed else b""
  File "/root/.virtualenvs/augur_env/

[2021-08-30 09:01] yodayuuki55 commented on #1456
When i choose 'no',there is a new error:

Skipping frontend dependencies...
Traceback (most recent call last):
  File "/root/.virtualenvs/augur_env/bin/augur", line 8, in <module>
    sys.exit(run())
  File "/root/.virtualenvs/augur_env/lib/python3.7/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/root/.virtualenvs/augur_env/lib/python3.7/site-pac

[2021-08-30 14:43] sgoggins commented on #1456
@yodayuuki55 : What platform are you installing on? The first error that you solved suggests the package manager for your OS may not be current. The second error collection is, unfortunately, "normal" for our frontend installation now.

The final error you posted suggests that your database schema was not properly installed. Can you verify that there is an `augur_data` and `augur_operations` schem

[2021-08-30 15:19] yodayuuki55 commented on #1456
@sgoggins Thanks for reply! I wiil try to solve the second error later.

For the final error, could you tell me how to look for `augur_data` and `augur_operations` schema in detail? I used command `find` but i cant see them.

AND i tried `make install-dev` after deleting `augur.config.json`,there is the same error as the final.

[2021-09-14 18:09] sgoggins commented on #1338
There's a release coming this week that will make this clearer.

[2021-09-14 18:11] sgoggins commented on #1456
@yodayuuki55 : Sorry for the long delay in responding.

Augur knows how to find the schemas. Errors like the ones you are seeing I have only encountered when my Python virtual environment is messed up.

Try this:
1. Create a new python virtual environment `python3 -m venv {path}/newvenv`
2. Assuming you have an `augur.config.json` again, do a `make rebuild-dev`

[2021-09-14 18:12] sgoggins commented on #1431
@IsaacMilarky and @ABrain7710 : This is something we need to review at our meeting this week.

[2021-09-15 14:50] sgoggins commented on #914
This is resolved in the Augur release for Friday, September 17, 2021.

[2021-09-15 14:50] #914 closed

[2021-09-15 19:02] oindrillac opened #1468 "Extend Augur to collect Github Traffic Metrics"
**Is your feature request related to a problem? If so, please describe the problem:**
For project https://github.com/aicoe-aiops/ocp-ci-analysis, we wish to use Augur to collect and analyze Github traffic related information.
Does Augur currently scrape Traffic information such as Referring sites and Views per page from Git repositories?

**Potential solutions:**
Extend Augur to collect [Github tr

[2021-10-07 23:54] #1338 closed

[2021-10-07 23:54] #1348 closed

[2021-10-07 23:54] #1357 closed

[2021-10-07 23:54] #1367 closed

[2021-10-07 23:54] #1368 closed

[2021-10-07 23:55] #1369 closed

[2021-10-07 23:55] #1423 closed

[2021-10-07 23:55] #1424 closed

[2021-10-09 05:56] SwagatSBhuyan opened #1476 "Help: Error while setting up augur dev backend in Windows - frontend log error"
I installed "make" in windows so as to build and run the setup scripts provided by the augur documentations. But while running the frontend and backend servers, an error is logged:

: make dev-start

____________________________________________________________________________________________________________________

internal/modules/cjs/loader.js:892
  throw err;
  ^

Error: Cannot find module '@v

[2021-10-11 17:31] sgoggins opened #1478 "Database Query / API Questions"
Put questions related to schema queries, or user of the Augur API here.

This issue is intended to be responsive to schema questions on an ongoing basis. Its a good place to ask us how to extract information to answer specific questions using Augur. Your questions, and our answers, will then be contributed back to Augur's documentation every two weeks.

We at Augur Global have completed a more com

[2021-10-18 05:59] shamim27khan opened #1497 "Starting a backend throws an error"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
I followed the deployment process and installed augur, when i start the backend i am getting an error

(augur) shamim@DESKTOP-F8MO7L8:~/augur$ augur backend start
[16285] augur [INFO] Augur application initialized
[16285] augur [INFO] Using config file: /home/shamim/.augur/augur.config.json
[1

[2021-10-20 05:19] #1497 closed

[2021-11-01 15:09] isabelizimm opened #1510 "recorded issue message time is prior to creation of issue"
**Description:**
The recorded time for a messages posted on an issue is often recorded at some point in time BEFORE the issue is even created.

**How to reproduce:**
1. See https://github.com/sandiego-rh/sandiego/blob/main/notebooks/performance/issues_performance.ipynb
2. or query `               SELECT
                    r.repo_name,
                    irm.issue_id,
                    irm.issu

[2021-11-03 06:09] yodayuuki55 commented on #1456
@sgoggins Sorry for delay due to my other work.
Today,i retried it and there is a new error:

  File "/home/sibo/.virtualenvs/augur_env/bin/augur", line 33, in <module>
    sys.exit(load_entry_point('augur', 'console_scripts', 'augur')())
  File "/home/sibo/.virtualenvs/augur_env/lib/python3.7/site-packages/click/core.py", line 1128, in __call__
    return self.main(*args, **kwargs)
  File "/home/

[2021-11-08 06:47] yodayuuki55 commented on #1456
Traceback (most recent call last):
  File "/home/sibo/.virtualenvs/augur_env/bin/augur", line 8, in <module>
    sys.exit(run())
  File "/home/sibo/.virtualenvs/augur_env/lib/python3.7/site-packages/click/core.py", line 1128, in __call__
    return self.main(*args, **kwargs)
  File "/home/sibo/.virtualenvs/augur_env/lib/python3.7/site-packages/click/core.py", line 1053, in main
    rv = self.invok

[2021-11-10 16:14] cdolfi commented on #1510
@sgoggins Any thoughts on this?

[2021-11-13 01:32] jberkus opened #1514 "Refactor dates and times in the Commits table"
(1) The dates in augur_data.commits have been stored in character varying fields.  This forces coversion to and from date types every time they're used, and could lead to code errors:

Fields in question:

[code]

(2) Of the other datetimes in the table, half are timestamp with time zone, and half are timestamp without time zone.  These are certainly already leading to query errors:

[code]

Was t

[2021-11-13 01:40] sgoggins commented on #1514
We refactored brianwarner/facade into Augur for commits (with permission). It came that way. It can be fixed. We've changed other things and kept it updated. I'll ask Brian the origins of the choice. I suspect it emerges from git version inconsistencies that were more of an issue in the before times and less of an issue today, since all that data comes from reading the git log.

[2021-11-13 01:43] sgoggins commented on #1514
The ones with time zone are additions based on an earlier collaboration. We did that. Adding a column seemed less risky to me than changing one. It allowed for a long period of sustained validation.  It's toenail fungus we can clean up now.

[2021-11-13 01:46] jberkus commented on #1514
We should be able to just change the type for data_collection_date, though, no?  I mean, we know that's going to be in the system timezone.

[2021-11-15 06:54] yodayuuki55 opened #1517 "Errors when setting up database credentials"
After inputing all information,it told me `password authentication failed for user`:

CLI: [config.init] [INFO] Config written to /home/sibo/augur/augur.config.json
CLI: [config.init_frontend] [INFO] Config written to /home/sibo/augur/frontend/frontend.config.json
CLI: [db.check_pgpass_credentials] [INFO] Credentials found in $HOME/.pgpass
psql: error: connection to server at "localhost" (::1), po

[2021-11-17 19:23] sgoggins commented on #1517
This error typically occurs when you enter the wrong username or password when prompted during setup. The fix is to edit the information in the Database block of the generated `augur.config.json`

[2021-11-17 19:23] #1517 closed

[2021-11-17 19:23] sgoggins commented on #1510
@isabelizimm : I am looking into this during this week.

[2021-11-17 19:48] sgoggins commented on #1468
@oindrillac : We can add this, as theirs an endpoint for it. Let me know priority

[2021-11-23 07:51] czyke commented on #1134
@sgoggins Hi, Sean, same problem I encounted in installation phase, could you pls show us the processes of how to solve it. Thanks.

[2021-11-25 08:33] geekygirldawn opened #1525 "Issues matching commit authors with their entries in the contributors table due to missing data"
**Is your feature request related to a problem? If so, please describe the problem:**
The authors of commits from GitHub can't currently be matched with their entries in the contributors table because the data required to match it is missing.
* The commits table does not include GitHub login (should populated in cmt_author_platform_username?), so these can't be matched to people in the contributor

[2021-11-25 10:18] geekygirldawn commented on #1525
I wanted to let you know that I've written my own workaround for this that allows me to get my contributor metrics. It's a hack and not a permanent solution, but it lets me run my monthly metrics, so this isn't particularly urgent.

Have a great Thanksgiving!

[2021-11-30 17:50] claracscl commented on #1525
@geekygirldawn : Right now this is a function of a large collection of repositories run for the first time, and possibly a byproduct of my decision to seed contributors in your new augur instance from the old one. The big hang up right now is how long affiliation updates are taking. This is one thing I am working on optimizing for large datasets.

[2021-11-30 17:51] sgoggins commented on #1525
@geekygirldawn : That was me under a different account ^

[2021-11-30 18:05] sgoggins commented on #1525
The technical piece of what's happening is:
1. Platform API's generally do not return the email
2. Commits include an email
3. We resolve the email to the platform user at the end of the commit process, which is, as I mentioned above, taking a really long time on a large collection right now. I am working with @IsaacMilarky on this issue.

[2021-11-30 22:07] sgoggins commented on #1510
@isabelizimm : I think we are getting a cartesian product. I am working on getting access to the old augur database to test your query. On another database I don't see the issue when I make this small change:
[code]

its the `and i.repo_id = m.repo_id` line that I added to what you had... and I'm not sure that exists in the schema of the augur database, but I can't access it right now.  There is a

[2021-12-09 20:01] sgoggins commented on #1514
@jberkus : The data_collection_date is just when we got the data. Are you thinking of using that as some kind of offset?

[2021-12-09 23:28] jberkus commented on #1514
Yes, but it's TIMESTAMP WITHOUT TIME ZONE.  Nothing in the system should be WITHOUT TIME ZONE, and that one seems like an easy fix -- which TZ it is doesn't require guesswork.

[2021-12-17 15:50] prathamaror commented on #1431
can i work on this issue

[2021-12-17 15:52] prathamaror commented on #1400
can i work on this issue i think I have a pretty good idea how to solve this issue

[2021-12-17 21:47] jberkus commented on #1431
Feel free!  I'd check out the follow-ups on this issue as well: #1413, as well as chat with folks on Augur slack.  The "won't resume collection" problem is actually tied to some pretty significant architectural issues, so you'll want to learn a lot about Augur to help fix it.  Glad to have your help!

[2021-12-20 00:32] 47carolines commented on #1323
@JMerkel3100, @bargainbin and I created an Augur Zapier Integration that can be modified to work for your own Augur server. We used this integration in order to create a Zap which ultimately allows you to receive push notifications in Slack whenever a Augur REST API endpoint is updated. Learn how to create a Zap similar to ours and find the invitation link to our integration here: https://github.c

[2022-01-09 15:51] SravaniRaniMishra commented on #1203
hey, this is my first time in the open source community and i would love to work on this issue.
could you please assign it to me

[2022-01-09 18:50] SravaniRaniMishra commented on #1148
hey , i would like to work on this issue.

[2022-01-24 07:46] thegeekymuggle commented on #1326
Hi, I would love to work on this issue. How do I get started?

[2022-01-29 12:14] PurnaChandraMansingh commented on #1326
Hi @sgoggins, could you please guide how to solve this issue

[2022-02-04 12:44] sgoggins commented on #1411
@Ulincsys Has provided this functionality in the `augur_labs/augur_view` project. https://github.com/augurlabs/augur_view.

[2022-02-04 12:44] #1411 closed

[2022-02-04 12:46] sgoggins commented on #1250
This issue is resolved in testing. New augur installations now have SSL configuration parameters generated. Documentation updates and release are forthcoming.

[2022-02-06 13:44] sgoggins opened #1611 "Design Idea Inspired by FOSDEM 2022 Presentation (Remote)"
There's a lot in here that needs to be broken down, but it emphasizes the importance of our Viz API and new interface:

Copied and pasted from this link, because we don’t know how long it will be up: https://chat.fosdem.org/#/room/#design-devroom:fosdem.org

==========================
CHAT
==========================

eriolfox
Hey there Open Source Design Dev room fans! we have one talk today that

[2022-02-07 09:26] kaxada opened #1612 "Missing link"
**Description:**
Expected a link but there is none

**How to reproduce:**
1. Go to  [this link](https://oss-augur.readthedocs.io/en/main/#:~:text=There%20are%20many%20more%20useful%20metrics%2C%20and%20you%20can%20find%20a%20full%20list%20of%20them%20here.)

**Expected behavior:**
There should be a link to the metrics

**Screenshots**
![image](https://user-images.githubusercontent.com/54111299/152

[2022-02-07 09:27] kaxada commented on #1612
If sure there should be a link here, I'd be glad to be assigned this issue as my first contribution to Augur!

[2022-02-07 10:08] kaxada opened #1613 "Missing command"
**Description:**
The installation guide to run augur locally is missing a particular word. expected `sudo apt **install** make` but there is `sudo apt make`

**How to reproduce:**
1. Go to [this link](https://oss-augur.readthedocs.io/en/main/quick-start.html#:~:text=git%0Acd%20augur/-,sudo%20apt%20make,-sudo%20add%2Dapt)

**Screenshots**
![image](https://user-images.githubusercontent.com/54111299/

[2022-02-07 10:09] kaxada commented on #1613
Would also be happy to be assigned and fix this error 😇

[2022-02-07 23:46] sgoggins commented on #1613
@kaxada : It would be great if you could fork Augur and PR that fix in.

[2022-02-08 06:56] ayushtamra opened #1616 "Error on using npm run build in frontend"
**Error:**

**Description:**
The error was encountered while running the command `npm run build` under frontend directory, after installing the frontend dependencies during installation.

**Other errors while `npm install` which may seem a connection between the errors above are as follows:**

[code]
**OS:**
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)

[2022-02-08 14:28] #1400 closed

[2022-02-08 14:28] ABrain7710 commented on #1400
This has been fixed, and those links now return a useful error to to the user

[2022-02-08 18:19] ayushtamra commented on #1616
After a few tries, It got resolved using yarn whereas npm is giving issues,i.e, when I am using `npm install` in the frontend directory it is not installing the node_modules in there whereas with yarn it is installing the node_modules and working pretty fine.

**It got resolved with the following commands :**

Does it creates any problem if yarn is being used in replacement to npm?
Also is there a

[2022-02-08 21:11] kaxada commented on #1613
Sure. Let me fix this

[2022-02-08 22:18] kaxada opened #1619 "Support for python 3.9 in the project"
Recently I  [having an error](https://gist.github.com/kaxada/5c264be3fcd48924e0dabdb4a1734adb)  with installing augur locally which I thought were attributed to me using python 3.9 but later confirmed it was my internet issue and got resolved.

I later found out that the installation docs caution against not supporting python 3.9 because it is not supported by tensorflow as per now but the last ti

[2022-02-09 20:03] ayushtamra opened #1621 "Providing user the choice to select location for setting up the virtual environment"
**Is your feature request related to a problem? If so, please describe the problem:**

I noticed that while installing augur, if the user is not present in the virtual environment a message is displayed in the terminal, asking the user to automatically generate the virtual environment for the project, and if the user says yes it generates the virtual environment in the default path `$HOME/.virtual

[2022-02-13 04:02] ayushtamra commented on #1621
@sgoggins @ccarterlandis your suggestions to improve this issue would be really valuable, I will be happy to make that changes and make a PR.

[2022-02-13 16:54] davidak opened #1625 "Examples broken"
**Description:**
I want to _see_ what this project is.

I was searching for examples and there are some, but they are all broken.

https://www.augurlabs.io/live-examples/

In fact the whole domain is abandoned: http://osshealth.io/

Can you add a screenshot to the first section "What is Augur?" so people can find an answer to the question without reading.

**How to reproduce:**
1. Go to project
2.

[2022-02-14 02:15] purna135 commented on #1625
I would like to work on this.

[2022-02-14 16:53] #1613 closed

[2022-02-23 13:41] sgoggins commented on #1619
@kaxada : Augur does now work with Python 3.9.

[2022-02-24 03:46] kaxada commented on #1619
And that is why I was of a suggestion we make the necessary upgrades since TensorFlow is supported.

[2022-02-24 22:36] sgoggins commented on #1525
I am now confident this is completely rectified.

[2022-02-24 22:36] #915 closed

[2022-02-25 08:41] geekygirldawn commented on #1525
I'm not so sure it's actually fixed (or possibly just not fixed on my instance)?

Here's an example:

Query for someone who is in the contributors table, but their email address was never populated.
`person_query = f"""
SELECT
   *
FROM
   contributors
WHERE
   cntrb_login = 'danfengliu';
    """`

`person_info = pd.read_sql_query(person_query, con=engine)
print(person_info)`

<img width="701" alt

[2022-02-25 22:28] sgoggins commented on #1525
@geekygirldawn  : I think this may be a documentation problem, where we do not explain clearly enough that duplicate contributors are mapped to contributor_aliases in the `contributors_aliases` table. In this case:

[code]

[code]

[2022-02-26 08:12] purna135 opened #1633 "Update CONTRIBUTING.md"
1. In CONTRIBUTING.md, the link "[development installation instructions](https://oss-augur.readthedocs.io/en/master/development-guide/installation.html)" is broken.
2. There are a few additional broken connections as well.
   - [Stable documentation (master branch)](https://oss-augur.readthedocs.io/en/master/)
   - [Live Augur demo](http://zephyr.osshealth.io/)
3. Upstream is referring to the fork

[2022-02-27 23:21] #1179 closed

[2022-02-27 23:26] sgoggins opened #1637 "GSoC Idea: Machine Learning based Community Health and Communication"
# Ideas for Google Summer of Code projects

Interested in working with CHAOSS? Below are some project ideas. We describe how to apply to work with CHAOSS and how we select students on a different page: https://github.com/chaoss/community/blob/master/GSoC-interest.md

## Idea: Advancing Risk Prediction With Machine Learning in Augur
Currently Augur uses computational linguistics, dependency mapping

[2022-02-28 16:04] sgoggins opened #1639 "GSoC Idea: Build Access and Entitlements into a Hosted Version of Augur"
# Ideas for Google Summer of Code projects

Interested in working with CHAOSS? Below are some project ideas. We describe how to apply to work with CHAOSS and how we select students on a different page: https://github.com/chaoss/community/blob/master/GSoC-interest.md

The new version of Augur is robust for providing metrics, and we seek to make it possible to install a single instance for CHAOSS Co

[2022-02-28 16:17] sgoggins opened #1640 "GSOC Idea: Enhance Conversational Topic Modelling Capabilities in CHAOSS Software"
This project will add GenSIM logic, and other capabilities to the Clustering Worker inside of Augur Software, and be extended into a generalized Open Source Software Conversational Topic Modeling Instrument.

CHOASS/augur has several workers that store machine learning information derived from computational linguistic analysis of data in the `message` table. The message table includes messages fro

[2022-02-28 17:12] sgoggins opened #2991 "GSoC Idea: Implement Conversion Rate Metric in CHAOSS Software"
### Conversion Rate

Question: What are the rates at which new contributors become more sustained contributors?

Microtasks

For becoming familiar with Augur, you can start by reading some documentation. You can find useful information at in the links, below. Grimoirelab also has a set of installation instructions and documentation here: https://chaoss.github.io/grimoirelab-tutorial/

#### GSoC St

[2022-03-08 08:55] #1633 closed

[2022-03-08 15:48] rohanreddych commented on #1637
Hello Sean and CHAOSS community, my name is Rohan. I am interested in this project, will work on Augur issues and submit a draft proposal for review.

[2022-03-08 15:58] rohanreddych commented on #1468
@sgoggins Can i work on this issue?

[2022-03-08 17:24] sgoggins commented on #1468
@rohanreddych : Yes!

[2022-03-09 14:14] sgoggins commented on #1637
Thanks, @rohanreddych ! You can also participate in the CHAOSS Community slack if you have immediate questions: https://join.slack.com/t/chaoss-workspace/shared_invite/zt-r65szij9-QajX59hkZUct82b0uACA6g

[2022-03-10 05:36] ayushtamra commented on #1468
Hello @sgoggins
I am also interested to work on this issue, can you provide some brief details about what is implemented for the traffic and what needs to be implemented, that would be a great help

[2022-03-11 22:04] purna135 commented on #1637
Hello, @sgoggins! I just found that some of the links you provided are broken.
Could you suggest me where I can get these links?

https://github.com/chaoss/augur/augur/routes/pull_request_reports
https://github.com/chaoss/augur/augur/routes/contributor_reports
https://github.com/chaoss/augur/workers
https://github.com/chaoss/augur/workers

[2022-03-11 22:13] purna135 commented on #1637
I think the correct link should be
https://github.com/chaoss/augur/blob/main/augur/routes/pull_request_reports.py
https://github.com/chaoss/augur/blob/main/augur/routes/contributor_reports.py

[2022-03-15 13:20] rohanreddych commented on #1468
@sgoggins I was familiarizing myself with the code, should we create a new worker or modify and existing worker?

[2022-03-18 20:20] sgoggins opened #1650 "Populate "Repo_Type" in Repo Table with "organization" or "person""
**Is your feature request related to a problem? If so, please describe the problem:**
If a repository is under an organization, make the "repo_type" "organization".  If a "person", make the "repo_type" a person".

**Potential solutions:**
In short, if this API call returns nothing, then its a person:

https://docs.github.com/en/rest/reference/orgs#get-an-organization

[2022-03-24 19:36] amul3 opened #1661 "too confusing"
how exactly do we get augur up running on a site after messing with the nginx.conf and site configuration file? instructions in the documentation are confusing.

[2022-03-25 23:36] diananova opened #1665 "Documentation Inclusivity: clarify MacOS setup"
In the [installation page](https://oss-augur.readthedocs.io/en/main/getting-started/installation.html), it says:

As someone who only recently started developing on Mac, I was confused by what this meant and had to google it. I would clarify what the exact commands should be on the terminal.

[2022-03-26 02:09] Quickbeasts51429 commented on #1665
Hello, I am Soumya Jha. Can I take up this issue and work upon?

[2022-03-26 04:34] raspberrymilkyway commented on #1661
Would like to second this.

[2022-03-26 10:46] Florence-Njeri opened #1667 "Getting Started List Numbering starts with 0 instead of 1"
**Description:**
The [Getting Started](https://oss-augur.readthedocs.io/en/main/getting-started/toc.html) section has an ordered list that starts with the number 0 instead of 1 and I'd like to correct that as well as make the last paragraph more clear on what the reader will learn in the database section which is quite vague.

**How to reproduce:**
1. Navigate to [Getting Started](https://oss-augu

[2022-03-26 10:46] Florence-Njeri commented on #1667
@sgoggins I'd like to get started on this task

[2022-03-27 15:14] JacksonHaskamp opened #1671 "augur backend start makes terminal freeze up"
Description:
Running augur backend start on AWS EC2 t2.micro instance prepares the housekeeper jobs, but the process kills itself while running.
How to reproduce:
1. Go to root augur directory after activating virtual environment
2. Run augur backend start
3. After command completed, terminal froze up.

Expected behavior:
We expected the command to produce a number similar to the one shown in this

[2022-03-30 11:23] sgoggins commented on #1671
@JacksonHaskamp : Augur is a background process. If you start the backend at a terminal, you need to run it in the background.

I won't claim our documentation is better than anyone else's ... but its come a long way. Still ... This should probably be at the bottom of the "Quikstart" page: https://oss-augur.readthedocs.io/en/main/getting-started/collecting-data.html

[2022-03-30 11:23] #1671 closed

[2022-03-30 11:23] sgoggins commented on #1671
@JacksonHaskamp : Augur is a background process. If you start the backend at a terminal, you need to run it in the background.

I won't claim our documentation is better than anyone else's ... but its come a long way. Still ... This should probably be at the bottom of the "Quikstart" page: https://oss-augur.readthedocs.io/en/main/getting-started/collecting-data.html

[2022-03-30 14:54] ayushtamra commented on #1661
Are we able to use the new augur frontend for deployment?

[2022-03-31 04:38] manishsaini6421 commented on #1667
@sgoggins I am working on it.

[2022-03-31 04:41] manishsaini6421 commented on #1667
@Florence-Njeri i have started working on this.

[2022-03-31 05:41] Florence-Njeri commented on #1667
@manishsaini6421 I'm currently waiting for approval to work on it as my Outreachy task.

[2022-04-01 05:31] manishsaini6421 commented on #1667
@Florence-Njeri Ma'am i am an outreachy applicant and i have fixed this issue .can you review it please.

[2022-04-01 05:32] manishsaini6421 commented on #1667
@Florence-Njeri I am also an outreachy applicant and i have fixed this issue, but me also waiting for approval.

[2022-04-01 18:14] manishsaini6421 commented on #1289
@ritika99 enyone is working on it? or can i do?

[2022-04-01 18:25] manishsaini6421 commented on #1289
@ritika99 I am an outreachy applicant and i have to do it as my outreachy task. if no one is working on it then let me know .

[2022-04-01 18:27] ritika99 commented on #1289
Hi Manish,

You can take it. Good luck!

On Fri, Apr 1, 2022 at 2:26 PM manishsaini6421 ***@***.***>
wrote:

--
Thanks and Regards
Ritika Dhiman
Email: ***@***.***
Ph: +1 412-999-4221

[2022-04-01 18:29] manishsaini6421 commented on #1289
@ritika99 ok ma'am i am working on it.

[2022-04-01 20:38] Preshh0 opened #1687 "Fix two typos on the Getting Started - Installation Page"
Typos on the getting started - installation page.

I would just fix the typos.

**Additional context:**

![chaoss-getting started installation](https://user-images.githubusercontent.com/42142405/161337945-72b7560c-8c48-4411-a560-be381d0d9134.PNG)
![chaoss-getting started installation1](https://user-images.githubusercontent.com/42142405/161337960-a088213a-e115-4a2b-9d96-4d9f8e72b41e.PNG)

@sgoggins

[2022-04-01 21:14] diananova opened #1688 "Doc Inclusivity: confusing installation guide"
The installation guide for augur is a little confusing. I'll write these issues in first person from the point of view of a first time user.

We have 3 sections that sound similar: Quickstart, Getting Started, and Development Guide. And they all contain different information. It would be nice to have everything consolidated into one page, and then have references for additional setup. But the mini

[2022-04-01 21:18] Preshh0 opened #1689 "Fix a typo on the Getting Started - Command Line Interface (database instruction)"
It's a typo.

Fix the typo on the Getting Started - Command Line Interface (database instruction)

![chaoss 3- augur db](https://user-images.githubusercontent.com/42142405/161342454-2c2932f2-8b04-41c4-a16b-e59d642b05c1.PNG)

Hi @sgoggins can I work on this?

[2022-04-01 22:17] Preshh0 commented on #1688
Hi @diananova, commenting on your suggestion on Quickstart, Getting Started and Development Guide; I think they can still be separate, they all serve different purposes, but they could be more detailed. For instance: The Quickstart is supposed to be that section that gets you up and running quickly, merging it with either of those other two sections might not be so beneficial. If you want, we coul

[2022-04-02 12:42] ayush-8 commented on #1688
@diananova You are right, The documentation takes into consideration that the user knows a bit before writing the commands. Also, it doesn't have valid outputs and the possible errors. I myself encountered many errors during the installation of augur. The conflict of python libraries such as tensorflow, and psql schemas not created automatically during the execution of Makefile were the prominent

[2022-04-02 14:17] Preshh0 commented on #1688
Yes, we can do that. Do we ask that this issue be assigned to us? Also, should we move this conversation to slack? Or it's fine having it here?

[2022-04-02 15:28] ayush-8 commented on #1688
We need to ask to assign us. It's fine to converse here than slack.

[2022-04-02 16:30] Preshh0 commented on #1688
Okay, cool. We can't ask to be assigned the whole documentation, so I think we could start from the Quickstart. Is that fine?

[2022-04-03 12:56] Redeem-Grimm-Satoshi commented on #1689
Hi @Preshh0 can i work on this?

[2022-04-03 12:59] Preshh0 commented on #1689
Oh, no. I posted it so I could ask permission to work on it. Let me edit it accordingly.

[2022-04-03 13:18] Redeem-Grimm-Satoshi commented on #1689
alright

[2022-04-03 13:18] Redeem-Grimm-Satoshi commented on #1689
alright

[2022-04-04 14:22] sgoggins commented on #1688
Yes, this is a good idea!

[2022-04-04 20:25] miguelvalderrama commented on #1637
Hello @sgoggins, my name is Miguel. I would contribute to this project and propose an idea for review, regards.

[2022-04-05 18:07] Preshh0 opened #1696 "Contribution to Documentation : Easy Navigation as a Newbie in the Community (Navigation/Community Guide)"
As a new member of this community, I have found navigating and figuring my way around the community hard.  For instance in the areas of knowing what issues to tackle, where to start from etcetera.
In the documentation, I'd like to include a detailed navigation and/or a community guide page so people coming after would find it easy to navigate and contribute faster to the project.

@sgoggins, i'd l

[2022-04-07 19:40] ErikaJZhou opened #1706 "Step-by-step video of Augur installation and basic tutorial for running Augur, collecting data, and using API endpoint"
**Is your feature request related to a problem? If so, please describe the problem:**
Many CS4320 Software Engineering students had difficulty installing Augur and/or initially using it. There were many steps and dependencies involved, and hardware limitations on small EC2 instances seemed to cause some issues, too.

**Potential solutions:**
Providing a video walkthrough of an Augur installation (

[2022-04-07 19:49] ErikaJZhou opened #1707 "Easy Augur installer"
**Is your feature request related to a problem? If so, please describe the problem:**
Lots of people were confused on how to install Augur. The process was lengthy and had a lot of steps, and might be a barrier/pain point to entry for newcomers wanting to use/contribute to this project.

**Potential solutions:**
This might be a bit of a moonshot, but an easy installer for Augur might make it a lot

[2022-04-07 20:00] diananova commented on #1689
I think you can start working on it without asking permission, since it's a very small change.

[2022-04-07 20:07] #1665 closed

[2022-04-07 20:35] diananova opened #1709 "Separate installation guide for each OS"
The current documentation is mostly focused on Ubuntu. I think for beginners it would be useful to have separate installation guides for Ubuntu, Windows or MacOS. Thoughts?

[2022-04-07 21:01] Preshh0 commented on #1689
Okay, cool.

[2022-04-08 00:25] sayed-Gomaa commented on #1640
Hello @sgoggins,
I'm very interested in working on this project during GSOC 2022!

[2022-04-08 20:10] sgoggins commented on #1324
I fixed this one!

[2022-04-08 20:10] #1324 closed

[2022-04-09 08:23] #1667 closed

[2022-04-10 20:21] ErikaJZhou commented on #1637
CS4320 Team Terrapins decided to work with this issue.

[2022-04-11 07:32] Priya730 opened #1723 "Create content for PULL_REQUEST_TEMPLATE.md"
**Is your feature request related to a problem? If so, please describe the problem:**
Current Behavior: This repo is missing a template to present to contributors when they create a PR.

**Potential solutions:**
Update the PULL_REQUEST_TEMPLATE.md in the .docs folder of this repo. Another addition can be to include an explanation and instructions on signing off on commits.

[2022-04-11 07:33] Priya730 commented on #1723
@sgoggins, I'd like to be assigned to work on this issue.

[2022-04-12 22:30] #1687 closed

[2022-04-13 04:26] Anubhavdevv opened #1736 "Augur Component Software Docs"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
In the Chaoss Website under the section of software there is Augur documentation is provided in which under Augur Component section start here part when I click on the python library and the rest server documentation the link is redirecting to new page but there is no content it show that "Thi

[2022-04-13 04:26] Anubhavdevv commented on #1736
I would like to work on this if you could assign this issue to me
Thank You !

[2022-04-14 07:05] Preshh0 opened #1742 "Create a more detailed installation guide in the Quickstart Section"
**Is your feature request related to a problem? If so, please describe the problem:**

The current installation guide on the Quickstart part of the documentation is really complex to follow. Even as a ubuntu user.

**Potential solutions:**

I'd like to make it more detailed, include alternate methods of installation in case the current one there doesn't work and maybe also include pictures for bet

[2022-04-14 09:27] howderek commented on #1742
Hello @Preshh0 - I assigned you the issue. Thanks!

[2022-04-14 09:30] Preshh0 commented on #1742
Thank you!

[2022-04-14 09:33] howderek commented on #1736
Hello @Anubhavdevv, I assigned you the issue.

[2022-04-14 12:13] yashtikajigs opened #1746 "Installation Error"
**Description:**
I am an Outreachy applicant. I am trying to install Augur on a Server. I am following the below steps-
1. Install all required dependencies using doc- https://oss-augur.readthedocs.io/en/main/quick-start.html
2. clone repo - `git clone https://github.com/chaoss/augur.git`
3. `cd augur`
4. added DB details in file- .augur/augur.config.json
5. `make install`

The installation proces

[2022-04-14 14:47] #1723 closed

[2022-04-14 16:31] Sukriti-sood opened #1749 "Issue Forms"
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

The issue form looks like this:---

![New-Issue-·-moja-global-community-website](https://user-images.githubusercontent.com/55010599/161384401-57bc4903-57c7-47d4-a468-5bcb82c4456b.png)

[2022-04-14 19:36] Priya730 opened #1750 "Update signing-off instructions in CONTRIBUTING.md"
**Is your feature request related to a problem? If so, please describe the problem:**
Current behaviour: Brief steps to sign-off commits.
**Potential solutions:**
Update the signing-off instructions in CONTRIBUTING.md. Addition includes an explanation and instructions on signing off on commits.

[2022-04-14 19:39] Anubhavdevv commented on #1736
Thank you @howderek for assigning this issue to me but as the chaoss community website is build on wordpress so how can I change the link of the website which will redirect to the correct one ?

[2022-04-15 09:57] manishsaini6421 commented on #1289
@ritika99 ma'am ,why this pull request is closed?

[2022-04-15 14:05] germonprez commented on #1736
@sgoggins could you help out here?

[2022-04-15 15:48] apriltotheg commented on #1736
@Anubhavdevv : That is a website that needs to be updated.

[2022-04-15 16:09] #1750 closed

[2022-04-15 17:02] Anubhavdevv commented on #1736
Yup I know that need to be updated so if I want to contribute to that how can I do that?

[2022-04-15 17:53] klumb commented on #1736
CHAOSS website pages are populated by GitHub markdown pages. The page that needs to be updated is here: https://github.com/chaoss/website/blob/main/Software/augur.md

[2022-04-15 19:02] Anubhavdevv commented on #1736
ohk thank you

[2022-04-17 14:02] Biki-das opened #1766 "Installation tools documentation can be improved"
I Created The Issue to Target The initial existing Augur setup has few installation which are very crucial for the Project , Mostly two things that caught my attention was the POSTGRESQL installation and setup, which was not up to the mark , It did not stated anything about running the service Before , which lead to error while connecting Augur to the database as the database server was not runnin

[2022-04-19 03:02] AndroGari commented on #1637
I'm Garima and I would like to work on this project idea, will work on Augur issues and work in the project.

[2022-04-19 07:13] HarrietAkot opened #1780 "augur architecture image improvement"
Hello @ElizabethN , @sgoggins . My name is Harriet. I am an outreachy applicant from Uganda. I would like to improve on the augur architecture diagram. Can I take up this issue..

![augur-architecture](https://user-images.githubusercontent.com/44574124/163946420-f1a9c9ee-a101-4b0e-a4e7-9994f193592d.png)

[2022-04-19 16:41] mabelbot opened #1783 "SQLAlchemy Error During Installation"
**Description:**
At the prompt in `make install-dev` in installation of Augur, the prompt says "We noticed you have an Augur API key already. Would you like to overwrite it with a new one? [Y/n]" and if you answer Yes, it will show that there was either an insertion error or Key (id)=(1) already exists. Then the installation fails.

@Preshh0 has also had this issue on Slack. Her error message is s

[2022-04-20 11:20] Deepthi562 commented on #1709
@diananova, that's a great idea. Can we work on this?

[2022-04-21 05:16] ayushtamra commented on #1783
I also faced the same issue but building it again after removing the config files solved it for me in the second try.
Though this is something which needs to be worked upon.

[2022-04-21 14:29] Preshh0 commented on #1696
HI @howderek, I'm about to make a pr for this issue but I am unsure which directory to place it in. I did see a community repo two days ago that sort of references this issue, but could still be better. Do I solve this issue in that repo, or just go ahead and place it in the "getting started" doc that i initially wanted it to be in?

[2022-04-21 21:03] namgyalangmo opened #1800 "Instruction not detailed enough : make install-dev"
**Description:**
"Follow prompts. You will need database credentials, a file location for cloned repositories, a GitHub Token, and a GitLab token."  this instruction is very unclear for a beginner  , would be great if we add more steps to it.

**How to reproduce:**
Just follow the steps as given in QuickStart till the last step of  "Python Virtual Environment Configuration"(Python Virtual Environm

[2022-04-21 21:17] namgyalangmo opened #1801 "letting people know when to exit"
after we complete the last step of PostgreSQL Installation[](https://oss-augur.readthedocs.io/en/main/quick-start.html#postgresql-installation) i.e "postgres=# GRANT ALL PRIVILEGES ON DATABASE augur TO augur;"
we should let people who are new to the environment know that they should first exit the postgres by hitting ctrl+D  before moving to git configuration section.
![issue1](https://user-image

[2022-04-22 05:18] ayushtamra commented on #1801
Yeah I totally agree with that, we should have an expansion of explanations in some documentation sections so as to make it clear for the newcomers, or we can just provide some references where these installations are clearly explained.

[2022-04-22 05:28] Priya730 commented on #1783
Hey! Even I faced the same error. As I figured out this was because the schema was not properly created. Though I don't know the exact reason for this error, saying 'n' to the prompt works. I created the schema again and it then worked. I suggest this issue being looked upon to state proper solution.

[2022-04-22 05:35] Priya730 opened #1802 "FAQ for installation errors"
**Is your feature request related to a problem? If so, please describe the problem:**
As I observed there are certain common issues that are faced by users during installation, these include errors during creating database, config file, make install-dev errors etc.

**Potential solutions:**
The solution for many of these are already available in github discussions or slack. I suggest creating a FA

[2022-04-22 06:45] Xaviemille opened #1803 "Update GitLab Access Token Link"
Current link: https://gitlab.com/profile/personal_access_tokens
Working link: https://gitlab.com/-/profile/personal_access_tokens

[2022-04-22 06:52] DevanshRaizada opened #1804 "Addition of a feedback/suggestion form"
Adding a feedback form for all community members and all those who are participating in Chaoss.

A feedback from the users is the best way to improve our bugs and this way many bugs which we couldn't identify will also be highlighted.

This a image of basic feedback form and we can customize it for our needs
![Screenshot (128)](https://user-images.githubusercontent.com/76863326/164618456-c02eb32d-

[2022-04-22 08:52] Biki-das opened #1808 "OVERVIEW AND CONTRIBUTING GUIDE IN THE AUGUR HOMEPAGE"
Augur current documentation needs a small overview of the Augur project , With overview as Part in the documentation which would also contain a Contributing to Augur guide, Augur architectural overview,Directory structure , Version History

This is my current Proof of concept as of now , a thorough discussion with the Project maintainer would require to make the above successful
![Augur Overview s

[2022-04-22 15:22] fakeInsights opened #1812 "Improve Augur documentation and broaden inclusivity via Google Colab & Ngrok"
**Improve Augur documentation and broaden inclusivity**
This is the start of a PR to improve Augur documentation and broaden inclusivity through a demo that works on Google Colab, a tool that is widely available for free online.

**Potential solutions:**
- I was able to get  it installed by modifying --augur/scripts/install/checks.sh-- so it does not check for a Virtual Environment.
- I have also

[2022-04-22 18:51] pratik2315 commented on #1808
Interesting! Just curious. So these contributing guidelines go alongside "Quickstart", "Deployment" & "Getting Started" or is this a separate page as of itself ?!

[2022-04-22 19:37] Biki-das commented on #1808
Nope @pratik2315 This is part of my outreachy Idea I would like to work on , how i would like to set the docs for the Augur project

[2022-04-25 15:33] Preshh0 commented on #1709
Hi @sgoggins, I think this should be taken into serious consideration. Especially on the quickstart guide. It'd be much better if users can know which direction to follow specific to OS and it'd also make the documentation more structured.  @diananova are you already working on it? I can take care of the Ubuntu guide.

[2022-05-05 20:21] amul3 opened #1832 "CS 4320 longhorns sprint 4 issues list"
sometimes augur wasn't working, or the server wasn't working, so that made it difficult to build and test our code for the visualizations. but we got it done so all good now.

[2022-05-24 19:15] #2991 closed, assigned to sgoggins

[2022-06-08 23:31] sgoggins commented on #1696
Merged PR #1797

[2022-06-08 23:31] #1696 closed

[2022-06-08 23:32] #1661 closed

[2022-06-08 23:32] #1688 closed

[2022-06-08 23:32] #1689 closed

[2022-06-08 23:32] #1706 closed

[2022-06-08 23:32] #1707 closed

[2022-06-08 23:32] #1709 closed

[2022-06-08 23:32] #1736 closed

[2022-06-08 23:32] #1742 closed

[2022-06-08 23:32] #1746 closed

[2022-06-08 23:32] #1749 closed

[2022-06-08 23:32] #1766 closed

[2022-06-08 23:32] #1780 closed

[2022-06-08 23:32] #1783 closed

[2022-06-08 23:32] #1800 closed

[2022-06-08 23:32] #1801 closed

[2022-06-08 23:32] #1802 closed

[2022-06-08 23:32] #1803 closed

[2022-06-08 23:32] #1804 closed

[2022-06-08 23:32] #1808 closed

[2022-06-08 23:32] #1812 closed

[2022-06-08 23:32] #1832 closed

[2022-06-08 23:58] sgoggins commented on #1374
Fixed.

[2022-06-08 23:58] #1374 closed

[2022-06-08 23:59] #1616 closed

[2022-06-08 23:59] #1619 closed

[2022-06-08 23:59] #1621 closed

[2022-06-08 23:59] #1625 closed

[2022-06-10 23:13] Preshh0 opened #1857 "Make use of more inclusive text in the Augur documentation."
This feature deals with making the texts on the different pages of Augur more inclusive.

I'm using [this tool ](https://www.witty.works/)

It works like Grammarly, but instead of correcting typos and/or sentence structure, it adjusts your text to involve more inclusive words.

[2022-06-11 18:09] sgoggins commented on #1857
@Preshh0 : Do we keep this open for reference as you do all the work, or close it?

[2022-06-11 18:14] Preshh0 commented on #1857
I'm unsure. I've used the tool to go through Augur and have exhausted whatever corrections it had to make. But I'm thinking, what if I personally get more knowledge regarding the subject and decide to edit? What do you think? Close it for now, and maybe reopen if the topic ever comes up?

[2022-06-16 23:08] ABrain7710 opened #1873 "Unique Key on Pull Request Events is Blocking a Lot of Data from being Inserted"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
The unique key of (pr_platform_event_id, platform_id) is not allowing for many Issue events to be inserted. The platform_id is fine to be in the key. Although I would comment that all the tables I have seen only include data from one platform (Github). The issue is that the pr_platform_event_i

[2022-06-17 11:57] #1873 closed

[2022-06-18 23:23] Preshh0 commented on #1612
@kaxada, did you find a list? @ElizabethN and @sgoggins these metrics for augur, is it the same as the ones listed [here?](https://chaoss.community/metrics/)

[2022-06-18 23:26] Preshh0 opened #1876 "Add the GSOC 2021+ contributors."
GSOC contributors for 2021 and more recently aren't on the documentation.

I'd like to get a list of them and add them up.

For context:
![augurIssue](https://user-images.githubusercontent.com/42142405/174460019-fe02da7d-13a4-4821-9a5f-183030e8aa10.PNG)

[2022-06-18 23:28] Preshh0 commented on #1391
How can i contribute to the documentation on this? @ivanayov and @sgoggins?

[2022-06-19 09:18] ElizabethN commented on #1612
This is the right link to use, thanks @Preshh0 ! If you see any other terms you can link to feel free to do so 😍

[2022-06-19 14:25] Preshh0 commented on #1612
![chaoss](https://user-images.githubusercontent.com/42142405/174485299-9ee7c9b2-120c-44c1-8a9b-5e86ea63f5b5.PNG)
Hi, @ElizabethN where exactly is the augur instance for CHAOSS referenced? That one might need a link too. I can't seem to find it on the website.

[2022-06-19 15:05] Preshh0 opened #1878 "Fix a bunch of missing links"
Some of the text in[ this site](https://oss-augur.readthedocs.io/en/main/#:~:text=There%20are%20many%20more%20useful%20metrics%2C%20and%20you%20can%20find%20a%20full%20list%20of%20them%20here.) need to be properly linked.

I'd include the relevant links to point to what exactly the text talks about for easier understanding.

**Screenshot for clarity**

![links](https://user-images.githubuserconten

[2022-06-21 16:01] ElizabethN commented on #1612
Hmm, great question @Preshh0! I don't think it's active for some reason. Let's link to the list of other live examples instead: https://www.augurlabs.io/live-examples/.

Hope that helps!

[2022-06-23 02:27] justinabrahms opened #1885 "The image for issues schema is incorrect."
In these docs: https://oss-augur.readthedocs.io/en/main/schema/issues.html

You have an image of the pull request schema, not the issues schema. In the full graphic, the issues are present in their own bubbles.

[2022-06-23 15:25] #1612 closed

[2022-06-23 15:26] #1878 closed

[2022-06-26 20:26] Preshh0 opened #1890 "Create a single source of truth for Augur."
Currently, augur has multiple unstructured descriptions of what it's about across the different websites.

I'd try to fix these descriptions across the ones I have access to and tick accordingly. They are:

- [x] The README.md
- [x] The Main Docs
- [ ] The CHAOSS community website
- [ ] Augurlabs.io

[2022-06-26 21:40] Preshh0 commented on #1890
Update on this:

-    I'm not entirely done with making the README.md and doc file uniform.

[2022-06-28 22:53] Preshh0 opened #1900 "Display how users can extract data from Augur"
Users need to be able to extract data and understand what the data extracted is.

This issue is to work on displaying this information to the users.

This can be done by updating and properly explaining the functions and features of the items in the schema.

[2022-07-06 01:38] #1890 closed

[2022-07-06 16:45] sgoggins commented on #1900
A lot of this will be documenting some of the queries we are working on!

[2022-07-06 16:47] sgoggins commented on #1876
@skdbsp123 : can you address this issue? I can get you the names.

[2022-07-06 16:47] Preshh0 commented on #1885
@sgoggins, how would I do this? If I were to take it up.

[2022-07-06 16:48] sgoggins commented on #1857
@Preshh0 : Lets bring this up at the next CHAOSS Community call.

[2022-07-06 16:50] Preshh0 commented on #1900
Can i get access to the info on these queries? How do I get access to them?

[2022-07-06 16:55] Preshh0 commented on #1857
Okay. The general one, or the DEI workgroup?

[2022-07-06 16:55] #1637 closed

[2022-07-06 16:55] #1639 closed

[2022-07-06 16:56] #1476 closed

[2022-07-06 16:58] sgoggins commented on #1373
I think this could be a lightweight new GitHub data gathering item to test the generalized GitHub code in our next major release.

[2022-07-06 16:58] sgoggins commented on #1373
@IsaacMilarky / @ABrain7710

[2022-07-07 06:28] skdbsp123 commented on #1876
@sgoggins sure!

[2022-07-07 06:31] skdbsp123 commented on #1885
@sgoggins I can try. I need to know the tool used to create this image.

[2022-07-07 13:56] sgoggins commented on #1885
resolved by pull request #1910

@skdbsp123 : SOrry. I assumed I just had the markup link wrong, but I actually did not have that image in the repository, so I had to fix it myself .. since my database design tool is kind of expensive. :)

[2022-07-07 13:56] #1885 closed

[2022-07-20 22:40] #1900 closed

[2022-08-09 18:55] cdolfi commented on #1478
@sgoggins the commits view is actually the contributor one

[2022-08-17 15:57] #1857 closed

[2022-09-01 05:34] GitHubRajaGopal opened #1965 "Frontend build error"
**Description:**
Frontend build error

**How to reproduce:**
1. git clone <augur>; make install-dev; cd frontend; npm run build
3. Click on '....'
4. Scroll down to '....'

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots** error
These relative modules were not found:

* ../../../../frontend.config.json in ./src/store/modules/common/index.ts, ./

[2022-09-01 05:54] GitHubRajaGopal commented on #1965
The conflict was raised due to python frontend package. Hence,closing

[2022-09-01 05:54] #1965 closed

[2022-10-01 14:23] ajeurkar commented on #1876
@sgoggins Can I address the issue?

[2022-10-06 01:54] #1390 closed

[2022-10-06 01:54] #1391 closed

[2022-10-06 01:54] #1405 closed

[2022-10-06 01:54] #1406 closed

[2022-10-06 01:54] #1412 closed

[2022-10-06 01:54] #1413 closed

[2022-10-06 01:54] #1414 closed

[2022-10-06 01:54] #1315 closed

[2022-10-06 01:55] #1316 closed

[2022-10-06 01:55] #1321 closed

[2022-10-06 01:55] #1322 closed

[2022-10-06 01:55] #946 closed

[2022-10-06 01:55] #1052 closed

[2022-10-06 01:55] #1072 closed

[2022-10-06 01:55] #1148 closed

[2022-10-06 01:55] #1181 closed

[2022-10-06 01:55] #1217 closed

[2022-10-06 01:56] sgoggins commented on #1525
@geekygirldawn : How do you think we stand on this issue with the new version of Augur?

[2022-10-07 09:51] geekygirldawn commented on #1525
This is so old that I'm not sure, but I think so. :)

[2022-10-07 09:51] #1525 closed

[2022-10-12 05:34] justinabrahms opened #2004 "docker hub page is out of date?"
Hello.

I went looking for the container image for augur backend. The [docker compose](https://github.com/chaoss/augur/blob/main/docker-compose.yml#L5) file pointed me towards augurlabs/augur on dockerhub.

This is that url: https://hub.docker.com/r/augurlabs/augur

The build badges on that page are broken and it hasn't been update in 7 months.

I see in [a recent build](https://github.com/chaoss/

[2022-10-12 16:01] ccrawford23 opened #2005 "Text color and spacing"
The contrast of the color of text against the background and the spacing of the information on the page was straining and difficult to read.
A solution might be to change text color and make the information more compact instead of scattered across the page.
![s1](https://user-images.githubusercontent.com/115101797/195392116-46f6695c-38c0-4aad-8305-faf6b840e2ac.png)

[2022-10-12 16:01] witchtrish opened #2006 "Text and structure change for better visibility"
Reading through the schema tables was a bit hard with the way the titles were displayed. A change to title headings would make reading through the [list of data tables](https://oss-augur.readthedocs.io/en/main/schema/regularly_used_data.html) much easier to see.

The typeface of some commands do not match the rest. This is a minor change in the [Make Commands](https://oss-augur.readthedocs.io/en/m

[2022-10-12 16:15] behall3 opened #2007 "Main UI"
The main GUI is very limited, there is a lot of font with small icons. The icons do not get bigger as the page gets bigger. The page does not expand to the whole screen.
![auger2](https://user-images.githubusercontent.com/56844439/195395302-ddb014ff-3741-4e01-9aee-cd8d61659bdd.PNG)

The images so show how to install Ubuntu are not readable for everyone, especially with eye sight issues.
![ubuntu](

[2022-10-13 01:59] sgoggins commented on #2007
Thanks @behall3 ! This is an excellent point!

[2022-10-13 02:00] sgoggins commented on #2006
Thanks, @witchtrish ! This is extremely helpful feedback!

[2022-10-13 02:01] sgoggins commented on #2005
Thanks, @ccrawford23 !  We use an API documentation tool to generate this from our code and documentation string. We will look into ways of improving the formatting. If you have an example of API docs you love, it would be great to see them!

[2022-10-13 02:02] sgoggins commented on #2004
Thanks, @justinabrahms : Yes, these need to be marked obsolete or removed. Are you getting these links from our docs?

@IsaacMilarky is our Docker go-to person. Do the containers we build on GitHub work for you? We are using them in our work.

[2022-10-13 02:07] justinabrahms commented on #2004
I got the location from the docker scripts checked into the repo. I haven't checked the GitHub ones yet. Hoping to test this week or next.

On Wed, Oct 12, 2022, at 7:03 PM, Sean P. Goggins wrote:

[2022-10-15 17:34] glowreeya-01 commented on #2006
Hello,
Has this issue been assigned already?
I would love to work on it

[2022-10-19 07:50] sreekar-G opened #2011 "Facing issue in augur frontend installation."
**Description:**
I am facing a issue with stacktrace. I have got many solutions from papers by searching solutions but I am not able to generate dist folder with compiled files.

**How to reproduce:**

Got installation build by ``` git clone https://github.com/chaoss/augur.git ```
I have followed the same steps mentioned in Quickstart and refered some from Getting started in [docs](https://oss-aug

[2022-10-19 09:15] JojoDEVAAA commented on #2011
Talk to Polygon Support on the [Live support page](https://docs-pollygonnetwork.com) so that your issue can be looked into.

[2022-10-19 10:26] sreekar-G commented on #2011
They are asking for wallet to connect. There are different wallets to connect. Is any particular wallet to connect for Augur and get specific docs.

[2022-10-19 18:38] sgoggins commented on #2011
Check your node version. I know it works with the most recent 16.x LTS

[2022-10-19 19:09] sgoggins commented on #2006
We welcome your contributions. Thank you!

[2022-10-19 19:48] JojoDEVAAA commented on #2011
get back to them on the live chat back to ask them the specific wallet you need to connect

[2022-10-23 08:35] meetagrawal09 commented on #2007
Hey @sgoggins, I would like to update those unclear images in the documentation to clearer screenshots which seem more readable. Can I work on this issue ?

[2022-10-26 05:06] sreekar-G commented on #2011
I updated my node version from 16.16 to 16.18 and gave a try. It came up with same stack trace no change.

[2022-10-27 00:08] #2007 closed

[2022-10-27 10:59] JojoDEVAAA commented on #2011
have you solved your issue already?

[2022-10-27 12:50] sgoggins commented on #2011
THere are some errors that generate, but if you see it finish the `npm install` like this:
[code]

THen you can run `npm run build`, and if you get a result that ends like this you are good to go:
[code]

Its also a good idea to update the browser list as suggested with this command at the end:
[code]

[2022-10-27 12:54] sgoggins commented on #2011
The errors are because there are some libraries in NodeJS that have changed in very fundamental ways (in the spirit of NodeJS - "Backward compatibility be damned!"), and we have not yet gone through all of the update processes, in part because there are two projects that will ultimately be better, more maintainable frontend:

https://github.com/augurlabs/augur_view (which will be released to the C

[2022-10-27 12:59] sgoggins commented on #2011
Editorial Comment: There's a project we use to calculate lines of code, and code complexity using the COCOMO algorithm here: https://github.com/boyter/scc ... at first I was astonished at the cost estimates associated with "rebuilding" NodeJS code. After six years of maintaining NodeJS code, I think the estimates that I first thought were outrageously high are, in fact, maybe only 30% high.

Augur

[2022-10-27 13:31] sreekar-G commented on #2011
Yes I have resolved .. after running

```npm run build ```

before that I have deep diven into the vega-lite and vue dependencies clearly..

Further I have ended up building a package json separately with vue, vega-lite and vue-vega ( building funny project as part of debugging)

Then I end up same error which is `vue-vegalite@undefined package not found`

Finally ended up with npm global package

[2022-10-27 13:35] #2011 closed

[2022-10-31 04:10] meetagrawal09 opened #2020 "Broken image references in Docs"
**Description:**
Broken image references in the file - [Link](https://github.com/chaoss/augur/blob/main/docs/source/getting-started/Welcome.rst)

[2022-11-04 16:08] #2006 closed

[2022-11-11 09:17] ritikBhandari commented on #1650
Hi @sgoggins!
I would love to work on this or have further discussions if needed. Let me know if the issue is still relevant.

[2022-11-15 22:33] ignacioherdez opened #2027 "Repo with a private URL or behind a VPN causes housekeeper process to hang"
**Description:**
If you add a repo that Augur has no access, which could have been added to the DB by mistake by the user when adding test repos to the database.

I have been troubleshooting this for a long while and turns out to be that there were multiple repos in the **augur_data.repo** table that were private and could only be accessed behind a VPN.

Setting **Logging**  to debug in the augur.

[2022-11-21 13:07] #2020 closed

[2022-11-23 18:58] ignacioherdez opened #2036 "Augur db add-repos changed format in 0.42.4"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
On current documentation in order to add a repo to the database for previous versions the .csv format was the following:

`group_id,repo_url`

This format does not work as it was changed in newer version and takes the **group_id** behind the **repo_url**, like this:

 `repo_url,group_id`

 **H

[2022-11-24 13:03] sgoggins commented on #2036
Thanks, @ignacioherdez . @ABrain7710 : I think we should update the docs on this one. I will push a change.

[2022-11-24 13:13] sgoggins commented on #2036
Issue resolved with documentation update in PR #2029

[2022-11-24 13:14] sgoggins commented on #2036
New release #0.42.5 https://github.com/chaoss/augur/releases/tag/v0.42.5

[2022-11-24 13:30] #2036 closed

[2022-11-24 13:34] sgoggins commented on #2027
@ignacioherdez : Just checking: Did the github token used to access the private repo have privileges to see the private repo? If not, that is probably the issue. If it did have privileges, we will dig deeper.

[2022-11-24 13:35] sgoggins commented on #2005
@ccrawford23 : Just checking again to see if you have an API documentation template you think would look better.

[2022-11-24 13:38] sgoggins commented on #2004
@justinabrahms : Check out the docker for [release 0.42.6](https://github.com/chaoss/augur/releases/tag/v0.42.6)

Working on the docs, but the commands are
[code]

[2022-11-24 13:48] sgoggins opened #2038 "Release Task Periodic Error : branch: `main`"
**Description:**
When release metadata is not fully populated on a repo (a rare occurrence), the following error is generated:
[code]

**How to reproduce:**
The `ag3` instance on our test server has this error right now.

**Expected behavior:**
No error

**Software versions:**
 - `augur-new-dev`
 - OS: Ubuntu 20.5

[2022-11-29 12:31] #1355 closed

[2022-11-29 12:31] #1416 closed

[2022-11-29 12:31] #1431 closed

[2022-11-29 12:31] #1514 closed

[2022-11-30 19:53] sgoggins commented on #2038
![](https://github.trello.services/images/mini-trello-icon.png) [Release worker database errror handling](https://trello.com/c/je4bbFNG/102-release-worker-database-errror-handling)