[2019-07-16 01:37] #321 closed

[2019-07-18 16:20] sgoggins opened #327 "API Endpoint Request"
#### Calculate Contributions and Display Developers Contributing n % of all Commits (Repo and Repo Group)
We want to build a pie chart that shows the commit share of the developers "inside the bus factor", and then provides a slice, as well, for "all other committers".
1. To orient ourselves, first, how many total commits are there?
[code]
For our example, there are 9,671 patches in a repository g

[2019-07-19 07:12] parthsharma2 commented on #327
@sgoggins  what do we name this?

[2019-07-22 03:56] parthsharma2 commented on #327
Implemented in #330

[2019-08-15 21:48] #282 closed

[2019-08-25 13:32] sgoggins opened #361 "Simplified Installation for Tech Scenario 1: Local"
**Is your feature request related to a problem? If so, please describe the problem:**
Augur has two main parts, and two main technical use scenarios:
Part 1: Back End
Part 2: Front End
Tech Scenario 1: New user wanting to try Augur locally
Tech Scenario 2: Organization wanting to deploy Augur on a server.

**Describe the solution you'd like:**
A simple script for local installation. Components inc

[2019-08-25 13:43] sgoggins commented on #361
A first draft is in `augurinstall.sh` in the root directory.
@parthsharma2 's  program to generate an `augur.config.json` needs to have the worker ports added as defaults. For the new user running locally, we do not need to prompt for these. `augur_localstart.sh` and `augurkill.sh` in the root directory are also in progress.  Getting the database configured and started with repositories is the big

[2019-08-26 03:46] ccarterlandis commented on #361
@sgoggins I'm slightly confused about the wording of this section:

I'm confused about the difference between an 'installation' and 'database' in this context, can you clarify?

[2019-08-26 04:00] ccarterlandis commented on #361
Additionally, I feel like this section from Path B

more aptly belongs under the Path A with the configuration of the database. If they have a database already populated, we can skip Path B entirely. Thoughts? @sgoggins

[2019-08-28 17:22] SanchitVerma opened #362 "twitter\twurl.git - Graphs not responding & header overlap"
Description of the bug:

Issue 1. For the Twitter\twurl.git repository the graphs are not responding on trying to switch between formats of style or timelines

Issue 2. For the Twitter\twurl.git repository there is an overlap of the main header and first graph's title

Steps to reproduce the behavior:

1. Go to 'http://dev.augurlabs.io/'
2. Click on 'github.com/twitter/twurl.git' under Twitter
3.

[2019-08-29 13:26] Nebrethar opened #363 "Sample data link on dev install is broken"
**Describe the bug:**
I noticed that the sample data link is a 404, under the heading "create the database schema".

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to https://github.com/chaoss/augur/blob/dev/docs/setup/installing-augur.md
2. Click on nekocase.augurlabs.io/augur.psql.bak.gz
(real link https://github.com/chaoss/augur/blob/dev/docs/setup/nekocase.augurlabs.io/augur.psql.bak

[2019-08-29 13:27] Nebrethar commented on #363
Note: Using the link verbatim (nekocase.augurlabs.io/augur.psql.bak.gz) also ends in a 404

[2019-08-29 15:31] sgoggins opened #364 "Some Unclear / Redundant Installation Questions"
**Describe the bug:**
Ambiguity and repetition can be avoided:

If you need to install Postgres, the downloads can be found here: https://www.postgresql.org/download/
1) Would you like to use a pre-existing Postgres 10 or 11 installation to which you can install the Augur schema?
2) Would you like to use a pre-existing Postgres 10 or 11 installation to which someone else can install the Augur sche

[2019-08-29 18:13] ccarterlandis commented on #364
Below are my fixes in [this](https://github.com/chaoss/augur/commit/1df2b605f6f663d6c972c33019614b63303df8f2) commit for the above issues:
1. Deleted the prompt for the `name` parameter from the script
2. Defaulted the `schema` parameter to `augur_data`
3. For now I've deleted the prompt for the `key` parameter from the script; I think we did use this for something in the past however, so I'm not

[2019-08-29 18:13] #364 closed

[2019-08-30 00:49] gabe-heim commented on #362
Hi @SanchitVerma ! Thanks for opening this issue, we are actually in the process of redesigning a new frontend that will solve issues like these, have a whole lot more visualizations to explore, and have a brand new design that has a much cleaner look. We are currently getting it stable enough to push up to all of these instances. You can see a beta version of this frontend at http://augur.ossheal

[2019-08-31 11:57] sgoggins opened #366 "Updates to creation of augur.config.json on install."
**Is your feature request related to a problem? If so, please describe the problem:**
Install script should create default worker and housekeeper blocks.

**Describe the solution you'd like:**

    "Facade": {
        "check_updates": 1,
        "clone_repos": 1,
        "create_xlsx_summary_files": 1,
        "delete_marked_repos": 0,
        "fix_affiliations": 1,
        "force_analysis": 1,

[2019-08-31 16:03] sgoggins opened #367 "Git Repo_Group Page Operational"
**Is your feature request related to a problem? If so, please describe the problem:**
The repo groups page I would like to see some basic info on, even if its just a list of repo groups that takes me to a list of repos in that group.

[2019-08-31 16:59] gabe-heim commented on #367
@ElitaNelson @ortonpaul Hey guys this may be a good thing for one or both of you to work on that helps give you a sense of how the endpoints and data handling works on the frontend. Looking at `Repos.vue` would be a great reference for how to do this, as that component essentially does the same thing but for repos, I'm always available on slack if you have questions

[2019-08-31 18:46] sgoggins opened #368 "Facade_worker multi-threading too greedy"
**Describe the bug:**
When "multithreaded":1 is se, the worker will create processes until it runs out of CPU's on the computer and then stop processing altogether. The process appears a live, but the last message in the log is: `Worker (PID: 13529) initializing...`

**To Reproduce:**
Steps to reproduce the behavior:
1. Set worker parameter to "multithreaded" : 1
2. `nohup facade_worker_start >fac

[2019-09-01 05:59] parthsharma2 commented on #366
I'll work on this

[2019-09-02 00:27] Nebrethar opened #370 "No first-page metrics visualizations on dev branch"
**Describe the bug:**
I've noticed using the latest version of `dev` that the main metrics page is not loading completely . I've only noticed it on zephyr repositories but it happens every time there.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to Repos page
2. Click on any repo prefixed with `zephyrproject-rtos`
4. See error

**Expected behavior:**
I expected the metrics page to loa

[2019-09-02 06:41] ericshanda opened #371 "Can these project work on privatization gitlab?"
We use privatization gitlab inside my company. Can augur work on the gitlab?

[2019-09-03 12:57] Nebrethar opened #372 "Some top-insights are returning 500 ISE on dev"
**Describe the bug:**
[code]
**Calling these front page endpoint URLs results in 500 errors. I have included my trace at the bottom of this post.
It seems to be related to the variable `cms_id` which does not seem to exist in this context.**

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to the front page of augur - dev
2. Open console
4. See errors

**Expected behavior:**
I did not kno

[2019-09-03 13:06] Nebrethar commented on #327
@sgoggins Are you okay with closing this issue?

[2019-09-03 13:13] Nebrethar commented on #302
@sgoggins
This option needs more visibility; it is not included in the dev install doc. The master install doc does not provide enough exposure to this option either.

[2019-09-03 15:43] Nebrethar commented on #372
Confirmed on a fresh checkout of dev

[2019-09-03 15:48] Nebrethar commented on #370
It is happening to my dashboard for more than just zephyr. Confirmed on a clean pull of dev.
**Dashboard:**
https://imgur.com/a/hm2YHB2

**Terminals (No signs of issues):**
https://imgur.com/a/W8E1Gls

[2019-09-03 16:07] sgoggins commented on #372
@gabe-heim : This is related it appears to our removal of the `cms_id` column as you were doing insights work? Can we fix the API quick?

[code]

[code]

[2019-09-03 16:29] Nebrethar commented on #370
I can't find any changes related to the issue itself, but it seems to be that some vue files (such as tickchart and horizontalbarchart) can't find window.vegaEmbed

@gabe-heim inviting you to this one because it seems that you've worked the most on these files.

@sgoggins I can't move forward until we get **this** and **pr #365** taken care of.

[2019-09-03 17:45] gabe-heim commented on #366
Defaults added in #373

[2019-09-03 17:45] #366 closed

[2019-09-03 17:50] gabe-heim commented on #372
@sgoggins there is an api change that is needed as well as some frontend logic that references that column, I am fixing it now

[2019-09-03 20:03] gabe-heim commented on #370
This should be fixed in 1719c45, let me know if you are still having issues @Nebrethar

[2019-09-03 22:17] Nebrethar commented on #370
The metrics page still looks like this:
https://i.imgur.com/CGdTMcN.png

Text for "lines of code" is very small and the visualization for it does not load.

Here is a copy of my console from the page. It looks like it is rejecting something in "lines of code" with the yellow text.
[code]

[2019-09-03 23:30] sgoggins commented on #370
I am checking with @gabe-heim about where we have the fix deployed. Primarily to make sure I do useful things. :)

[2019-09-03 23:53] Nebrethar opened #376 "Metrics page Loading Issues"
Migrated from #370

The metrics page looks like this:
https://i.imgur.com/CGdTMcN.png

Text for "lines of code" is very small and the visualization for it does not load.

Here is a copy of my console from the page. It looks like it is rejecting something in "lines of code".
![image](https://user-images.githubusercontent.com/34951354/64212366-bc286880-ce6e-11e9-9ea7-089648714e9a.png)

[2019-09-03 23:54] Nebrethar commented on #370
Second discussion moved to #376

[2019-09-03 23:54] #370 closed

[2019-09-04 07:47] sgoggins opened #377 "repo_info_worker rate limit exceeded error"
**Describe the bug:**
When the rate limit on our GitHub API key is exceeded, the repo_info_error does not handle that and wait an hour to attempt again.

It is notable that this error did occur during a time, second or 10th (not sure) run of the repo_info worker on a repository.

**To Reproduce:**
Steps to reproduce the behavior:
1. Run the repo_info_worker using a GitHub API key that has exceeded

[2019-09-04 07:50] sgoggins commented on #377
@parthsharma2 and @gabe-heim : The issue does not insert "bad data", but there is a potential that we will miss data collection windows. I think the logic around waiting that's in the git_hub_worker for issues appears sound. If @parthsharma2 is able to look at that and refactor the repo_info_worker it could be beneficial.

[2019-09-04 07:51] sgoggins commented on #377
I'm also noting the the repo_info_worker is hitting the graphql (API v4) endpoints. It *may* be the case that the data types returned are not the same for the v3 and v4 GitHub API implementations of date or timestamp, as that's the error being specifically thrown.

[2019-09-04 09:19] sgoggins commented on #377
@parthsharma2 : Update: While bad data is not inserted, the way the current endpoint is constructed for summaries by repo_group, by collecting only on a subset of repositories, the repo_group summary for the most recent collection is thrown off. @gabe-heim : That's the root cause.  I deleted the 42 records of 112 gathered in one instance most recently before we hit the rate limit and this fixed th

[2019-09-04 14:01] sgoggins commented on #376
I think @gabe-heim fixed this.  Can you confirm @Nebrethar ?

[2019-09-04 14:03] sgoggins commented on #371
I think you would need to define "privatization" a little more, but if you have credentials to clone a .git repository from .gitlab, which you can configure within the shell that you run our commit collection 'facade_worker' on, then you can get commits. Do you also have issues and the GitLab equivalent of Pull Requests that you want to track?

[2019-09-04 14:33] Nebrethar commented on #376
It is not fixed on my computer with a clean install, but It seems to be fixed elsewhere. I will close this now.

[2019-09-04 14:33] #376 closed

[2019-09-04 16:12] gabe-heim commented on #276
The new front end addresses and solves this issue IMO

[2019-09-04 16:12] #276 closed

[2019-09-04 19:53] sgoggins opened #378 "Enable GitHub worker to collect issues and contributor data simultaneously"
**Is your feature request related to a problem? If so, please describe the problem:**
Right now we can run the issue or contributor models both run, but not at the same time.

**Describe the solution you'd like:**
Make it so they can both run at once.

**Describe alternatives you've considered:**
Separate functions into different workers or address multi-task workers.

**Additional context:**
Add

[2019-09-04 23:08] andyl opened #379 "Augur Single-Platform Target for Developers?"
This is more of a discussion than a bug...

# Developer Platform

While going thru the Augur installation docco, I see references to installing on Mac, on Ubuntu, on Fedora, on Windows...

IMHO supporting multiple platforms leads to extra documentation complexity, extra testing, more opportunities for failure. It would simplify things greatly if there were just a single developer installation targ

[2019-09-05 07:32] parthsharma2 commented on #377
@sgoggins I think this is most probably happening because the v3 & v4 GitHub API have different rate limits.

Refer: https://developer.github.com/v3/rate_limit/

I think one solution is to only use the v4 API for gathering all data. The worker uses the v3 API for getting the `commit_count` and `commiters_count`. We could probably get `commit_count` from the v4 API but as far as I know, getting `co

[2019-09-05 13:13] gabe-heim commented on #377
IMO we should maintain both rate limits, otherwise the worker will skip past the v4 data we need while still thinking it completed the task

[2019-09-05 13:54] ccarterlandis commented on #229
We've undergone a huge re-architecting since this issue was opened, and as a part of this process we've made numerous improvements to the NDE. While we will continue to focus on the enhancing NDE moving forward, the data in this issue is now significantly out of date.

[2019-09-05 13:54] #229 closed

[2019-09-05 14:18] sgoggins opened #380 "Comparison's not working on `dev1"
**Describe the bug:**
Repo comparison functionality is broken in the dev branch. It does not show repo-groups or repos in the list.

**To Reproduce:**
Steps to reproduce the behavior:
1. Download and run the latest version of Augur's `dev` branch.

**Expected behavior:**
Comparisons to work.

**Screenshots**

![Vue_App](https://user-images.githubusercontent.com/379847/64350268-05d39900-cfbe-11e9-8

[2019-09-05 15:27] bing0n3 commented on #380
I will work on it.

[2019-09-06 08:34] Manojkakde commented on #380
Definitely I will work on this.

[2019-09-06 19:19] sgoggins commented on #379
Hi @andyl : We are really focused on making the new developer experience accessible to everyone. Virtualbox has proven kind of unstable with Augur. I think the Docker container could possibly work for some, but we are not sure about abandoning instructions for Fedora and Mac.  Windows is super hard. It is so completely different in every way. Even their Ubuntu distro/VM/Shell systems do things dif

[2019-09-06 20:09] andyl commented on #379
@sgoggins: fair enough and thanks for the clarification.  That being the case: would you be open to segregating the install instructions into separate platform-specific sections?  In this way a potential author (like me) could focus on a specific platform.  In this case, I'm thinking that a 'platform' is a combination of hostOS plus a virtualization layer.  It's an interesting organization challen

[2019-09-08 03:47] bing0n3 commented on #380
https://github.com/chaoss/augur/blob/94bdf850b07ef06074a54007b0dfb835ed87cf9e/frontend/src/store/modules/common/actions.ts#L191-L207

@sgoggins : The reason  Comparison broke is @gabe-heim comment out this code, so that we cannot commit repo_group data to cache.  Uncomment it  can fix the bug. Do you want me to fix it now because I didn't know why gabe comment out it?

[2019-09-09 04:10] sgoggins opened #383 "GitHub Issue worker needs to ignore other issue domains"
**Describe the bug:**
When the github issue worker hits a repo that does not have a github.com domain, it fails because it cannot find the github issue API for that git url.

**To Reproduce:**
Steps to reproduce the behavior:
1. Run the Github issue worker

**Expected behavior:**
Skip domains not github.com

**Screenshots**
[code]

[2019-09-09 18:53] bing0n3 commented on #380
@sgoggins: @gabe-heim has fixed it.

[2019-09-09 18:53] #380 closed

[2019-09-10 16:08] sgoggins commented on #377
It works!

[2019-09-10 16:08] #377 closed

[2019-09-10 16:11] sgoggins commented on #368
This issue was solved by configuration changes in the Housekeeper in commit : https://github.com/chaoss/augur/commit/435de1e9c77e161a5b699f863910cf1edeb3a0ea .

[2019-09-10 16:11] #368 closed

[2019-09-10 22:58] #367 closed

[2019-09-10 22:59] ccarterlandis opened #385 "Git Repo page enhancements"
@gabe-heim knows what all needs to happen here.

[2019-09-11 19:00] #379 closed

[2019-09-12 11:15] sgoggins opened #386 "Separate Identity Resolution Into its own worker"
**Is your feature request related to a problem? If so, please describe the problem:**
We resolve identity in the Facade_Worker and the Git_Hub worker, trying to ensure the same people are included in only one row, and identifying aliases.

Under initial data load conditions, it becomes a kind of tie breaking order of execution contest that works, but results in extra API calls.

It is more optimal

[2019-09-13 14:10] sgoggins opened #387 "On the fly aggregation of "metric sets" by a user selected set of repositories"
**Is your feature request related to a problem? If so, please describe the problem:**
Using CHAOSS as an example, the working group repositories function one way, while Augur and Grimoirelab function in different ways. In discussion with scientific software communities we learned that this kind of "filtering within a set" for "aggregation by type" is a desired endpoint and possibly front end.

**D

[2019-09-20 08:17] rawkode opened #390 "Error: relation "augur_operations.repos_import" does not exist"
**Describe the bug:**
Schema for `repos_import` is not included in repository

[2019-09-21 20:34] sgoggins opened #391 "Facade Handling of Bad data"
**Is your feature request related to a problem? If so, please describe the problem:**
We recently had a set of github repositories that did not include the 'https://' in the `git_url` column. It would be a helpful feature to check for this error.

**Describe the solution you'd like:**
When this is detected, I advise these sql commands in the database:
[code]

Followed by restarting the facade_work

[2019-09-23 18:30] Nebrethar opened #392 "[Dev] Backend will not initiate"
**Describe the bug:**
I cannot start my backend on the dev branch.
I get an error that I am not sure of.

**To Reproduce:**
Steps to reproduce the behavior:
1. Clone augur
2. Checkout dev
3. Go to augur root directory
4. Command "augur run"

**Expected behavior:**
I hoped backend augur would start like it normally does.

**Screenshots**
I included the full trace from the error.

**Desktop (please

[2019-09-23 18:33] Nebrethar opened #393 "osshealth (augur) Risk pages not loading."
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to, for example, http://augur.osshealth.io/repo/CHAOSS%20Risk%20Working%20Group/openssl/risk

**Expected behavior:**
I expected the risk page to load

**Screenshots**
![image](https://user-images.githubusercontent.com/34951354/65452326-a58a8700-de06-11e9-9f3b-30d56028

[2019-09-23 19:58] ccarterlandis commented on #392
@Nebrethar I'm unable to recreate this error on the latest version of `dev`. What is the output of `git log -n 1 dev`?

[2019-09-23 20:50] Nebrethar commented on #392
@ccarterlandis
[code]

[2019-09-23 20:53] ccarterlandis commented on #392
I'm thinking it may be an older version of `augur` that's being run somehow, running `make clean` should remove all the built files. You also may have to do `python setup.py install` again, sorry I forgot to mention that

[2019-09-24 16:04] Nebrethar commented on #392
I fixed it (in the `augur run` directory) with:
[code]
This should be documented somewhere, probably in `installing-augur.md`. I will make a PR

[2019-09-24 16:04] #392 closed

[2019-09-24 16:21] Nebrethar commented on #392
Also @ccarterlandis thanks for your help. I was stuck on this one,

[2019-09-24 16:21] sgoggins commented on #392
usually `make install` takes care of things on the dev branch these days ...

[2019-09-24 16:25] Nebrethar commented on #393
Just tried this on localhost: I'm not sure why but it loads all repo groups and repos when i go to the risk page.
It also does not look like it is attempting to load risk data at all.

[2019-09-24 16:38] Nebrethar commented on #392
@sgoggins either way, I've been working on the new architecture since it was instantiated and I never knew how to update after a pull. However it's done, it should be documented and easy to find.

[2019-09-25 04:14] gabe-heim commented on #393
@Nebrethar fixed in 37731cf1cd5af61445064d10c8108c30f5413bf3 . It loads the repo groups and repos occasionally if the page it is on needs a repo id (usually for re-setting the baseRepo in the vuex state, this logic can be found in frontend/src/Augur.ts) and that data is not already cached. Jsyk the fix for this included changing some of your old implementation by moving some of the risk endpoint c

[2019-09-25 04:14] #393 closed

[2019-09-25 22:59] #361 closed

[2019-09-29 10:36] #371 closed

[2019-09-30 20:42] gabe-heim commented on #383
Fixed in f66077577549e5b386f385a33f3eb9b41fd91f46 and 583d786934b43219410a0aa6d1933aa3cada2263 . It should be noted that if you have a housekeeper task for the github worker in your augur.config.json, then you will need to update the `given` to be `github_url`. Example:
[code]

[2019-09-30 20:42] #383 closed

[2019-10-01 16:05] Nebrethar opened #396 "[dev] Empty "Default", "Seniate" repo groups"
**Describe the bug:**
If i click on the repo group `default`, i get an empty data set.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to `http://augur.osshealth.io/`
2. Click on `Default` repo group
4. See empty box

**Expected behavior:**
I expected some data to be present.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.github

[2019-10-01 16:09] Nebrethar commented on #396
It looks like the repo group [Seniate](http://augur.osshealth.io/group/Senaite/overview) is empty too.

[2019-10-01 16:18] Nebrethar opened #397 "[request] API Calls for specific repo groups"
**Is your feature request related to a problem? If so, please describe the problem:**
When I click on a repo group on the current `dev` version of augur, I can watch the backend and see that all of `/api/unstable/repos` is called to load a single repo group. This is okay on osshealth.io because the database is quickly queried, but it takes several seconds on my machine. This is where it could be a

[2019-10-01 16:47] Nebrethar commented on #385
@ccarterlandis @gabe-heim

Can you please explain the goal here? I'm not sure how, or if, I can help.

[2019-10-02 18:34] Nebrethar opened #400 "[dev] Can compare repo-group to single repo (broken)"
**Describe the bug:**
I am able to compare a repo to a repo group. To reproduce this, you must come from the augur repo-groups page and click on a repo group. The next page will have single-repo comparison available.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to http://augur.osshealth.io/
2. Click on a repo-group
3. Select a comparison
4. See broken page

**Expected behavior:**
I di

[2019-10-03 15:29] ElitaNelson opened #401 "Axis of chart cut off at top"
On the Insights page, the axis of the charts is cut off at the top, when it reaches the edge of the container, see screenshot below:
<img width="1291" alt="image" src="https://user-images.githubusercontent.com/43044423/66140574-f8fb9280-e5c7-11e9-8ec4-8b8a6523d308.png">

[2019-10-03 19:16] yDraigRP opened #403 "Getting ready to run augur on a windows 10 PC (Part 1: The install)"
Hopefully this will follow the instructions at
https://oss-augur.readthedocs.io/en/osd-2019/installation.html

**Prerequisites:**

1) Install python 3.6+
2) Install PyCharm
3) Install GnuMake (or use Visual Studio if you have it)
4) Make sure your path has the Python and Python scripts directory
5) Add an environment variable for HOME = %USERPROFILE%
6) Install node/npm
7) Install @vue\cli
8) Enab

[2019-10-03 19:35] yDraigRP commented on #403
I forgot that I also had to edit the Makefile slightly.

[Makefile ,txt](https://github.com/chaoss/augur/files/3687748/Makefile.txt)

[2019-10-04 06:42] Prajwal7842 commented on #302
Hi, I am new to this project and would like to contribute to it. I am trying to set up this project "Augur" on my local machine. So I followed the instructions and am posting this comment.
I am currently a student.
I won't be using it anywhere else other than Augur.
@sgoggins

[2019-10-07 19:43] sgoggins opened #404 "Pull Request Worker Error"
**Describe the bug:**
The pull request worker is not handling null users. I am not sure if we have unfinished work linking the worker to the contributor model, or if there is a different type of issue. It seems that the worker does not finish a repository once it runs into this error, so if the error occurs in a corpora, the pull requests are not fully populated for that repository.
[code]
**To Re

[2019-10-07 19:44] sgoggins commented on #404
@parthsharma2 : Wonder if you can take a look at this; I believe its on the server you have access to where I am finding this error. I will send you some of the log.

[2019-10-09 22:16] sgoggins opened #406 "Frontend does not compile on dev branch"
**Describe the bug:**
 ERROR  Failed to compile with 17 errors                                                                                                                                              10:13:20 PM

 ERROR  Failed to compile with 17 errors                                                                                                                                              1

[2019-10-11 22:05] vinodkahuja opened #412 "Augur schema link is not working"
Augur Schema link is Dependencies section of installation instruction is not working.

- PostgreSQL 11 installation with the Augur schema installed

[2019-10-11 22:11] vinodkahuja opened #413 "Augur Installation"
All the links of front end dependencies are broken.
Frontend
Vue.js
vue-cli
npm

[2019-10-11 22:13] GeorgLink commented on #412
It would be advisable to use a relative path to /augur/persistence_schema folder ...

In that folder, it would be great to add information on how to import the SQL files to Postgres

[2019-10-11 22:30] GeorgLink commented on #413
We took notes as @andyl @vinodkahuja and @GeorgLink tried to go through the installation. We also recorded the session in the CHAOSS Zoom channel. Maybe @germonprez can share the link.

I suggest someone from the augur team look through the notes and watch the video to see what roadblocks we faced, what didn't make sense, and from all that to make improvements to the installation instructions.

He

[2019-10-11 23:46] ccarterlandis commented on #413
I will watch the video ASAP, but in the meantime I hope I can answer some of your questions here.

The `master` branch is not exactly ready for widespread use or distribution. We have been in a **very** rapid development mode and are working on a formal stabilization release. The instruction to use the `osd-2019` branch was intended to be used for the Open Source Day at Grace Hopper last week: the

[2019-10-12 00:06] GeorgLink commented on #413
Yes of course. Thank you for all the work you already put into this. Thank you for the quick response.

It did say that.
The second prompt was very similar to the first and we repeatedly did not think that the script correctly accepted our answer. You'll see when you watch the video that we started the script multiple times.

I'm talking about the instruction in the README. They only say to create

[2019-10-12 00:09] ccarterlandis commented on #413
@GeorgLink sounds good, it seems a lot of the confusion was the `README` and the installation script being out of sync with each other...I will absolutely make sure they have parity when we release to avoid most of these "conflicting instruction" errors. Truth be told I didn't even think to update the `README` when I was updating the installation script. 😅 I will definitely watch the video later t

[2019-10-12 00:42] andyl commented on #413
@ccarterlandis thanks for your extensive reply

I'm in this for the long haul & understand how it is working with new software.  I very much like your the energy and dedication.  Here are some general points of feedback...

Simplify:
- the DB schema is large and hard to grok
- could it be cut way back?
- could JSON fields be used to handle edge-cases?
- would a reduced scope help to improve qualit

[2019-10-12 11:24] germonprez commented on #413
Here is the link: https://youtu.be/eingC53wdvg

[2019-10-13 13:36] GeorgLink commented on #413
Thanks Matt!

[2019-10-13 14:36] sgoggins commented on #413
@andyl A few responses;
[code]
This is not really a question of simplification, but a question of where the work of making sense of the data will take place, and the value placed on cross-platform metric consistency architecturally traded off against speed of collection.

When data is collected but not groked at that time, it has to be groked piece by piece in the implementation of metrics. Under

[2019-10-13 14:49] sgoggins commented on #413
At 9:20 in the video Andy states that we are assuming that "python is python3, but for me it is python 2". If the instructions to create a virtual enviornment are followed, and the environment is activated, then this is moot. In a python3 virtualenv, "python" is "python3".

The same instructions apply to grimoirelab as well. It is good python practice to use virtualenv's. to some extent we are 'ov

[2019-10-13 14:56] sgoggins commented on #413
At 14:20 Georg and Andy realize the virtualenv needs to be activated. This is in the instructions after the creation of the virtualenv. This is also a fundamental practice for Python development. We are working to emphasize this process for people who are unfamiliar with working in Python in the setup instructions based on it being missed on this video.

[2019-10-13 15:39] sgoggins commented on #413
The issues related to `bdist_wheel` at 15:45 are a function of the `wheel` package not being installed.

This is a common package, and we are going to change the way we recommend creating virtual enviornments. The `virtualenv` package installs essential python packages by default in new virtual environments, including `wheel`.

`pip3 install virtualenv` or `pip install virtualenv`

`virtualenv --p

[2019-10-13 15:42] sgoggins commented on #413
At 17:30, @vinodkahuja is referencing Anaconda, which is from a previous version of the README file.  This instruction no longer exists. Augur does not use Anaconda by default anymore (and has not for six months).

[2019-10-13 15:48] sgoggins commented on #413
The prompting for a key at 21:00 is a defect in the installer. This is the GitHub API key, and we do prompt you for it again in the next step. We are changing the installer so that this key prompt is clearly labeled "Github API Key", and we only ask you for it once.

[2019-10-13 21:41] gabe-heim commented on #385
Style changes to this page solved the problems being referred to here (if this isn't the case please reopen)

[2019-10-13 21:41] #385 closed

[2019-10-13 21:47] gabe-heim commented on #274
The charts referenced are not on our new front end right now, once we add them we will annotate them differently

[2019-10-13 21:47] #274 closed

[2019-10-13 21:51] gabe-heim commented on #406
Production build of the front end no longer has any of these errors, if different behavior occurs on the deployed instances please let me know and reopen @sgoggins

[2019-10-13 21:51] #406 closed

[2019-10-14 14:01] sgoggins commented on #412
@vinodkahuja : What link are you referrign to?

[2019-10-14 14:11] germonprez opened #415 "Not all TLDR Links are active"
**Describe the bug:**
Not all links to TLDR licenses are working

**To Reproduce:**
Go here: http://science.osshealth.io/repo/Senaite/senaite.core/risk

**Expected behavior:**
All links should work to TLDR

**Screenshots**
http://science.osshealth.io/repo/Senaite/senaite.core/risk

**Desktop (please complete the following information):**
Mac/Firefox

**Additional context**
@Nebrethar could you che

[2019-10-14 14:13] germonprez opened #416 "SBOM Button not Working"
**Describe the bug:**
SBOM is not producing SPDX

**To Reproduce:**
http://science.osshealth.io/repo/Senaite/senaite.core/risk

**Expected behavior:**
When I click the sbom link, I suspect to see an option to download an SPDX

**Screenshots**
http://science.osshealth.io/repo/Senaite/senaite.core/risk

**Desktop (please complete the following information):**
Mac/Firefox

**Additional context**
@Neb

[2019-10-14 14:15] germonprez opened #417 "Top Graph on Insights not Rendering Well"
**Describe the bug:**
Top Graph on Insights not Rendering Well

**To Reproduce:**
http://science.osshealth.io/inspect_insight/Samvera/https:%2F%2Fgithub.com%2Fsamvera%2Fmaintenance.git/issues-new/

**Expected behavior:**
The graph is just rendering funny

**Screenshots**
<img width="828" alt="Screen Shot 2019-10-14 at 9 13 37 AM" src="https://user-images.githubusercontent.com/656208/66757987-fb30d

[2019-10-14 14:15] sgoggins commented on #416
@Nebrethar : Can you let @gabe-heim and @michaelwoodruffdev know if this is an issue you are aware of, or if there is possibly a need to rerun the risk stuff, `augur-sbom` on this instance because the sbom functionality was developed after we deployed this instance?

[2019-10-14 14:17] sgoggins commented on #415
@Nebrethar : This may be a result of the instance being deployed prior to this functionality being developed. Please advise. I do have the latest augur version as of Friday deployed here, but we may need to rerun the risk analysis with `augur-sbom`.

[2019-10-14 14:21] sgoggins commented on #417
@gabe-heim : I confirmed that this is an issue on both Chrome and Firefox.

[2019-10-14 14:22] vinodkahuja commented on #412
![Capture](https://user-images.githubusercontent.com/25468243/66758486-fcaed500-ee63-11e9-8137-b9f5a0f2df34.JPG)

[2019-10-14 14:36] sgoggins commented on #413
@vinodkahuja : can you clarify what you mean. Are you saying that it does not compile the frontend on your computer? What is the OS? Do you have NPM installed?

[2019-10-14 14:47] vinodkahuja commented on #413
@sgoggins on the readme page when I follow the instructions to install front end dependencies, readme page provides me link to those dependencies installation. When I click any of the link I get an error message. That is where I raised this issue that all the provided links are broken.

[2019-10-15 17:33] ccarterlandis commented on #415
We discussed on the CHAOSS call today that we may need to change this from TLDR to SPDX. Would it be a problem/confusing if we provided both links, since they have different information available? @Nebrethar @germonprez

[2019-10-15 17:48] germonprez commented on #415
That's a good idea

[2019-10-15 18:03] ccarterlandis commented on #400
There's no expectation that we should be able to compare repo groups, as at that point the information would be so diffused that it would be meaningless. @gabe-heim @michaelwoodruffdev can you take a look into what's causing this?

[2019-10-15 18:08] ccarterlandis commented on #396
We are okay with this for now, as these are supposed to be empty. We know it's not ideal but we have a long term solution in place to target this.

[2019-10-15 18:08] #396 closed

[2019-10-18 18:12] Nebrethar commented on #415
Sorry for the late reply. I am looking now into how we can migrate this to SPDX links

[2019-10-18 18:49] Nebrethar commented on #415
SPDX provides a "see here" link for every single license.

I have created a pull request to change to these links.

Please note that some nomos tags possess some ambiguity and cannot be linked out.

[2019-10-18 18:51] Nebrethar commented on #416
@germonprez I cannot reproduce this issue. This is working for me on chrome and firefox. I think I need more context i.e. browser logs.

Please note that when you click the SBOM button, it pushes a download to your browser. There is no middle interaction.

[2019-10-23 23:37] sgoggins commented on #415
We are changing these to SPDX license links.

[2019-10-23 23:37] #415 closed

[2019-10-23 23:37] sgoggins commented on #412
This is fixed.

[2019-10-23 23:37] #412 closed

[2019-10-23 23:38] sgoggins commented on #404
Parth fixed this! Yay @parthsharma2 !

[2019-10-23 23:38] #404 closed

[2019-10-23 23:38] sgoggins commented on #391
Fixed.

[2019-10-23 23:38] #391 closed

[2019-10-23 23:39] sgoggins commented on #390
This is superceded by our new repository import functionality. Thanks, @rawkode !!!

[2019-10-23 23:39] #390 closed

[2019-10-23 23:39] sgoggins commented on #378
Completed in latest release. Thanks, @gabe-heim !!

[2019-10-23 23:39] #378 closed

[2019-10-23 23:40] sgoggins commented on #363
The sample data is now part of the installation script!  Thanks, @ccarterlandis !!!

[2019-10-23 23:40] #363 closed

[2019-10-23 23:40] sgoggins commented on #245
Done!

[2019-10-23 23:40] #245 closed

[2019-10-23 23:41] sgoggins commented on #413
The points discussed in this issue are addressed in the latest release of augur.

[2019-10-23 23:41] #413 closed

[2019-10-23 23:42] sgoggins commented on #302
@Prajwal7842 : Try installing from the dev branch. `make install`. Its MUCH better than it was.

[2019-10-23 23:42] #302 closed

[2019-10-23 23:42] sgoggins commented on #275
Fixed. Thanks, @gabe-heim !!

[2019-10-23 23:42] #275 closed

[2019-10-23 23:43] sgoggins commented on #400
This is in progress and will be released soon.

[2019-10-23 23:43] sgoggins commented on #417
This is in progress and will be released soon.

[2019-10-24 14:01] sgoggins opened #439 "Frontend Build Errors"
**Describe the bug:**
[code]

**To Reproduce:**
Steps to reproduce the behavior:
1. Follow installation steps
2. `make install` or `make rebuild`
3. You will see

**Expected behavior:**
Suppress or removed the errors.

[2019-10-24 14:20] michaelwoodruffdev commented on #439
Looks like these errors are within the Vega node module, so they're from the library were using for graphs

[2019-10-24 14:27] ccarterlandis commented on #439
I see these errors as well, but the webpage still works for me. We should see if there's a way to suppress the errors, or maybe the package needs to be updated?

[2019-10-25 17:15] sgoggins commented on #400
I think we just need to disable the "apply" button if there is not a repository selected. Don't let people choose "apply" for a group only. @michaelwoodruffdev  / @gabe-heim : What do you think?

[2019-10-25 17:20] sgoggins opened #440 "Fix Download buttons on insight graphs"
**Describe the bug:**
Insight graph download buttons have two issues:
1. They are unclear and the arrows are all over the place (little blue ones)
2. They do not actually "do" anything.

![image](https://user-images.githubusercontent.com/379847/67590923-c4d84500-f721-11e9-81c6-fb00b5295fd7.png)

**To Reproduce:**
Steps to reproduce the behavior:
1. augur.osshealth.io
2. select "insights"
3. You wi

[2019-10-25 17:22] sgoggins commented on #440
Buttons should work like the download links on the repo overview:
![image](https://user-images.githubusercontent.com/379847/67591030-0bc63a80-f722-11e9-8a77-817c52bbcce0.png)

[2019-10-28 03:47] dota17 opened #447 "Help wanted: install failed"
Hi augur team!
When I try to install this lib according to the [document](https://oss-augur.readthedocs.io/en/master/getting-started/installation.html), I got a fail at step 2:
![augur_issue](https://user-images.githubusercontent.com/50514813/67650597-87212980-f978-11e9-8103-2d3517330f0d.png)
Is there anyone who can help me?
Thanks in advance!

[2019-10-28 03:48] dota17 commented on #447
@michaelwoodruffdev

[2019-10-28 03:55] ccarterlandis commented on #447
Hi @dota17! What operating system are you running? Additionally, what are the file permissions for `util/scripts/install/install.sh`? Can you run that file by itself with using `make install`?

[2019-10-28 06:26] dota17 commented on #447
Sorry, I forgot to give some detail information about my PC.

`os`: Ubuntu 18.04.2 LTS (Bionic Beaver)
`make`: GNU Make 4.1 Built for x86_64-pc-linux-gnu

well, at first, it tells me that:
![augur_issue2](https://user-images.githubusercontent.com/50514813/67656075-b2fada00-f98d-11e9-8a1a-b2cedec221e4.png)
so, I changed its permission to `777`, then it tells me:
[code]
and when I run install.sh man

[2019-10-28 13:50] ccarterlandis commented on #447
Thanks for providing that information @dota17. Good news is that we officially support Ubuntu 18.04 and that the file permissions should be fine.

The "bad interpreter" error makes me think that the `^M` after the shebang is the problem. However, I don't see that on my version of `master`. What does the first line of `util/scripts/install/install.sh` look like? If it has that `^M`, delete it so th

[2019-10-29 08:59] dota17 commented on #447
Thank you very much!
 The `^M` comes from the windows, casue I use Git for Windows Desktop to clone this lib.

PS: I have tried to download .zip package directly instead of cloning it, but there are some problems to unzip it.
[code]

[2019-10-29 14:08] ccarterlandis commented on #447
Ah, that would explain things. We do not officially support local Windows installation at this time, so I'm not surprised that there are line endings causing problems like an erroneous `^M`.

We have a very rough prototype windows installation guide written by another member of our community in issue #403, but beyond that my best recommendation is cloning it directly on a UNIX system, perhaps in a

[2019-10-29 20:17] Nebrethar commented on #447
@dota17 Are you using an Ubuntu Subsystem for Windows along with a Windows installation? Or an Ubuntu VM with a shared filesystem? If  it isn't either you can disregard my message, but this is some experience of mine.

On both of these types of systems, I've had a similar issue and it was fixed by creating a virtual environment with the tool `virtualenv' instead of python's built-in with the flags

[2019-10-30 02:06] dota17 commented on #447
Thank you for your quick reply and advice!

Well, For some reason, I can't clone source package directly on Ubuntu at that time. So my original intent was to clone it on Windows, then compress it and upload it to Ubuntu. For now, I will no longer try to install it on Windows, I will use the Ubuntu 18.04 inside the DOCKER.

And now, the installation process run soomthly!

The only problem is that i

[2019-10-31 13:35] Nebrethar commented on #362
This issue is still relevant, but it is with new graphs.

The graph "Lines of code added by the top 10 authors as Percentages - By Time Period" on the overview page does not respond.
The graph "Average Lines of Code Per Commit" responds visually, but changing graph options does not change anything. Examples below.

![image](https://user-images.githubusercontent.com/34951354/67951301-3cdabb00-fbb9-

[2019-10-31 14:32] Nebrethar commented on #416
**A Note** : the data for SPDX documents is being repopulated on the time of this post. The SPDX dpcument download and license coverage will not be available for another day or so. I'll ask you to try again when it is finished

[2019-11-01 18:13] Nebrethar commented on #416
I found a compatibility issue where the download button was only working in certain browsers. It is fixed in #457

[2019-11-12 06:24] mahmoudthabit opened #464 "Final Project Issue"
# Snapshot of repo groups
the purpose if these features to give a developer a sample of how healthy a repo group is and to help them decide which one to join.

# Top Committers by percentage:
We will use a pie chart to show the distribution of commits for groups, the purpose of it to show how spread out the work is between the committers.
API: Top Committers (Repo Group) (/repo-groups/:repo_group_

[2019-11-13 19:48] Nebrethar commented on #416
augur.osshealth.io reflects the download changes now.
@germonprez please reopen if you still have this issue. It is working on all browsers now.

However, I will open a new issue to fix the TypeScript loading of the JSON document. Right now it is on a single line.

[2019-11-13 19:48] #416 closed

[2019-11-13 19:53] Nebrethar opened #466 "JSON SPDX Document Beautification"
**Describe the bug:**
This one is a continuation of #416 where the SPDX Document button works now... but the output needs beautification.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to zephyr-rtos Repo Group
2. Go to zephyr-rtos/zephyr
3. Click on Risk
4. Click on the SPDX Document Download button

**Expected behavior:**
Beautiful JSON output to a file.

**Unexpected behavior:**
Sing

[2019-11-14 03:21] #447 closed

[2019-11-18 16:29] #466 closed

[2019-11-18 16:32] Nebrethar commented on #439
It looks like these errors don't show up on dev anymore. Can we close @ccarterlandis @michaelwoodruffdev ?

[2019-11-18 16:33] Nebrethar commented on #417
Issue related to #401 Also, @sgoggins has this been fixed lately?

[2019-11-18 16:35] Nebrethar commented on #401
I see that this is fixed, but I found a related problem. I will refer to it in another issue.

@ElitaNelson Can we close?

[2019-11-22 02:02] mahmoudthabit commented on #464
# Group 16 – Frontend
Mahmoud Thabit

# Sprint 3
Goals for Sprint 3
Implement at least Three Call/Visualization
API: http://augur.osshealth.io/api_docs/
Website: http://18.218.250.185/

# Top Committers by percentage:
Will use a pie chart to show the distribution of commits for groups
Purpose: to show a developer how spread out the work is, if the top committer is very dominated, then it is not as

[2020-01-14 13:35] JerryKuan opened #534 "make install costs too much time"
Hi, augur team.
I am installing the project step by step according to the guidence. when I execute "make install" below the picture, it costs too much time , which has taken 2 hours. Is it normal? if not, what I should do?
![Screen Shot 2020-01-14 at 21 27 36](https://user-images.githubusercontent.com/22657829/72348585-ad539b80-3715-11ea-8a6d-c66cb805ac2a.png)
<img width="1076" alt="Screen Shot 20

[2020-01-14 13:39] JerryKuan commented on #534
the result of the code is stuck ‘Installing backend dependencies...’

[2020-01-14 13:40] JerryKuan commented on #534
@sgoggins

[2020-01-14 14:50] ccarterlandis commented on #534
Hi @JerryKuan, I'm sorry to hear you've been experiencing some difficulties. Could you provide the output of `logs/backend-install.log` and `logs/backend-install.err` to help us debug what the cause might be?

Additionally, can you also provide the specifications of the system you're doing the install on? I am unable to reproduce this problem, the install consistently only takes ~5 to 10 minutes t

[2020-01-15 02:01] JerryKuan commented on #534
Thanks for your reply. I have sovled it using many times "control + C". it just hand on, and not show the following infomation. when I want to kill it, enter many "control + C", it works.
 `logs/backend-install.err` shows  in the first picture.
<img width="1026" alt="Screen Shot 2020-01-15 at 09 48 01" src="https://user-images.githubusercontent.com/22657829/72398134-e5da9000-377c-11ea-9b8d-141e330

[2020-01-15 14:01] #534 closed

[2020-01-16 02:35] JerryKuan opened #535 "ModuleNotFoundError: No module named 'gunicorn.six'"
Hi, augur team.
I had the problem when I execute `augur` in the augur_env. but it is ok when executed `make dev`.
this is the detail.
`ubuntu@10-24-2-162:/tmp/augur$ source $HOME/.virtualenvs/augur_env/bin/activate
(augur_env) ubuntu@10-24-2-162:/tmp/augur$ augur
Traceback (most recent call last):
  File "/home/ubuntu/.virtualenvs/augur_env/bin/augur", line 12, in <module>
    sys.exit(run())
  Fi

[2020-01-16 15:48] ccarterlandis commented on #535
Hi @JerryKuan, we've got a release coming in the next few days that will address the issue. For now, if you run `pip uninstall gunicorn` and then `pip install gunicorn==19.9.0`, that should get you working - if it doesn't, please let me know. So sorry about that!

[2020-01-22 18:11] percygautam commented on #397
@Nebrethar  I'd like to work on this issue. Can you please explain the problem?

[2020-01-22 21:24] Nebrethar commented on #397
Hi @percygautam :)

Thanks for looking at this issue. I will explain to the best of my knowledge.

When I load augur's "repos" page, it makes a call to localhost:5000/api/unstable/repos and that API loads all of Augur's repos at once. That makes sense so it can display all of Augur's stores repositories on one page.

Sometimes, I want to narrow it down to just one repo group's repositories by sele

[2020-01-22 21:31] Nebrethar commented on #397
Also, that code I shared includes the syntax for calling such an API. on my machine (and most) it can be simplified to:
```localhost:5000/repo-groups/<repo_group_id>/{endpoint}'```

@percygautam This is important too:
While I was toying around I found out that 25151 is the zephyr repo_group_id and repos is an existing endpoint under that group of APIs.

So if I call [http://augur.osshealth.io:5000

[2020-01-26 13:26] percygautam commented on #397
Hey @Nebrethar , Thanks for assigning me this issue and sorry for the late reply. Being new to the library and all, I am getting some issues with running the server (something related to augur.config.json parsing error). I am working on it. Also, the references you provided of [osshealth](http://augur.osshealth.io/repos/) is not working. Can you please see to this?
I have gained a good overview of

[2020-01-28 16:18] Nebrethar commented on #397
Hi @percygautam! Thanks for the help.

If you don't have any database connection set up on runtime, it will present an error citing augur.config.json parsing (in my experience). If this is your roadblock, I'd suggest raising a separate issue to get the database set up.

If you have a database connection, that error normally means you have an incompatible version of the augur.config.json. I'd sugge

[2020-01-28 16:21] Nebrethar commented on #362
The second problem seems fixed as the options at the bottom are removed. Closing issue
![image](https://user-images.githubusercontent.com/34951354/73282938-f4cb3480-41b7-11ea-983f-ededf98cb99d.png)

[2020-01-28 16:21] #362 closed

[2020-01-28 16:22] #327 closed

[2020-01-28 16:22] Nebrethar commented on #387
@sgoggins  Any updates on this enhancement?

[2020-01-28 16:23] #401 closed

[2020-01-28 16:29] Nebrethar opened #541 "Insight Detail page fails to load"
**Describe the bug:**
I went to check on issue #417 and could not load any Insight Detail pages

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to Insights Page
2. Click on any button that says "View Insight Details ->"
3. No-load; Check console

**Expected behavior:**
I was expecting to see an insight page

**Screenshots**
![image](https://user-images.githubusercontent.com/34951354/7328

[2020-01-28 16:31] Nebrethar commented on #535
@ccarterlandis Has the release fixed the issue? Checking on the status fo the issue

[2020-01-28 16:38] Nebrethar opened #542 "Popup drawing over insight link"
**Describe the bug:**
When I hover over a project link on the insights page (format xxxxx/yyyyy.git), a popup box will draw over the link and prevent me from clicking it.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to Insights Page on augur.osshealth.io
2. Hover over project link

**Expected behavior:**
I expected to be able to click the link

**Screenshots**
https://imgur.com/a/kKWZ

[2020-01-28 16:39] Nebrethar commented on #541
**Also Additional Context**

This was tested on augur.osshelath.io

[2020-01-28 16:43] Nebrethar opened #543 "Request: Only show insight cards that show meaningful data"
**Is your feature request related to a problem? If so, please describe the problem:**
Some cards on the insight page will show data that has only been collected since recently, which becomes a single line on the graph that is hard to read.

**Describe the solution you'd like:**
I suggest we have a minimum age for the data. This would limit the data to be at leat x-old before it is shown.

**Descri

[2020-01-28 16:49] Nebrethar opened #544 "Data does not load at Evolution or Risk FROM Insights"
**Describe the bug:**
When I click on the "Evolution" button or the "Risk" button on the Insights page, something fails that keeps the risk or evolution page from loading.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to the Insights page
2. Click "Risk" or "Evolution" on any repo
3. No-load; Check console

**Expected behavior:**
I expected the repo pages to load

**Screenshots**
![ima

[2020-02-04 17:34] sgoggins opened #545 "Google Summer of Code & Outreachy Project Questions"
# Google Summer of Code and Outreachy: Augur, 2020

## Idea: Machine Learning for Anomaly Detection in Open Source Communities

[ Micro-tasks and place for questions ](https://github.com/chaoss/augur/issues/558)

Augur is an open source platform that systematically integrates data from several open source repositories, issue trackers, mailing lists, and other communication systems that open source

[2020-02-12 22:53] sgoggins opened #549 "UI Tweaks for clarity"
Some small tweaks to the UI:

![Screen Shot 2020-02-12 at 16 22 50](https://user-images.githubusercontent.com/379847/74384988-18959980-4db8-11ea-8e6b-7656ae5d6183.png)
![Screen Shot 2020-02-12 at 16 19 08](https://user-images.githubusercontent.com/379847/74384991-19c6c680-4db8-11ea-9b3b-2380e03bfb22.png)

[2020-02-12 22:54] sgoggins commented on #549
ignore the last image .. just the first two.

[2020-02-16 18:28] hashimgit opened #551 "Getting started with Augur local"
Hi Augur Devs,

I'm a noob here trying to run Augur locally so I can contribute.
Since the Development guide is under construction, I'm unsure about about how to get started.
Please also suggest a good backend starter issue.

Thanks a lot.
Hashim

[2020-02-19 14:30] hashimgit commented on #551
Hi,
I've been running into all sorts of errors while installing augur using `make install`, everything before that goes okay.
The problem starts when augur starts to install frontend dependencies, specifically, canvas.
I've tried installing the dependencies of canvas but still no luck.

Thanks.

specs : Ubuntu 19.04, node v13.8.0, npm 6.13.6.

Terminal Logs:

[code]

[2020-02-21 14:13] Chinmay4400 commented on #545
I would like to contribute to the project "Open Source Health and Sustainability SSO Implementation with Hyperledger/Indy and OAUTH". What is the micro-task for this question?

[2020-02-21 17:25] PiyushSharma99 commented on #545
I would like to contribute to project "Open Source Health and Sustainability SSO Implementation with Hyperledger/Indy and OAUTH" . Please assign me the micro task for this project.

[2020-02-21 17:29] ankitkumarsamota121 commented on #545
I am interested in contributing to the project "Machine Learning for Anomaly Detection in Open Source Communities". How do I get started with micro-tasks?

[2020-02-21 17:54] saphal1998 commented on #545
I find the project 'Implementation of GitLab Data Collection Workers' interesting enough. I've had some prior experience working with data scraping, so I think this should be something I can quickly get started with. I would really appreciate it if someone could point me to a beginner issue for this project.

[2020-02-22 09:07] kartik1000 commented on #545
Hello, I am interested in 'Implementation of GitLab Data Collection Workers' . I  would really appreciate if anybody can help me in getting started with this or point out to a beginner issue for the project.

[2020-02-22 15:50] hashimgit commented on #551
Hi,
As mentioned above, there was a front-end dependency, namely canvas, that wasn't compatible with a couple of node and npm versions.
I managed to narrow down to working versions of node and npm on Ubuntu 19.04.

Node version: v8.16.0
Npm version: 6.4.1

I think adding recommended versions in the installation documentation can really help in enhancing  New Developer Experience.
I'll be opening a

[2020-02-22 15:50] #551 closed

[2020-02-23 08:01] abhiandthetruth commented on #549
@sgoggins shall i work on this one.

[2020-02-23 10:06] chinmay81098 commented on #545
I would like to contribute to project "Machine Learning for Anomaly Detection in Open Source Communities". What are the initial tasks for this project?

[2020-02-23 11:53] KritikGarg1 commented on #545
I would like to contribute to the project "Open Source Health and Sustainability SSO Implementation with Hyperledger/Indy and OAUTH". I have prior experience in creating blockchain using python and deploying using flask.  Please assign me the initial task. @sgoggins @germonprez

[2020-02-23 12:19] mHash1m commented on #545
Hi, I'd like to contribute to the project : "Machine Learning for Anomaly Detection in Open Source Communities". Waiting on the micro-tasks and questions for the project :)

[2020-02-23 15:11] siddharthjain1611 commented on #545
Hi, myself Siddharth Jain I'd like to contribute to the project : "Machine Learning for Anomaly Detection in Open Source Communities". I have prior experience working with machine learning with python.
Waiting on the micro-tasks and questions for the project :)

[2020-02-23 16:46] KIRA009 commented on #545
Hello, I am interested in 'Implementation of GitLab Data Collection Workers'

[2020-02-23 18:07] isaeef commented on #545
Hi, I am interested in 'Implementation of GitLab Data Collection Workers'

[2020-02-23 18:21] mrsaicharan1 commented on #545
Hi, I'm Saicharan and I'd like to contribute to the project : "Implementation of GitLab Data Collection Workers". Would appreciate it if you could assign a micro-task to me.
Thanks

[2020-02-23 19:35] germonprez commented on #545
@sgoggins do you have the microtasks for these?

[2020-02-24 11:15] parthsharma2 commented on #545
Really excited to see so many people interested in these GSoC Projects. For everyone interested in these projects I suggest setting up Augur locally as the first microtask. Go through the documentation to set up Augur locally and get a basic understanding of Augur's architecture, how it works, etc. There might be certain parts in the documentation that are incomplete or missing or need improvement

[2020-02-24 11:58] mrsaicharan1 commented on #545
@parthsharma2 Do we need to do this(as mentioned on the GSoC website)?
**2) Once you completed one micro-task, create a pull request on this file to add yourself, your information, and a link to your repository of the completed micro-task. The repository requires Developer Certificate of Origin (DCO) sign-off; see our CONTRIBUTING.md for details on how to sign your commits.**

[2020-02-24 14:35] Raj2367 commented on #545
@sgoggins I want to contribute to the project "Open Source Health and Sustainability SSO Implementation with Hyperledger/Indy and OAUTH". Kindly let me know how to proceed.

[2020-02-25 07:50] mrsaicharan1 commented on #397
Hi, As this issue has been inactive for a really long time, I'd like to work on it :D. Would appreciate it if you could assign me to this.

[2020-02-25 07:51] mrsaicharan1 commented on #397
This seems to be a real problem as it's taking 8-10 seconds just to load one repo group, which is inefficient as such.

[2020-02-25 14:21] aksh555 commented on #545
Hi, I'm Akshara, interested in working with machine learning and would like to contribute to the project  "Machine Learning for Anomaly Detection in Open Source Communities". Awaiting the micro-tasks and questions for this project.

[2020-02-25 15:45] pratikmishra356 commented on #545
Hi, I am Pratik Mishra a  Machine Learning Enthusiast.I found project named  "Machine Learning for Anomaly Detection in Open Source Communities" interesting.Looking forward to contribute in this field.

[2020-02-25 18:42] Nebrethar commented on #397
Done! Thanks for taking this on.

[2020-02-25 22:23] sgoggins commented on #545
Microtasks are coming!  Had Norovirus and then a trip. Within 18 hours!

[2020-02-25 22:23] bnitin92 commented on #545
Hi, I am Nitin Bhandari, interested in working on the project "Machine Learning for Anomaly Detection". I would like to know more about how to begin and start contributing to this project. Awaiting for further instructions and microtasks.

[2020-02-26 01:48] mrsaicharan1 opened #554 "Installation Help: Augur [Postgres DB]"
**Describe the bug:**
During the installation of augur, there wasn't any clear information about the values to plug into the augur
postgres db while setting it up:
[code]
I would appreciate it if someone could provide the values to input for these.
Thanks

[2020-02-26 02:44] mrsaicharan1 commented on #554
I have figured this out from the docs and now I have a running instance of augur set up! The default port for Postgres was 5432 and the other values should be those while we are creating the DB.

Also, I think we need to mention that postgres needs to be running in the background(or foreground) while we are setting augur up. Maybe we could add this to the docs.

[2020-02-26 05:35] #554 closed

[2020-02-26 08:57] mrsaicharan1 opened #555 "Request: GitHub metrics implementation suggestions"
**Is your feature request related to a problem? If so, please describe the problem:**
Are there any more metrics that could be added from the Github API. Would love to hear some suggestions!

Would like to implement that.

[2020-02-26 09:27] mrsaicharan1 commented on #555
@Nebrethar @sgoggins Do we have any such insightful metrics I could add to the app?

[2020-02-26 09:38] mrsaicharan1 commented on #545
@sgoggins @parthsharma2 @Nebrethar I'm done with my first microtask and I've created a repo for it. https://github.com/mrsaicharan1/chaoss-microtasks/.

Would appreciate it if you could assign some more tasks related to metrics and data collection :D

[2020-02-26 10:08] mrsaicharan1 commented on #397
@Nebrethar I've been digging into the issue but I'm not exactly sure how we could use the aforementioned `addRepoGroupMetric` for this purpose. By clicking on a specific repo group name, it's hitting /api/unstable/repos.

In `addRepoGroupMetric`, It registers the endpoint with the correct one i.e
endpoint = f'/{self.api_version}/repo-groups/<repo_group_id>/{endpoint}'

Could you please help me out

[2020-02-26 18:44] sgoggins opened #557 "GSOC & Outreachy SSO Microtasks"
## Here's some ideas:

1. Microtask 0: Familiarize yourself with augur by downloading and configuring the dev branch. For a little more context about what we are trying to accomplish with Augur's prototyping, checkout Augur's documentation at : https://oss-augur.readthedocs.io/en/dev/   Fork Augur into your own GitHub Account. Work in the dev branch.
2. Microtask 1: Using the Augur system, impleme

[2020-02-26 18:47] sgoggins commented on #545
Microtask ideas for SSO now posted in link. @KritikGarg1 @PiyushSharma99  @Chinmay4400

[2020-02-26 18:54] sgoggins opened #558 "GSoC & Outreachy Machine Learning Microtasks"
## Here's some ideas:

1. Microtask 0: Familiarize yourself with augur by downloading and configuring the dev branch. For a little more context about what we are trying to accomplish with Augur's prototyping, checkout Augur's documentation at : https://oss-augur.readthedocs.io/en/dev/   Fork Augur into your own GitHub Account. Work in the dev branch.
2. Microtask 1: When you install Augur, choose

[2020-02-26 18:57] sgoggins commented on #545
Microtask ideas for Machine learning now posted in link of this issue @bnitin92  @pratikmishra356 @aksh555  @siddharthjain1611  @mHash1m  @chinmay81098 @ankitkumarsamota121

[2020-02-26 18:57] Chinmay4400 commented on #557
Thanks @sgoggins Getting right on it.

[2020-02-26 19:10] sgoggins opened #559 "GSoC & Outreachy GitLab Worker Construction Microtask Ideas"
## Here's some ideas:

1. Microtask 0: Familiarize yourself with augur by downloading and configuring the dev branch. For a little more context about what we are trying to accomplish with Augur's prototyping, checkout Augur's documentation at : https://oss-augur.readthedocs.io/en/dev/   Fork Augur into your own GitHub Account. Work in the dev branch.
2. Microtask 1: When you install Augur, choose

[2020-02-26 19:12] sgoggins commented on #545
The microtask for the GitLab worker is now posted in the link of this issue: @mrsaicharan1 @isaeef @KIRA009  @kartik1000 @saphal1998

[2020-02-26 20:23] isaeef commented on #559
@sgoggins Thanks  for the microtask :)

[2020-02-28 00:45] aksh555 opened #561 "Unable to retrieve data from endpoints[GSoC]"
Hello, I have started with the machine learning micro-tasks, and have installed Augur on my local system. Working in the dev branch.
![Screenshot from 2020-02-28 04-40-12](https://user-images.githubusercontent.com/25505971/75499861-4ce09b00-59f1-11ea-8475-6e489d22fd17.png)

Trying to run a jupyter notebook,(similar to the one in dev branch) where JSON data is collected from the endpoints, but I'm

[2020-02-28 08:40] StrangeNoob commented on #559
Thanks @sgoggins for these Microtasks. Loved to work/contribute on this Project.

[2020-02-28 12:02] pacifikus commented on #545
Hello, the project "Machine Learning for Anomaly Detection" looks interesting to me. Could you, please, send me microtasks and other information?

[2020-02-28 16:01] ccarterlandis commented on #561
Hi @aksh555! I'm sorry to hear you've been having issues. Can you share a link to the full notebook to which you're referring? I can't see the code causing the errors in the second screenshot you attached.

[2020-02-28 16:14] #544 closed

[2020-02-28 16:15] #535 closed

[2020-02-28 16:15] #439 closed

[2020-02-28 16:15] #464 closed

[2020-02-28 16:18] ccarterlandis commented on #417
This graph looks like it no longer renders in this wonky format, at least on augur.osshealth.io

[2020-02-28 16:18] #417 closed

[2020-02-28 16:18] ccarterlandis commented on #541
My initial closure was in error, this issue is still happening.

[2020-02-28 16:53] ccarterlandis commented on #542
The popup now appears to the side of the label, instead of over it, making the link clickable again 😊

[2020-02-28 16:53] #542 closed

[2020-02-28 22:55] mrsaicharan1 commented on #545
I've completed my microtasks. Additionally, I've also made a pull request for a new metric addition. I would really appreciate it if you could review it. Thanks!

[2020-02-29 02:40] aksh555 commented on #561
Hi @ccarterlandis, Thanks for reaching out!
This is the link https://github.com/chaoss/augur/blob/dev/notebooks/Scikit%20Learn%20-%20Isolation%20Forest.ipynb which I was referring. I am using a similar notebook by changing the port accordingly and running `make dev`. I hit the endpoint, but the data frame isn't formed.
![Screenshot from 2020-02-29 08-03-40](https://user-images.githubusercontent.co

[2020-02-29 09:18] pratikmishra356 opened #564 "Data Analysis from issue_events.txt File [Gsoc Microtasks]"
Extracted Data in meaningful manner from txt file and did some Data preprocessing.
Then visualised actions of chaoss different repositories with time

![Screen Shot 2020-02-29 at 2 51 54 PM](https://user-images.githubusercontent.com/43684300/75604842-15621380-5b03-11ea-94a4-06a6e438634a.png)

[2020-02-29 17:48] ccarterlandis commented on #561
Ah, okay. If I remember correctly, @gabe-heim was the one who wrote that notebook as a test bed for our new implementation of our insight & anomaly detection worker. He would be to one to ask questions about the notebook, but if you're interested in the machine learning aspect of this notebook, I suggest completing some of the [ML microtasks](https://github.com/chaoss/augur/issues/545), as that no

[2020-02-29 17:50] ccarterlandis commented on #564
Hi @pratikmishra356, if you're submitting your work on a microtask, please open a pull request from your fork as outlined in the microtasks. You can find links to each microtask in the body of the first comment of #545.

[2020-02-29 17:50] #564 closed

[2020-02-29 17:54] aksh555 commented on #561
Yes, while doing the ML microtask I was seeing this notebook and tried collecting data on similar lines. For now I'm loading the data from the local Postgres database.
Thanks!

[2020-02-29 18:08] ccarterlandis commented on #561
Sounds good!! I'll close this issue but if anything else comes up please don't hesitate to reach out!!

[2020-02-29 18:34] ccarterlandis commented on #555
Hi @mrsaicharan1! I suggest checking out the [Evolution Working Group](https://github.com/chaoss/wg-evolution/) for ideas for metrics. We also have more details about our schema available [here](https://oss-augur.readthedocs.io/en/dev/architecture/data-model.html)!

[2020-03-01 11:34] manangoel99 commented on #558
Hi, I'm Manan Goel an undergraduate at IIIT Hyderabad. I'm also pursuing research at Centre for Computational Natural Science and Bioinformatics where I've been working on using NLP and graph-based approached in Machine Learning to solve problems in biochemistry. In order to do that I've used PyTorch, scikit-learn and Keras.
In order to work on the given microtasks, do I just need to fork the Augu

[2020-03-01 23:11] jessicadong101 commented on #545
Hello! I'm Jessica Dong, and I'm interested in the project "Implementation of GitLab Data Collection Workers." Looking forward to contributing and getting to know more about the project!

[2020-03-02 14:07] bawantha commented on #559
Thanks for the micro tasks @sgoggins .

[2020-03-02 16:43] gabe-heim commented on #558
@manangoel99 No prerequisites, you can go ahead and fork the repo and start working on microtasks. Then create a PR of the changes you've made and we will check it out!

[2020-03-02 16:54] gabe-heim commented on #561
@aksh555 Sorry for the trouble you ran into trying to get the notebook to work. I am going to fix it and push it because I think it is a great example for contributors looking to work on the ML microtasks. I will reopen the issue until it is working properly.

[2020-03-02 18:59] ccarterlandis opened #572 "`pull_request_closed_no_merge` metric is broken"
**Describe the bug:**
The `pull_request_closed_no_merge` metric returns a 500 internal server error.

**To Reproduce:**
Steps to reproduce the behavior:
1. Checkout `dev`
2. Run `augur run --disable-housekeeper`
3. Hit `http://localhost:5000/api/unstable/repo/21000/pull-request-closed-no-merge`
4. Observe error

**Expected behavior:**
I expected the metric to return a valid response object, even i

[2020-03-02 19:03] mrsaicharan1 commented on #572
@ccarterlandis Has this been occurring only for the empty objects?

[2020-03-02 19:22] mrsaicharan1 commented on #572
I think It's a 404 error  :sweat_smile:

[2020-03-02 19:24] ccarterlandis commented on #572
Check out this line of the metrics test: https://travis-ci.org/chaoss/augur/jobs/657396385#L581. You'll see the SQL error I'm referring to

[2020-03-02 19:26] ccarterlandis commented on #572
I didn't even notice this earlier, but the metrics API test is also failing because the route is incorrect. It should be `...unstable/repos/...` instead of `.../unstable/repo/` - this is why it's returning a 404. I'd also suggest using the same repo ID in both your metric and API test.

[2020-03-02 19:27] mrsaicharan1 commented on #572
Gotcha, I see where the error is now. I'll send in a fix ASAP

[2020-03-02 19:27] mrsaicharan1 commented on #572
I'll fix both of them in a PR.

[2020-03-03 00:21] gabe-heim commented on #561
<img width="1252" alt="Screen Shot 2020-03-02 at 6 02 40 PM" src="https://user-images.githubusercontent.com/20764846/75730317-77c63a00-5ce4-11ea-9c59-503992404873.png">
@aksh555 The issue you are running into is because the host/port you have in the endpoint url is incorrect. It should be the host/port that the backend api is running on, but you have the frontend host/port included in the url.
`de

[2020-03-03 00:21] #561 closed

[2020-03-03 04:34] mrsaicharan1 commented on #572
Closing this in favor of #573

[2020-03-03 04:34] #572 closed

[2020-03-03 08:02] aksh555 commented on #561
Thanks for resolving that @gabe-heim ! :smile:
It works perfectly now, I didn't realize that it was backend server's host/port which was to be used

[2020-03-03 16:17] sgoggins opened #575 "Single sign on"
We need an SSO for Augur

I would like HyperLedger Indy wrapped by GLUU

OpenID Connect.

Important for hosted Augur.

[2020-03-03 21:03] dnyanai commented on #545
Hi, I am interested in contributing to the project 'Machine Learning for Anomaly Detection in Open Source Communities'. Looking forward to getting to know more about the project!

[2020-03-04 18:42] mrsaicharan1 opened #580 "Queries about the Gitlab Worker data model[To be implemented]"
**Model Schema expectation for Gitlab Data Collection Worker**
This query is with regard to the schema which would be created during the implementation of the GitLab Data Collection Worker. After carrying out research pertaining to GitLab's internal API & how it interacts with their data model, there are some commonly used data tables such as `issues`, `pull_requests`, `commits` etc with respect t

[2020-03-04 19:00] ccarterlandis commented on #580
@sgoggins probably can phrase this better, but the primary goal of our schema design is to have a unified model of as many pieces of the open source ecosystem as we reasonably can. In this case, "unified" essentially means that our goal is transform similar data in a variety of sources and formats into a common structure. A more specific example:

In the case of GitLab and GitHub, our goal would b

[2020-03-04 19:22] mrsaicharan1 commented on #580
@ccarterlandis yeah! the basic principle of augur is to compare metrics such as commits and other info across various data sources to see the differences and how well they compare to each other. So that would explain the unified data model and GitLab using Github's schema. Nice!
Yeah, there are might be some variations to this but more or less, this seems to be the right way to do it! If there mig

[2020-03-05 11:02] aksh555 opened #581 "Mouse flickers and tooltip not displayed"
**Describe the bug:**
I was trying to solve #541 when I noticed that when hovering over the "View Insight Details ->" button in the Insights page, the mouse kept flickering and the tooltip wasn't shown. It shows only when the mouse is placed in the left corner of the button, and **thus the button cannot be clicked from anywhere else.**

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to '

[2020-03-05 12:54] sgoggins opened #583 "Missing pymysql in install"
**Describe the bug:**
[code]

**To Reproduce:**
Steps to reproduce the behavior:
1. Installed augur and built from dev branch 2 days ago.
2. facade failed with the above error

**Expected behavior:**
Not fail

[2020-03-05 15:03] ccarterlandis commented on #583
Fix in `dev` as of [this](https://github.com/chaoss/augur/commit/4253a43d5de25aa635d41485a5876797275a804e) commit. Going forward, we continue specify only the `augur/` library dependencies in the `setup.py` in the root directory, and each `setup.py` in the `workers/<worker_name>` directory will have all of its own dependencies. This lets us have more fine grained control over which libraries we ne

[2020-03-05 15:03] #583 closed

[2020-03-06 03:44] vvijayalakshmi21 commented on #545
Hi, I am an Outreachy applicant interested in contributing to 'Machine Learning for Anomaly Detection in Open Source Communities' project. Kindly assign me a task to get started.

[2020-03-06 12:16] aakankshadhurandhar commented on #545
Hello, I am an Outreachy applicant. I am interested in contributing to  'Machine Learning for Anomaly Detection in Open Source Communities' project'.I have prior experience working with machine learning with python. Awaiting for further microtask and instructions @germonprez @sgoggins

[2020-03-06 13:47] Mightynasty commented on #545
Hi , I got into the Outreachy program would like to contribute to the Anomaly detection project, willing to learn some more about machine learning and practice Python skills. Looking forward to something to start with!

[2020-03-06 14:06] janvi04 commented on #545
Hi! I am a Outreachy applicant. I am interested in working on ' Machine Learning for Anomaly Detection in Open Source Communities. I have experience in working with machine learning algorithms using python and scikitlearn. Looking forward to get started with tasks. @germonprez @sgoggins

[2020-03-06 16:37] gabe-heim commented on #580
@mrsaicharan1 It is also important to note the `data_source` column for these tables, this is the main way to distinguish the platform the issue/pr/commit is on.

[2020-03-06 16:52] gabe-heim commented on #581
Fixed in #588 by @aksh555 , thank you again!

[2020-03-06 16:52] #581 closed

[2020-03-06 16:55] mrsaicharan1 commented on #580
@gabe-heim Yeah! Also, I noticed your comments on my previous PRs. I'm really interested in the main implementation of the workers and how we could integrate other data sources.
It would be great if you could point me to some tasks alluding to them. Thanks!

[2020-03-06 17:00] aksh555 commented on #558
@gabe-heim, I went through the insight worker you had mentioned earlier.
I wanted to get an idea of the "push notification architecture" mentioned in the project idea. Is it like a notification system for the users, in the event of anomalous activities in the repos...

[2020-03-07 15:43] Naba7 commented on #545
Hello! I am a ML/DL enthusiast. I am interested in working on the project "Anomoly detection" Can I get started with microtasks?

[2020-03-07 15:46] Naba7 commented on #558
Hi! @gabe-heim Can I get started working on the micro-task? I am also interested in this project.

[2020-03-07 19:04] Adarsh-NP commented on #559
Hello,
What is the api key that we need to provide in this while setting up augur in our local machine?

[2020-03-07 19:10] mrsaicharan1 commented on #559
@Adarsh-NP Hi there! Unfortunately, No one would be able to provide you with an API key for obvious security reasons! You can read more about the best practices pertaining to an API key [here](https://medium.com/hyperquant/api-keys-and-why-do-you-need-them-7da1462d871). You can generate a Github specific API key right here [here](https://github.com/settings/tokens)

[2020-03-07 19:16] Adarsh-NP commented on #559
Hey, thanks for replying. So this means that I should generate my own personal access token to access github api?
Because from what I know there are two types of github api's the private ones are the ones not shared for security reasons but that's not the case with the public one's in I'm not wrong.

[2020-03-07 20:40] aksh555 commented on #541
@Nebrethar @ccarterlandis  I've been trying to solve this issue,
Investigating the logs, the error is in /frontend/src/components/charts/InsightChart.vue calculateVegaSpec() while trying to get clientWidth, clientHeight.
I've tried modifying it by using `let specWidth = ReactDOM.findDOMNode(this.refs.holder).clientWidth * 0.75;   let specHeight = ReactDOM.findDOMNode(this.refs.holder).clientHeight

[2020-03-08 07:06] rishilss99 commented on #545
Hey everyone, I am Rishil.

I am an undergraduate student in electrical engineering with a background in applied machine learning. I have intermediate experience using machine learning and visualization libraries in Python and hope to expand upon my skills through a collaborative rather than a competitive based learning approach.

I am a first-time Outreachy applicant and am both intimidated and v

[2020-03-08 12:44] germonprez commented on #558
@Naba7 yes, please do get started on the microtasks

[2020-03-08 12:45] germonprez commented on #545
Hi everyone,

If you are interested is this project for either GSoC or Outreachy, please get started on the microtasks as mentioned here: https://github.com/chaoss/augur/issues/558

[2020-03-08 20:33] puneet29 commented on #545
Hi, I'm Puneet, and I have relevant knowledge in machine learning and flask as required. I am interested in working on the project **"Machine Learning for Anomaly Detection in Open Source Communities"**. Looking forward to contributing to this project. Thanks.

[2020-03-09 06:08] akshitt commented on #558
Hey @sgoggins I want to work on the project ML for Anomaly detection as an Outreachy Intern. Should I directly start doing the microtasks?
Thank You!

[2020-03-09 11:44] KPoornima commented on #545
Hi!
My name is Kadukuntla Poornima and I am a B. Tech Computer Science student at the Indian Institute of Technology, Bhubaneswar. I am an Outreachy 2020 applicant and am looking forward to contribute to the project 'Machine Learning for Anomaly Detection in Open Source Communities'. I have relevant prior experience with Machine Learning, Deep Learning, and Scikitlearn and am eager to learn more a

[2020-03-09 15:29] sgoggins commented on #558
@akshitt : YES!! Exactly the right step!

[2020-03-09 20:28] Sumangrewal commented on #558
@sgoggins Is it feasible to use Augur with windows? Or there will be difficulties while installing or in the future?

[2020-03-10 05:42] dnabanita7 opened #597 "Broken links on documentation page"
The links of the [augur docs](https://oss-augur.readthedocs.io/en/dev/getting-started/installation.html). The link to unified data model, Makefile commands, Data collection documentation are broken.

[2020-03-10 12:55] Jigyasa-Kumari commented on #545
Hi, I am Jigyasa, and I am a student at the Indian Institute of Technology, Roorkee. I am an Outreachy 2020 applicant, and I would be interested in contributing to 'Machine Learning for Anomaly Detection in Open Source Communities'. I would love to get started!

[2020-03-11 08:49] namratavalecha commented on #545
Hello,
I am Namrata Valecha and I'm a GSoc Aspirant from Delhi, India. I am currently pursuing B.tech in Computer Science and Engineering from Guru Gobind Singh Indraprastha University.
I have an experience in Python / Django wed development and have completed a couple of internships in the same. I also have a good knowledge of Frontend development, SQL and NoSQL databases, Linux environment, Git,

[2020-03-11 19:55] Adarsh-NP opened #600 "augur run throws error:"
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2020-03-11 20:01] Adarsh-NP opened #601 "augur run throws error: command not found"
**Describe the bug:**
A clear and concise description of what the bug is.
after installing augur in my system which is ubuntu 19.10, first of all I get the warning
![augurinstallfailed](https://user-images.githubusercontent.com/54997561/76458550-b785d380-6400-11ea-81ec-abf54e7640c3.png)

after that when I try to run augur using the command augur run I get this error
![augurrun](https://user-images

[2020-03-11 21:27] Pogayo commented on #558
Hello,

I would like to work on this Micro-task. Is it already assigned to someone or can I work on it?

[2020-03-12 00:25] ccarterlandis commented on #601
Hi @Adarsh-NP, can you share your `logs/backend.log` file? That should have more detail about what went wrong. That `Clock skew detected` error also seems weird...I've never seen that before. Hopefully the log files will provide some more clues!

[2020-03-12 00:26] ccarterlandis commented on #600
I'm assuming this a duplicate of #601, but please reopen if it's not!

[2020-03-12 00:33] ccarterlandis commented on #597
Hi @Naba7, thanks for letting us know about this. Looks like the data model link is broken due to an incorrect extension (`.rst` instead of `.html`) and the other two look to be incorrect path names. We're currently re-working our documentation up from the ground up to prep for our upcoming release, but I'll keep this issue open to serve as an impetus to get it done ASAP. 😄

[2020-03-12 07:20] Adarsh-NP commented on #601
@ccarterlandis  here are the backend-install.err and backend-install.log files

[backend-install.log](https://github.com/chaoss/augur/files/4322777/backend-install.log)

[backend-install.txt](https://github.com/chaoss/augur/files/4322795/backend-install.txt)

[2020-03-12 23:13] ccarterlandis commented on #601
@Adarsh-NP based on the output of `backend-install.log`, it looks to me like you're on the `master` branch. That branch is pretty outdated; I suggest checking out the `dev` branch locally, as I've cleaned up a lot of the problems with the installation process (and many others) there.

After you've switched to `dev`, I recommend running `make clean`, and then running `make install` to make sure all

[2020-03-13 07:03] Soniyanayak51 commented on #558
Hi, I am an Outreachy 2020 applicant and would like to work on this.

[2020-03-13 07:54] Adarsh-NP commented on #601
Yes, I am using Ubuntu 19.10

On Fri, 13 Mar 2020, 04:44 Carter Landis, <notifications@github.com> wrote:

[2020-03-13 11:01] germonprez commented on #558
Hi everyone,

As stated at the top of this Issue. There are micro-tasks that you can do to express your interest in working on this project. If you are a GSoC applicant, post your results here:
https://github.com/chaoss/governance/blob/master/GSoC-interest.md

If you are an Outreachy applicant, post your results here:
https://github.com/chaoss/governance/blob/master/Outreachy-interest.md

[2020-03-14 06:57] Nayan-Das commented on #557
Hi,
I am working on this task.I have some doubts like-
Which page should I use for SSO or should I create a separate page a redirect from there.
Could you please guide me where I can add my vue code.

Thanks,
Nayan

[2020-03-14 08:24] abhhii commented on #545
Hi, I am Abhishek, currently pursuing B.Tech in Computer Science and Engineering from Indian Institute of Information Technology Trichy.  I have experience with backend development using node.js and I am willing to learn development using flask. I am also comfortable with frontend development and Sql and noSQL databases. I have experience with machine learning using scikit learn and deep learning

[2020-03-14 12:14] rishilss99 commented on #558
Hey @germonprez, the Outreachy application deadline is April 7, 2020 at 4pm UTC as mentioned in the applicant guide. (You can check it out here: https://www.outreachy.org/outreachy-may-2020-internship-round/communities/chaoss/#machine-learning-for-anomaly-detection-in-open-sou)

The Outreachy-interest.md file mentioned in your previous comment states the deadline as March 31, 2020 13:00 CDT. Kindl

[2020-03-14 12:54] germonprez commented on #558
Thanks @rishilss99 I've made the change.

[2020-03-15 13:22] shrutisatish00 commented on #580
Hello this is Shruti, an outreachy applicant. I am only starting out learning ML and thought that this would be a good project to learn on the go. I was hoping for some guidance and would really appreciate it if someone could point me to new and relatively easy issues.

[2020-03-15 16:27] ishagarg06 commented on #558
Hi, I am an Outreachy 2020 applicant and I'm very much interested in this project.
I've been trying to install Augur but facing difficulty in doing so. Any help?

[2020-03-15 16:34] rishilss99 commented on #558
Hey @ishagarg06 , I recently setup Augur on my system. In case you could mention any specific issues you are running into, I would be glad to help.

[2020-03-16 04:03] mrsaicharan1 commented on #580
Here's the first draft of my GSoC Proposal for the GitLab Data Collection Worker & Test Coverage Improvement! I'd really appreciate it if you could drop in a review :D @ccarterlandis @gabe-heim @sgoggins  Thanks
[Proposal Link](https://docs.google.com/document/d/1PUxvJt_uVbX3iqom1PtTMMfa5u5wB-MKuVMMiLsU7dw/edit?usp=sharing)

[2020-03-16 13:28] NodiraIbrogimova opened #611 "Cannot find module '../../../../../augur.config.json'"
Dear Augur Project team,
I wanted to contribute to this project as an **outreachy** intern. I started with these [microtasks](https://github.com/chaoss/augur/issues/559) and followed the [documentation](https://oss-augur.readthedocs.io/en/dev/getting-started/installation.html) for installation and running the project in my development environment.
Details about my development environment:

- MacOS

[2020-03-16 13:29] NodiraIbrogimova commented on #611
@germonprez @sgoggins  @gabe-heim

[2020-03-16 16:04] ccarterlandis commented on #611
Hi @NodiraIbrogimova, can you verify that there is a non-empty file called `augur.config.json` in your root `augur` directory? In your case, it looks like it should be in `/Users/nns/Documents/outreachy/augur/`. This is the configuration file used across the project, and the frontend needs to read some values from the config to know where the backend API is located. If this file does not exist, yo

[2020-03-16 16:06] ccarterlandis commented on #601
Okay, we support Ubuntu 16.04 LTS and later (the latest I've personally tested is 18.04 LTS, but it stands to reason 19.10 should work as well). Have you been able to run the commands on the `dev` branch, and do you see the same output?

[2020-03-16 16:07] ccarterlandis commented on #580
Hi @shrutisatish00, we are glad you want to contribute! Our ML microtasks are outlined in issue #558. If you have any other questions please feel free to open an issue!

[2020-03-16 16:10] ccarterlandis commented on #580
@mrsaicharan1 just gave your proposal a glance and it's already looking great!! I will leave some detailed review comments in the near future but you're off to a great start!

[2020-03-16 16:11] ccarterlandis commented on #558
@ishagarg06 @rishilss99 I am also happy to help if you are experiencing any issues! Please feel free to open an issue on this repo if you are having trouble getting things configured.

[2020-03-16 16:12] Adarsh-NP commented on #601
Yes,
On dev branch make commands are running but augur run still throws errors
and not running.

On Mon, 16 Mar 2020, 21:36 Carter Landis, <notifications@github.com> wrote:

[2020-03-16 16:12] ccarterlandis commented on #557
Hi @Nayan-Das, I would say that for now, work on a separate page in whatever way you see fit. Since it's a microtask, we are looking more for a proof of concept/demo than a fully fledged integration. Best of luck and please reach out if there's anything else we can help with!

[2020-03-16 16:14] ccarterlandis commented on #601
Hmmm, okay. Are the logs any different, and if so could you share them again? 😁

[2020-03-16 16:15] Adarsh-NP commented on #601
Yeah sure
Just a minute

On Mon, 16 Mar 2020, 21:44 Carter Landis, <notifications@github.com> wrote:

[2020-03-16 16:18] ccarterlandis commented on #545
@puneet29 @KPoornima @Jigyasa-Kumari @namratavalecha @abhhii hello all and welcome to Augur! We are excited you're interested in helping us and we would love to help you make your first contribution to our codebase. Please see the relevant issue links below for detailed information and first steps for our microtasks:

Machine Learning: #558
Single-Sign-On (SSO): #557
GitLab Worker Implementation:

[2020-03-16 16:29] Adarsh-NP commented on #601
attaching backend-install.err, backend-install.log and backend.log

[backend-install.log](https://github.com/chaoss/augur/files/4339161/backend-install.log)
[backend.log](https://github.com/chaoss/augur/files/4339164/backend.log)

[backend-install.txt](https://github.com/chaoss/augur/files/4339182/backend-install.txt)

Also this time there were more files than the ones after previous installation,

[2020-03-16 17:01] NodiraIbrogimova commented on #611
Hi @ccarterlandis, thank you for a detailed answer. I couldn't find the file in `augur` directory. Where can I find the file?
P.s. I'm working on `dev` branch as provided in guidelines.

[2020-03-16 17:13] #575 closed

[2020-03-16 17:16] ccarterlandis commented on #611
You'll need to create one, since it doesn't exist. `make install` [1]  _should_ have created one for you, but if it doesn't I suggest running `./scripts/install/config.sh` manually from the root `augur/` directory (this is the helper script that `make install-dev` runs).

 If that doesn't work you could also try running `augur configure generate` (still in the root directory) and one will be gener

[2020-03-16 17:30] NodiraIbrogimova commented on #611
@ccarterlandis `augur configure generate` in `augur` - project root directory worked like a charm :) Thank you.

How can I ask questions in case of completing microtasks and/or searching for more details with new ideas contribution? Please let me know.

[2020-03-16 17:32] ccarterlandis commented on #601
Seems there was an error downloading the `urllib3` package:
[code]
To be honest, I've never seen this error before. My first guess is that it's getting timed out because it's taking too long to download for some reason; can you think of anything that could be causing a slowdown like a VPN, proxy, or just poor internet connection? You could try setting the timeout to be higher than the default to s

[2020-03-16 17:41] ccarterlandis commented on #611
Glad to hear it worked!! I'll go ahead and close the issue.
You can find info for our microtasks here:

Machine Learning: #558
Single-Sign-On (SSO): #557
GitLab Worker Implementation: #559

Hopefully these give you some ideas to get started!! Please feel free to open more issues if you run into any other problems or want to brainstorm new tasks!!

[2020-03-16 17:41] #611 closed

[2020-03-16 18:32] gabe-heim commented on #559
@Adarsh-NP Yes, you need to generate your own personal access token. There is only 1 API key that it will generate (not a public and private one) and it should be kept private. Do not push your key anywhere, as github will disable it if you do so.

[2020-03-16 20:28] NodiraIbrogimova commented on #601
I'm getting error while I run `augur run` as well.
As written [here,](https://oss-augur.readthedocs.io/en/dev/getting-started/available-commands/make-commands.html) I tried to run frontend and backend separately.
`make frontend` throws:
`make: Nothing to be done for frontend`
And the documentation link in `make frontend` section isn't working.
I was able to start frontend with `npm run start` (or

[2020-03-16 22:09] NodiraIbrogimova commented on #611
@ccarterlandis for brainstorming new tasks is it ok if I open more issues?

[2020-03-17 04:11] NodiraIbrogimova commented on #601
@Adarsh-NP were you able to fix the error? If yes, can you please share with your solution?

[2020-03-17 04:18] Adarsh-NP commented on #601
No I still haven't been able to, I'll do it now, last few days went in
travelling to hometown because university decided to send students home in
the view of COVID-19.

But did you try switching to the Dev branch and run the command make clean
and then make install. See if it fixes the issue. More detailed information
is given in this thread above by Carter, refer to that in case of any
issues. Al

[2020-03-17 04:41] ishagarg06 commented on #558
@ccarterlandis @rishilss99 I use Windows10, and the commands for installation are of Ubuntu system. So what should I do? I'm not able to access (Sudo, apt, make) these commands.

[2020-03-17 05:00] rishilss99 commented on #558
@ishagarg06 Refer the Getting started guidelines (https://github.com/chaoss/augur#getting-started). I would recommend setting up a Ubuntu VM rather than going for the Windows installation. You can go with VMware virtual machine if setting up a Ubuntu VM.

[2020-03-17 05:33] Soniyanayak51 commented on #558
Hi all, I am having difficulty with choosing the options for database setup during the install. What port and host should be entered if I choose an existing database?

[2020-03-17 05:47] Adarsh-NP commented on #601
Hello @NodiraIbrogimova , yeah, so I deleted the cloned repo, cloned it again and switched to dev branch immediately on the first run and ran make clean after that make install and it is working perfectly fine ie augur run now runs.
Thanks @ccarterlandis  for helping me throughout and I hope this helps you @NodiraIbrogimova.

[2020-03-17 05:48] Adarsh-NP commented on #601
Also, @ccarterlandis should I close this issue, since it seems to be resolved as of now.

[2020-03-17 06:11] rishilss99 commented on #558
@Soniyanayak51 Unless you have made some changes `Port: 5432` and `Host: localhost` should work.

[2020-03-17 07:47] Soniyanayak51 commented on #558
Thanks @rishilss99 !

[2020-03-17 09:38] Adarsh-NP commented on #597
@ccarterlandis even the link to python documentation is broken, if you need someone to fix the links in documentation or anything related to the documentation that is doable, I can help.
Thanks.

[2020-03-17 19:24] NodiraIbrogimova commented on #601
Dear @alexcourouble, thank you for providing the information. I'll try this suggestion and will let you guys know here

[2020-03-17 23:41] NodiraIbrogimova commented on #601
Repeating doing the installation process from the beginning. Recent two tries for:

1. deleting repo from development environment
2. checkout to dev branch
3. make clean
4. make install
didn't work :/
I think maybe I'm choosing the wrong options and that might be throwing error.
For example, one question is about the option in screenshot below. Which options should I choose? What does this do? Clo

[2020-03-18 03:40] Adarsh-NP commented on #601
Hello @NodiraIbrogimova,  I will surely try to help you out.
So first of all I assume that you started the installation in a virtual environment, if  not then that's highly suggested because of obvious reasons as the extra dependencies make the core of operating system heavy.
So clone the repo and go to the augur directory.
create and activate your virtual environment in the new cloned repo
switch

[2020-03-18 05:21] NodiraIbrogimova commented on #601
Yes, I followed instructions in [documentation](https://oss-augur.readthedocs.io/en/dev/getting-started/installation.html).

I installed [Postgres.app](Also, did you follow the instructions and create the psql database with the given name, user and password?) and started running the server.
Now I have the following view in Postgres app:

<img width="637" alt="Screen Shot 2020-03-18 at 10 06 07 AM"

[2020-03-18 05:53] NodiraIbrogimova commented on #601
Here are `logs` outputs:
[backend-installation.log](https://github.com/chaoss/augur/files/4347203/backend-installation.log)
[frontend-installation.log](https://github.com/chaoss/augur/files/4347204/frontend-installation.log)
[workers-installation.log](https://github.com/chaoss/augur/files/4347205/workers-installation.log)

@Adarsh-NP @ccarterlandis

[2020-03-18 06:18] NodiraIbrogimova commented on #601
Here I provided detailed information about my steps in `augur` directory (in virtual environment) hoping to get help and give you guys more information to discover what's wrong in my installation process:

**1**. `make clean`
**2**. `make install`
**3**. Choosing option `2)` for
[code]
**4**.
[code]
**5**. Choosing option `2)` for
[code]
**6**. Giving absolute path for continuing step in **5**

`/

[2020-03-18 06:22] Adarsh-NP commented on #601
Port is 5432, I don't know if 5433 works
Also, what about the host? Did you leave it blank?

On Wed, 18 Mar 2020, 11:49 Nodira Ibragimova, <notifications@github.com>
wrote:

[2020-03-18 06:25] NodiraIbrogimova commented on #601
Yes. I left it blank.

[code]

[2020-03-18 06:27] NodiraIbrogimova commented on #601
Couldn't connect to port 5432 from Postgres app, it's throwing popup message saying the port is busy. That's why tried port 5433 in installation process to prevent similar error 🙈

[2020-03-18 06:30] NodiraIbrogimova commented on #601
After `make clean`, tried with port `5432` now. It's throwing the same errors above (for all steps).

[2020-03-18 15:07] chiral-carbon commented on #558
Hi, I am very interested in this project and wish to apply for it for both Outreachy and GSoC. I am a final year B. Tech. (computer science) student from India. Should I go ahead and get started with the micro-tasks? I realize I am late but I am confident I can catch up and able to complete the prerequisites and come up with a proposal in time. Thanks! :smile: @sgoggins @germonprez

[2020-03-18 17:46] germonprez commented on #558
Thanks for your interest @chiral-carbon Yes, go ahead and get started with the microtasks. When you are done, don't forget to post your final results to the Interest Pages. It is simply a table that you need to add your information to. However, it is very important that you (and everyone) add this information - if you don't it's really impossible for us to see your work and, hence, consider your a

[2020-03-18 18:58] yamini27 commented on #558
Hi everyone, I'm Yamini Sharma from B.tech CSE (1st year) at IIT Mandi,India and I've applied for Outreachy 2020. I'm really interested in this great ML Anomaly Detection project from CHAOSS. I know that I'm a bit late to start but the ML project to which I was contributing earlier got closed so,I start now. But I'll work really hard for this great opportunity. I'll start working on Microtasks as

[2020-03-18 21:45] ccarterlandis commented on #601
Hi @NodiraIbrogimova, sorry I have not been as responsive these past few days. Let me try to clarify a few things.
1. You are correct in choosing option 2 (DB without the schema). With regards to credentials, since your database is running locally, your `host` should be `localhost`. Similarly, unless you have changed PostgreSQL's default port, your port should be `5432`; you can check your configu

[2020-03-18 21:50] ccarterlandis commented on #601
I closed this on accident while trying to type out my above comment. I will keep it open until we are able to get you up and running as well @NodiraIbrogimova.

[2020-03-19 05:18] NodiraIbrogimova commented on #601
@ccarterlandis thank you so much for a detailed answer! :D 🎉At night I was able to fix the problem with the server. But, I got an error when I run `augur run`. After your comment I think it might be because of the installation with sample data from augur.

One question here is, does the sentence above mean I've better choose `No` for the option below?

[code]

And if I got you right

means to use

[2020-03-19 05:29] NodiraIbrogimova commented on #601
Yaaaaaay! It worked! 🎉🎉🎉 Thank you, guys! @ccarterlandis @Adarsh-NP

[2020-03-19 05:33] ccarterlandis commented on #601
Yes, the correct option would be no.

If you're familiar with Docker, and want to try the test database out, you can use the following command to run the container:
[code]

You'll then need to change the `Database` section of your `augur.config.json` to:
[code]
You could change the port from `5434` if you want, I just use it because it's close to the default PostgreSQL port.

I would recommend exp

[2020-03-19 05:44] ilam56 opened #615 "Top Commiters API problem."
**Describe the bug:**
the "top-commiters" get request in the api doc http://augur.osshealth.io/api_docs/#api-Experimental-top_committers_repo doesn't seem to work for many repos. I think the repo-group version doesn't work right either. For some repos it will just give an internal server error and for others the number of commits don't seem to add up to the right number.

**To Reproduce:**
Steps t

[2020-03-19 05:50] Adarsh-NP commented on #601
Ok, so I loaded the data. What should I do now because in the documentation
it was mentioned that we should load the data. 😅😅

On Thu, 19 Mar 2020, 11:03 Carter Landis, <notifications@github.com> wrote:

[2020-03-19 05:54] NodiraIbrogimova commented on #601
Before you close the issue, I would like to share the steps I took during installation here in case someone else faces the same difficulty like I had. As my issue is related to this `issue`, @ccarterlandis can I post it here as a comment, please?

[2020-03-19 05:57] Adarsh-NP commented on #601
I feel that's a good thing to do considering we ran into the same issue.
Good thinking, but it would be better if we document it and attach it in
the documentation in a separate link maybe called as issues while
installation.
Will help a lot of people. What say Carter?

On Thu, 19 Mar 2020, 11:24 Nodira Ibragimova, <notifications@github.com>
wrote:

[2020-03-19 06:04] ccarterlandis commented on #601
@Adarsh-NP That is no problem. It's just a different dataset :) If you are doing development you will need to use the Docker image for testing, and if you want I can send you a link to first version of the documentation on how to set that up after I publish it.

@NodiraIbrogimova (and @Adarsh-NP) please feel free to share any feedback, notes or steps you have from your experience installing Augur.

[2020-03-19 06:05] NodiraIbrogimova commented on #601
@ccarterlandis said they are doing some changes in documentation. I'm afraid there might be some mess if they are making changes in the `installation` part as well.

If the changes we do don't conflict with the ones you guys (@ccarterlandis and @CMPerniciaro)are doing, I'm would be happy to contribute in [this](https://oss-augur.readthedocs.io/en/dev/getting-started/installation.html#installing-au

[2020-03-19 06:08] NodiraIbrogimova commented on #601
@ccarterlandis do we have some chat in slack or another platform? It would be great to have one for discussion (in case we don't have). I checked one link for slack somewhere in the description, but I couldn't open it.

[2020-03-19 06:11] Adarsh-NP commented on #601
@NodiraIbrogimova, yeah some links in the documentation are broken actually and our mentors are up on that.
For the time being lets create a document together on the installation issues we faced using google docs,  what say? Or commenting here would also help.

[2020-03-19 06:17] Adarsh-NP commented on #601
But for the time being, what to do as of now, like since I've loaded the data and you said about the possibility of a .git file in .git (I've run into those errors while working for some of my personal projects XD) so what about writing the code for interaction with gitlab api.

[2020-03-19 06:17] NodiraIbrogimova commented on #601
Great, how about moving to `google docs` for working on documentation? We could see changes by each other and discuss commenting. It's better to move this discussion to a different place, IMO.
By the way, can you share your e-mail, please? Mine is:
`nodira.ibrogimova@gmail.com`

[2020-03-19 06:22] Adarsh-NP commented on #601
Yeah, even I feel so hence I mentioned it.
My mail is:
f20180806@goa.bits-pilani.ac.in

[2020-03-19 06:22] ccarterlandis commented on #601
@Adarsh-NP @NodiraIbrogimova I've gone ahead an opened a PR with what I've currently got written, but I think starting with Google Docs is a really great idea. It would be easier to consolidate your notes there, since it's all in real-time. If you like, I can also share a link to the document you create in the PR, and we can all work together there. Up to you 😁

[2020-03-19 06:23] Adarsh-NP commented on #601
Sure, we'll share the link.

[2020-03-19 06:23] NodiraIbrogimova commented on #601
@ccarterlandis yes :D

[2020-03-19 06:24] ccarterlandis commented on #601
I will go ahead and close this issue, but feel to use this thread or #616 to continue the discussion. I am excited to see what you all come up with! 🚀

[2020-03-19 06:25] ccarterlandis commented on #601
I will also work on getting everything set up in our Slack channel 😉

[2020-03-19 06:25] Pogayo commented on #558
Hello @gabe-heim @germonprez after our interest pull requests have been merged, how do we get feedback on our work so that we can improve on it or do other tasks?

[2020-03-19 06:27] NodiraIbrogimova commented on #601
@ccarterlandis can you share the channel link please?

[2020-03-19 06:29] ccarterlandis commented on #601
@NodiraIbrogimova I've got to double check our permissions and then set up our guest access correctly, which I'll do in the morning (it's 1:30am where I am). I will post it in the main GSoC thread, and ping both you and @Adarsh-NP when I do so :)

[2020-03-19 11:09] germonprez commented on #558
Thanks @Pogayo Once you've done this, we have to simply wait for all of the interested people to submit their work (as you have done -- thanks!)

[2020-03-19 14:17] ArcD7 commented on #601
Hey @Adarsh-NP @ccarterlandis @NodiraIbrogimova . I hope you are doing well.
I followed your instructions for installation but when i try  `make install` on the dev branch i get this error
![Screenshot from 2020-03-19 19-33-39](https://user-images.githubusercontent.com/46811622/77076748-4060c880-6a1a-11ea-810b-d1bdc386cadf.png)
But, when I try it  without changing the branch I get no error.

[2020-03-19 15:15] #600 closed

[2020-03-19 15:15] ccarterlandis commented on #600
Not sure how I reopened this yesterday. Whoops 😁

[2020-03-19 15:38] NodiraIbrogimova commented on #601
Hello @ArcD7! Can you share your backend.logs file, please?
You can find the file in `logs/backend.logs` of the `augur` root directory.

[2020-03-19 16:05] manangoel99 commented on #392
@ccarterlandis @sgoggins I'm facing the same issue. I tried the steps written above by @Nebrethar but it still throws the same error.
[code]

[2020-03-19 16:32] ArcD7 commented on #601
Here you go!
[backend-installation.log](https://github.com/chaoss/augur/files/4355731/backend-installation.log)

[2020-03-19 16:39] NodiraIbrogimova commented on #601
Can you please let me know about these:
1. Did you `make install` in a virtual environment? (from log file seems yes)
2. What OS are you using?

Did you try running (after you created and activated virtual environment) `make clean` and then `make install`?

[2020-03-19 16:41] ArcD7 commented on #601
1. Yes, I am using a virtual environment.
2. Its Linux Mint

Yes, I did try `make clean`

[2020-03-19 16:45] ccarterlandis commented on #601
Hey @ArcD7, I think I can help. I've seen that `psutils` error before; can you try running `pip install wheel` in your virtual environment and then running the install process again? If that doesn't work you could also try installing the `python3-dev` tools. I'm fairly certain there is something wrong with the `psutils` library release, as I've run into other weird build errors with it before. Let

[2020-03-19 18:25] ArcD7 commented on #601
Thanks @ccarterlandis `installing python3-dev` did remove that error. But, after completing the build process this issue occurred.
![Screenshot from 2020-03-19 23-49-44](https://user-images.githubusercontent.com/46811622/77101118-c857ca00-6a3c-11ea-89c7-bd35fed58928.png)
Also uploading the `backend installation logs`.
[backend-installation.log](https://github.com/chaoss/augur/files/4356325/backend

[2020-03-19 18:37] ccarterlandis commented on #601
@ArcD7 glad that fixed the problem. I'll make sure to add a note about that to the installation docs in case it happens to others.

I think there is more of that error message that is not in the screenshot, if you scroll down and copy from the very bottom it should displayed a specific exception name and location - looks to be somewhere in the housekeeper from what I can tell, but I can't be sure

[2020-03-20 11:31] ArcD7 commented on #601
Sorry, for the SS didn't notice that it wasn't complete. Here is the complete SS.
![Screenshot from 2020-03-20 16-48-25](https://user-images.githubusercontent.com/46811622/77159410-52e70a80-6acb-11ea-9918-5a0096cfd5ea.png)

For the Database, steps I followed were:

1. For downloading Postgresql, i used : `sudo apt-get install postgresql`
2. Then, I created a new database **augur** : `sudo su - pos

[2020-03-20 13:04] Aparna-Sakshi commented on #545
Hi, I am Aparna Sakshi, currently pursuing Mathematics and Computing at Indian Institute of Technology, Kharagpur. I am really interested to contribute to project Machine Learning for Anomaly Detection.

[2020-03-20 13:19] Aparna-Sakshi commented on #558
Hi, I am an Outreachy 2020 applicant and I'm very much interested in this project. I have tried installing postgresql by following this link https://oss-augur.readthedocs.io/en/dev/getting-started/installation.html ,when I ran psql command, it gave following error psql: FATAL:  role "aparna" does not exist, I tried few more links, it is mentioned below:
https://www.liquidweb.com/kb/what-is-the-def

[2020-03-20 13:52] aksh555 commented on #558
If you have sudo permissions, you could try `sudo -u postgres psql` and then enter your usual sudo password, then you create new users in postgres.

[2020-03-20 13:53] Adarsh-NP commented on #601
Getting this new set of errors, @ccarterlandis  kindly suggest what could be done
![gyperror](https://user-images.githubusercontent.com/54997561/77169337-54bac900-6adf-11ea-91a0-304be4ee8fd5.png)
![builderror](https://user-images.githubusercontent.com/54997561/77169355-5a181380-6adf-11ea-9061-5fa0c87cd1f2.png)
That was bit foolish of me to redo everything to make sure no errors are generated, and

[2020-03-20 15:27] Adarsh-NP commented on #601
I am able to run make dev but it's just that augur run is not running.

[2020-03-20 16:09] NodiraIbrogimova commented on #601
@Adarsh-NP I got augur.json.config error once and command `augur configure generate` in `augur` - project root directory worked for me. Can you please try this one as well?

[2020-03-20 16:15] Aparna-Sakshi commented on #558
Thanks a lot for your help @aksh555 , it worked!!

[2020-03-20 16:26] rajrohit10 commented on #557
Hello,
I went through this idea. I love it.I have experience in python and blockchain. Right now working on Microtask 0. What more should I do to let you guys know that I have completed microtask 0??

[2020-03-20 17:13] manangoel99 commented on #558
[code]

Has anyone faced this issue? I can't quite figure out how to instantiate these tables in the database. While installing I did add the sample data and the basic tables got added but none of the worker tables. I would really appreciate some help.

[2020-03-20 21:08] Pogayo commented on #558
Hello @manangoel99  I don't know how to help with this issue exactly, but if you JUST need access to the sample data, please follow the steps below. It can help when the configuration/installation is having so many issues and you need to get started with contributions quickly.
1.  Go to [this link](https://github.com/chaoss/augur/blob/dev/schema/generate/02-augur_data.sql) and get the column names

[2020-03-21 11:02] abhinavbajpai2012 commented on #559
Hi All,
I am Abhinav Bajpai from IIT Dhanbad. I am willing to contribute to this idea for GSoC 2020. During my previous data engineering summer internship, I have developed data collector workers to fetch data from JIRA, Salesforce, Sage Intacct, ElasticSearch and AWS-Redshift and warehouse the data in Google BigQuery. I would love to develop a similar worker for GitLab as well :D

[2020-03-21 16:02] manangoel99 commented on #558
@Pogayo Thanks for the help. I had made a mistake while loading the data.

[2020-03-21 16:42] Nayan-Das commented on #557
Hi,

I have completed GSOC & Outreachy SSO Microtasks #557 and raised a pull request.
Could you please suggest if I should proceed with the application.

Thanks and regards,
Nayan

[2020-03-21 18:17] abhinavbajpai2012 commented on #559
@sgoggins Can you tell me what data would be sufficient for choice 2 of microtask 1? I am currently thinking to store all the projects, their branches and issues along with some details like timestamp, creator etc.

[2020-03-22 03:43] ccarterlandis commented on #615
Hi @ilam56, thanks for bringing this to our attention. I'll get started on a fix.

[2020-03-22 04:07] ccarterlandis commented on #557
Hi @Nayan-Das, we will review your pull request soon. In the meantime please feel to get started on the application.

[2020-03-22 10:52] sanusoumya17 commented on #545
Hello, I am Sanu Soumya, pursuing Mathematics & Computer Science at Miranda House, DU. I am an Outreachy 2020 applicant and am looking forward to contribute to the project 'Machine Learning for Anomaly Detection in Open Source Communities'. I have relevant prior experience with Machine Learning and Python. Excited to learn and  to contribute!

[2020-03-22 16:14] abhinavbajpai2012 commented on #580
@ccarterlandis I had a question regarding the schema. As Gitlab (and it's API) keep on changing with the addition of features, There can be a scope to add more columns to the schema as more data would be made available with time. Are we interested in only a set of variables and keep the schema constant or should it be flexible to adjust any new data being made available through the API?
Example -

[2020-03-22 16:22] mrsaicharan1 commented on #580
@abhinavbajpai2012 I'm guessing that this should answer your question.
 Suppose we have a new attribute/"feature" added to Gitlab. At that point in time, GitLab would be the only data source possessing that feature. If we were to bring it in, we could obtain GitLab specific metrics but there wouldn't be another data source to compare it with.
I hope I'm right about that @ccarterlandis 😄

[2020-03-22 16:42] abhinavbajpai2012 commented on #580
Actually I once used Stitch which is a subscription-based/paid data collector worker for Lever and JIRA which pushes data to Big Query / AWS Redshift. It used to add extra columns for new attributes being added. This idea felt cool to me as storing extra data should not create a problem but could be used later.

[2020-03-22 17:01] ccarterlandis commented on #545
Hello everyone! I have just finished setting up our Slack workspace for applicants, and am happy to invite anyone who is applying for Augur for GSoC 2020. If you would like to be added to the channel, please send me an at c@carterlandis.com with your name and the email address you like me to send the invite to. If you already got an invite from me, you can use it, or if you like I can send it to a

[2020-03-22 17:01] ccarterlandis commented on #559
Hello everyone! I have just finished setting up our Slack workspace for applicants, and am happy to invite anyone who is applying for Augur for GSoC 2020. If you would like to be added to the channel, please send me an at c@carterlandis.com with your name and the email address you like me to send the invite to. If you already got an invite from me, you can use it, or if you like I can send it to a

[2020-03-22 17:01] ccarterlandis commented on #558
Hello everyone! I have just finished setting up our Slack workspace for applicants, and am happy to invite anyone who is applying for Augur for GSoC 2020. If you would like to be added to the channel, please send me an at c@carterlandis.com with your name and the email address you like me to send the invite to. If you already got an invite from me, you can use it, or if you like I can send it to a

[2020-03-22 17:01] ccarterlandis commented on #557
Hello everyone! I have just finished setting up our Slack workspace for applicants, and am happy to invite anyone who is applying for Augur for GSoC 2020. If you would like to be added to the channel, please send me an at c@carterlandis.com with your name and the email address you like me to send the invite to. If you already got an invite from me, you can use it, or if you like I can send it to a

[2020-03-22 21:59] ccarterlandis commented on #601
@ArcD7 I think something went wrong during your schema installation process. If you don't mind, can you share the `Database` section of your `augur.config.json` (if you're running it locally that is, I would never ask you to share credentials to hosted database online 😂). If you're your credentials in there are correct, could you try running `augur db create-schema` from the root Augur directory?

[2020-03-23 07:36] snehal199 commented on #545
Hi,I am Snehal and I am an outreachy applicant.I am looking forward to contributing to the project "Machine Learning for Anomaly Detection in Open Source Communities".I've spent some time learning more about Chaoss and Augur.Really excited to start contributing to the project !

[2020-03-23 13:34] pratikmishra356 commented on #543
@ccarterlandis Currently http://augur.osshealth.io not showing any insights
![Screen Shot 2020-03-23 at 6 57 15 PM](https://user-images.githubusercontent.com/43684300/77321550-5d5a0c00-6d38-11ea-952e-f7cfa2f72089.png)

but when I run augur on local host it shows insights
![Screen Shot 2020-03-23 at 6 57 27 PM](https://user-images.githubusercontent.com/43684300/77321960-fb4dd680-6d38-11ea-8671-8923

[2020-03-23 15:39] ccarterlandis commented on #543
@pratikmishra356 that version of Augur is likely rather outdated (even if the UI doesn't show it). We'll see what we can do about fixing it. @sgoggins

[2020-03-23 16:54] pratikmishra356 commented on #543
Thanks @ccarterlandis
Let me know if I can work on any issue related to insights.

[2020-03-23 19:08] ArcD7 commented on #601
@ccarterlandis  I think there is something wrong with the database, but I don't know what.
Here is the `augur.config.json` file:
[augur.config.txt](https://github.com/chaoss/augur/files/4371417/augur.config.txt)

I then tried that command it didn't work, so I suppose the problem is with the psql setup.

[2020-03-24 00:18] ccarterlandis commented on #601
Can you be more descriptive about the command didn't work and provide error logs/screenshots please? I can't help you if I don't know what happened. I am not sure what you mean by the 'psql setup' either, do you mean how the database itself was created? Or something else?

[2020-03-24 17:27] sgoggins opened #623 "Eliminate NaN insights"
**Is your feature request related to a problem? If so, please describe the problem:**
The insight worker detects anomalies when "NaN" values are generated. Can these be filtered out?
[code]

[2020-03-24 17:32] gabe-heim commented on #623
I already have a fix on my local machine, I just have not pushed yet. I will close this when I push.

[2020-03-24 22:16] gabe-heim commented on #623
Fixed in 41f4c158fbcaddc12da7a053c803bac0edeb8e10

[2020-03-24 22:16] #623 closed

[2020-03-25 11:02] tianyichow opened #631 "Error occurs when installing Augur's frontend dependencies"
**Describe the bug:**
A clear and concise description of what the bug is.
<img width="1056" alt="1" src="https://user-images.githubusercontent.com/42535236/77533441-d345ab00-6ed1-11ea-9b2c-ac617394eb12.png">
<img width="1060" alt="2" src="https://user-images.githubusercontent.com/42535236/77533545-09832a80-6ed2-11ea-943c-c5c2d50e7912.png">

**To Reproduce:**
Steps to reproduce the behavior:
1. mak

[2020-03-25 11:16] Nayan-Das commented on #557
Hi @ccarterlandis Would it be possible for you to check my pull request now.

[2020-03-25 12:09] tianyichow commented on #631
I redo the building procedure on my Macbook Pro. I saw the same issue.
I sincerely ask for help 😂
Log files ：
[backend-installation.log](https://github.com/chaoss/augur/files/4380727/backend-installation.log)
[frontend-installation.log](https://github.com/chaoss/augur/files/4380728/frontend-installation.log)
[workers-installation.log](https://github.com/chaoss/augur/files/4380729/workers-installat

[2020-03-25 16:31] ccarterlandis commented on #631
Hi @tianyichow, sorry you've been having issues. I'll be glad to work with you to get everything figured out.

### Frontend
I fully recognize that this is weird and unexpected behavior, but those frontend error messages are not true "errors". Having seen this issue all the time, I know that the last bit of your error message should look like this:
[code]

You'll notice that the only places there a

[2020-03-25 16:39] ccarterlandis commented on #557
Hi @Nayan-Das I am not sure if myself/@sgoggins/@gabe-heim will be able to review it right this minute but don't worry, we will review your PR 👍

[2020-03-25 17:28] tianyichow commented on #631
Thanks a lot for your help @ ccarterlandis!

### Frontend

I checked the error info and it is exactly what you say. 😂

If this is caused by opitional dependency, the frontend should work well on the browser. But I can't get the right visual web page.  I suppose that the right thing is:

![image](https://user-images.githubusercontent.com/42535236/77566655-ef147580-6f00-11ea-9078-d0a68cb3cf7e.png)
(

[2020-03-25 17:34] ccarterlandis commented on #631
@tianyichow glad I was able to help you solve the issue. The frontend server is on `http://localhost:8080` by default, can you see if that works? `augur run` does not control the frontend server`, if you want to spin the frontend up then you have 2 options:

1. Run `make dev` in the root `augur/` directory to start BOTH in frontend and the backend as background processes
2. Keep `augur run` going

[2020-03-25 17:37] ccarterlandis commented on #631
For what it's worth, the test data packaged with the repository is several months out of date, and we are removing it from the installation process in our upcoming release in favor of using our new Docker database with richer and updated sample data (that is also used as our testing environment). I am actually working on updating the test data right now, so if you like I can share instructions on

[2020-03-25 18:16] tianyichow commented on #631
🍻cool！！！！@ccarterlandis, it works fine. Thanks for your help.
![image](https://user-images.githubusercontent.com/42535236/77569607-6946f900-6f05-11ea-91c5-60737cddc7e0.png)

I am quite interested in the new richer sample data. I would like to try it in the upcoming release and help to improve it. 😊 Now  I am working on the socail collaboration network analysis in open source community based on dat

[2020-03-25 18:43] ccarterlandis commented on #631
Wow, that sounds really interesting!! Is that report available online anywhere? Sounds like a pretty cool dataset. If you're interested in what we do, we are part of the Linux Foundation's [CHAOSS](https://chaoss.community) project, which is focused on Community Health and Analysis for Open Source Software (hence the name). We work with open source stakeholders from all over the world in a variety

[2020-03-25 18:43] #631 closed

[2020-03-26 09:51] tianyichow commented on #631
@ccarterlandis sorry for response so late. 😂
The report and a analysis tool are available in our GitHub:https://github.com/X-lab2017/github-analysis-report-2019. But there are just Chinese version of it. However, I has working on a demo paper based on this work for VLDB conference 2020. We provide a pre-processed [dataset](http://cdn.opensource-service.cn/github-analysis-report-2019/data.json.gz)

[2020-03-26 10:11] tianyichow commented on #558
Hello, everyone in Augur community.   I am Tianyi Zhou(周添一), a postgraduate student at East China Normal University. I am also a applicant of GSoC 2020.  My research interests are mainly in data science and software engineering. I have been working on the research of open source communities evaluation and sustainability for few months. And thanks for the timely and attentive help from @ccarterland

[2020-03-26 21:00] Adarsh-NP commented on #601
Update:
So finally the commands worked for us..Thanks to @ccarterlandis for addressing our problems and @NodiraIbrogimova for working with me on the documentation and figuring out the errors.

[2020-03-27 08:28] NodiraIbrogimova opened #640 "Template for proposal is missing in interest page for Outreachy"
Is there a proposal template that we should follow as an Outreachy applicant? I see one provided [here](https://github.com/chaoss/governance/blob/master/GSoC-interest.md) for `GSoC` applicants.

Should we follow the same template?
If **yes** or **no** can you please provide details about that?

In outreachy requirements, we have a form to (just) record the contribution and writing description for

[2020-03-27 15:00] sgoggins commented on #640
@NodiraIbrogimova : Follow the same template, or whatever instructions Outreachy provides applicants. We are not going to evaluate the form of proposal, we are interested in the content.

[2020-03-27 15:16] NodiraIbrogimova commented on #640
@sgoggins, thank you for a detailed answer.

Another question is, does the proposal with the template in GSoC has to be completed upon finishing the microtasks. I mean does this fall into the requirements of `augur` project application?

As for outreachy, they asked to record a contribution link, date and description. No template or proposal is mentioned (unless there is some document they will as

[2020-03-27 15:27] ccarterlandis commented on #601
@ArcD7 were you able to get everything sorted out? I'm going to close this issue but feel free to open another if you are still experiencing issues.

[2020-03-27 15:27] #601 closed

[2020-03-27 16:22] pratikmishra356 commented on #615
@ccarterlandis I found that "top-commiters" metric endpoint were not mentioned in metrics/commits/routes.py .Instead it is mentioned in metrics/contributor/routes.py .This might be the cause of error.Can I work on this issue and resolve this??

[2020-03-28 10:49] NodiraIbrogimova commented on #640
On submission of the contribution (after completing contribution on the chosen project(s)), `outreachy` prompts to write essay questions. I'm not sure whether it's allowed to write those questions here.
Closing this issue.

[2020-03-28 10:49] #640 closed

[2020-03-28 14:40] pratikmishra356 commented on #615
@ccarterlandis I think there might be some errors in the calculation part , thats why in the third link it is showing partial data.Currently none of the link is working.

[2020-03-28 19:58] pratikmishra356 commented on #615
@ccarterlandis @ilam56 This issue occurs due to the following reason
 First and second link is showing internal errors because the "sql" queries not giving desired output, it returns None Type.
![Screen Shot 2020-03-29 at 1 09 27 AM](https://user-images.githubusercontent.com/43684300/77832244-9dffbe00-715a-11ea-8cfd-96d6d3c96bfd.png)
![Screen Shot 2020-03-29 at 1 10 15 AM](https://user-images.gith

[2020-03-29 12:27] mrsaicharan1 opened #648 "Enforcing DRY principles -- Optimization of test suites"
**Describe the enhancement**
Currently, there are many tests that are repetitive, i.e:
For example:
[code]

Instead of this, we could write a common function that
could be called across these tests to incorporate readability, reusability and proper maintenance.

***Additional info***
Working on this.

[2020-03-30 16:35] aksh555 commented on #541
@ccarterlandis @Nebrethar  I am unable to reproduce the error on augur.osshelath.io. In fact no chart loads in the Insight dashboard.
Is this issue already solved? If not, could you please provide some details. I am interested in working on it

[2020-04-03 22:35] sgoggins commented on #648
@mrsaicharan1 : I believe we merged a pull request where you made these optimizations. Can this be closed?

[2020-04-03 22:40] sgoggins commented on #615
@pratikmishra356 : I am curious about why several files unrelated to the the bug you note in the top-committers API are also changed?

[2020-04-03 22:41] sgoggins commented on #597
@Adarsh-NP : We could definitely use help reading the documentation in the doc-a-thon branch and identifying issues in that branch that can be fixed. It has evolved significantly since you opened this issue.  Can you look at that branch and try an install and either fix/clarify what you think needs addressing or open specific issues?

[2020-04-03 22:42] sgoggins commented on #580
@abhinavbajpai2012 : We definitely want the GitLab worker to map into the existing schema.

[2020-04-03 22:44] sgoggins commented on #543
@pratikmishra356 : I think the biggest issue right now is that we only see the date range for the anomaly period, instead of the training period. @gabe-heim made some fixes to the insight worker so that anomalies are more clearly identified. Do you feel comfortable with front end adjustments?

[2020-04-03 22:45] sgoggins commented on #541
This is fixed, @Nebrethar

[2020-04-03 22:45] #541 closed

[2020-04-03 22:46] sgoggins commented on #549
@michaelwoodruffdev : Can you look into this?

[2020-04-04 00:52] mrsaicharan1 commented on #648
There are additional files which require this optimization. I'll be fixing them up in the linked PR!

[2020-04-04 05:14] Adarsh-NP commented on #597
Hello sir,
Sure I will try to do that.
Thanks for asking.

On Sat, 4 Apr 2020, 04:11 Sean P. Goggins, <notifications@github.com> wrote:

[2020-04-04 09:14] Adarsh-NP opened #667 "List of all the broken links in the documentation"
Here are all the links in the installation guide and readme file that needs to be fixed.

[Installation page](https://oss-augur.readthedocs.io/en/dev/getting-started/installation.html):
The links to Make file commands and data collection documentation, at the bottom of the page, are broken.

In the installation page, it would be a great help to someone who is starting with the downloads to include

[2020-04-04 14:08] pratikmishra356 commented on #543
@sgoggins  I looked into recent commits made by @gabe-heim in the insight worker including deletion of old insights.Currently insight_model uses "training_period" but not the confidence_interval_insights as it uses anomaly_days only.I think we need both anomaly days and training period.I am comfortable with front end  , I know Vue.js and also learned about Vega-lite.

[2020-04-05 06:38] pratikmishra356 commented on #615
@sgoggins Sir , my target branch for pull request was dev but it was merged to GSoC branch.Due to this several unrelated files got changed.
I had made four commits (1,2 - fixed api issues ),(3 - added new notebook)(4 - Added new metrics).Same pull request were raised for all four commits.

[2020-04-05 12:02] Pogayo commented on #667
Hello @Adarsh-NP,

Some of these broken links are already fixed in the documentation that is going on in the doc-a-thon branch. Please check-out the doc-a-thon version of the documentation for the latest version of the documentation. As an example, your recommendations to the errors that arise when installing front-end dependencies are there. Here is [the link](https://oss-augur.readthedocs.io/en/

[2020-04-05 12:31] Adarsh-NP commented on #667
Hello sir, thanks for clarifying...but somehow it didn't work for me a day before when I opened it in my laptop.
I'll look at it again because I am pretty sure I was in doc-a-thon branch only.

I'll verify once again.
Thanks a lot.

[2020-04-05 15:04] Pogayo commented on #667
I hope it works.
I am female, so she/her works for me.

[2020-04-05 15:06] Adarsh-NP commented on #667
Oh I am so sorry, actually I replied directly from the mail so didn't know about that.

[2020-04-05 15:10] Pogayo commented on #667
I am sorry I closed this accidentally

[2020-04-05 15:11] Pogayo commented on #667
It's okay.

[2020-04-06 06:02] tab1tha commented on #558
Greetings. My name is Tabitha and I am applying for the `machine learning for anomaly detection` project. while installing augur and running `make install`, I came across this

1) Create a new directory
2) Use an existing directory

![facade_repo_path](https://user-images.githubusercontent.com/42181805/78527132-06dadc00-77d4-11ea-8b3f-d360dee3db70.png)
Please what option should I have chosen?
I ch

[2020-04-09 22:01] sgoggins commented on #648
@mrsaicharan1 : OK ... you might need to open a new PR, as we merged the first one!

[2020-04-12 12:48] sgoggins opened #679 "dev: Clean Machine Installation Error : `~/.pgpass` No such file or directory"
**Describe the bug:**
When performing an installation on a new machine, I get this error:

[code]

**To Reproduce:**
Steps to reproduce the behavior:
1. A Clean Ubuntu installation
2. Run `make install-dev`
3. see error

**Expected behavior:**
Should create the file or directory if it does not exist.

**Desktop (please complete the following information):**
 - Ubuntu 18

**Additional context**
`de

[2020-04-12 12:59] sgoggins opened #680 "Installation Failure Mode: Remove `augur.config.json` on failed `make install-dev`"
**Describe the bug:**
If my `make install-dev` fails for any reason, it will continue to fail until I `rm augur.config.json`, because whatever I got wrong remains in the file and I am not prompted again.

**To Reproduce:**
Steps to reproduce the behavior:
1. run `'make install-dev`
2. provide bad database host, or bad repo path info
3. fix the issue
4. try again: `make install-dev`
5. See error

*

[2020-04-12 13:08] sgoggins opened #681 "pull request commits model block missing from housekeeper on installation"
**Describe the bug:**
We now have the pull request worker pulling the pull request commits. That block is not being added to the housekeeper on the `make install-dev`

It looks like this:

[code]

**Other Info":**
`dev branch`

[2020-04-12 13:26] sgoggins opened #682 "generating API Docs fails"
**Describe the bug:**
[code]

**To Reproduce:**
Steps to reproduce the behavior:
1. `make install-dev` on a clean virtualenv. Possibly a clean machine
2. First I got a failure where I realized that `apidoc` was not in the requirements.txt file, so I didn't have that.
3. `pip install apidoc`
4. error above

**Expected behavior:**
Getting to the front end installation even if the building of API doc

[2020-04-12 15:13] ccarterlandis commented on #681
It's not in there because this is the first time I've heard of this 😁 I will add it to the default config, but for future reference if you need to add something to the default config and don't want to wait for me to do it, just add it to contents the `default_config` variable defined at the top of `augur/cli/configure.py` and it will be part of the default installation from then on.

[2020-04-12 15:17] ccarterlandis commented on #682
`apidoc` is a JavaScript library, not a Python one. If `npm` is not configured correctly it will not be able to install the package before the script to generate the API docs is run. This is the primary reason we will be getting rid of it ASAP, requiring a Javascript library in a Python package makes no sense and the current API docs solution is not very useful or easy to work with.

[2020-04-12 15:19] ccarterlandis commented on #680
I don't know what "error" you're talking about. Can you please provide log files if you have any?

If you're referring to the fact that the install script doesn't prompt you to generate another config when you run it again, this is expected behavior under the requirements which were originally given to me when I wrote the script. That feature is easily changed, but it exists because I thought that

[2020-04-12 15:19] ccarterlandis commented on #679
I will update the script to create the `~/.pgpass` file if needed.

[2020-04-12 15:20] ccarterlandis commented on #681
Is that the `delay` value you want? All the other jobs have a delay of either `150000` or `1000000` and I think we should remain consistent in one or other unless there's a good reason not to.

[2020-04-12 15:21] ccarterlandis commented on #682
Can you please provide the log files? There might be other things that are failing out, but I can't fix the problem unless I know exactly what went wrong.

[2020-04-13 12:09] sgoggins commented on #682
Full access sent in Slack. Note: Ubuntu 19:
[code]

[2020-04-13 12:10] sgoggins commented on #681
Stay consistent on delay values.
Yeah, ahem, sometimes folks add new features but forget to tell us about the `augur.config.json` parameters. But they are good people. :D

[2020-04-13 12:14] sgoggins commented on #680
I agree. during testing yesterday I had a number of self induced head wounds and wanted to start over. Whenever I started over, it failed at the same place. Shortly, I realized I needed to delete the `augur.config.json` ... but I've been doing this for over 3 years, so I figure ... Removing the augur.config.json if the user doesn't at least get past the front end installation for now seems like it

[2020-04-13 12:14] sgoggins commented on #679
ALso, I lied. I was on Ubuntu 19.
[code]

[2020-04-13 14:40] ccarterlandis commented on #681
No problem, I totally get it! Which `delay` value should I use?

[2020-04-13 14:40] ccarterlandis commented on #679
This is fixed, once I have the other issues fixed as well I'll open a PR for all them

[2020-04-13 14:55] ccarterlandis commented on #680
If I understand what you're saying correctly (which I hope I do), I disagree. I think that each piece of the install process is a separate task, and if one fails, then I don't see why we would need to undo the previous sections if they worked. The only scenario where I think it would be appropriate to delete the config and ask the user to do it again is if the config was somehow formed incorrectly

[2020-04-13 16:06] ccarterlandis commented on #681
I ended up going with `15000`.

[2020-04-14 21:43] #679 closed

[2020-04-14 21:43] #681 closed

[2020-04-14 21:43] #682 closed

[2020-04-20 15:24] NodiraIbrogimova opened #690 "Ideas for front-end improvement"
I have been reviewing the front-end of Augur and there are some suggestions that I would like to mention for its improvement.

- I see that typescript has been added to the frontend, but it doesn't seem to be used/supported widely.
e.g., The components are not still using `ts` as a `lang` option.

- Vue (devs) recommend using **single-file components** and with high probability (in my opinion,) th

[2020-05-05 19:01] ccarterlandis commented on #667
Documentation has been reworked as of v0.12.0, so these links have been fixed.

[2020-05-05 19:01] #667 closed

[2020-05-05 19:02] ccarterlandis commented on #597
Documentation has been reworked as of v0.12.0, so these links have been fixed.

[2020-05-05 19:02] #597 closed

[2020-05-05 19:04] ccarterlandis commented on #680
The functionality described in most recent comment has been implemented as of v0.12.0.

[2020-05-05 19:04] #680 closed

[2020-05-05 19:05] ccarterlandis commented on #559
GSoC submissions are over and applicants have been selected. Thank you to everyone who submitted!

[2020-05-05 19:05] #559 closed

[2020-05-05 19:05] ccarterlandis commented on #558
GSoC submissions are over and applicants have been selected. Thank you to everyone who submitted!

[2020-05-05 19:05] #558 closed

[2020-05-05 19:05] ccarterlandis commented on #557
GSoC submissions are over and applicants have been selected. Thank you to everyone who submitted!

[2020-05-05 19:05] #557 closed

[2020-05-05 19:06] ccarterlandis commented on #545
GSoC submissions are over and applicants have been selected. Thank you to everyone who submitted!

[2020-05-05 19:06] #545 closed

[2020-05-05 19:10] ccarterlandis commented on #386
Closing since this is an old issue, and also because @gabe-heim built a `contributor_worker` to do this very task!

[2020-05-05 19:10] #386 closed

[2020-05-05 19:28] ccarterlandis commented on #397
If I'm understanding the request correctly, this functionality already exists at the `/api/unstable/repo-groups/<repo_group_id>/repos` endpoint. For example: `http://localhost:5000/api/unstable/repo-groups/10/repos` will return all the repos for only the given `repo_group_id`, which is 10 in this case.

It would be nice if the frontend took advantage of this, but I think that's outside the scope o

[2020-05-05 19:28] #397 closed

[2020-05-05 19:30] ccarterlandis commented on #580
Since it seems the questions have been answered, I'm going to go ahead and close this issue, but feel free to reopen this issue or open another if I'm wrong 😄

[2020-05-05 19:30] #580 closed

[2020-05-05 19:32] ccarterlandis commented on #182
As of v0.12.0, Augur now follows the FHS for storing the appropriate config files.

[2020-05-05 19:32] #182 closed

[2020-05-05 19:41] ccarterlandis commented on #400
I can't recreate as of Augur v0.12.0. Closing

[2020-05-05 19:41] #400 closed

[2020-05-05 19:44] ccarterlandis commented on #387
I'm not really sure what this issue is outlining here. Is this essentially being able to get the results of a large set of metrics for a given group of repos with a single API endpoint? Additionally, is this still relevant/something we want?

[2020-05-05 19:58] ccarterlandis commented on #403
#480 has a more up to date version of these instructions. Closing

[2020-05-05 19:58] #403 closed

[2020-05-26 04:44] tharun143 opened #724 "Software pages"
@ccarterlandis Can u explain to me about the work that I have to do for writing the software page for Augur in the CHAOSS website. As @klumb already mentioned us in issue #[184 ](https://github.com/chaoss/website/issues/184)in the CHAOSS repo. Can u explain to me more about what I have to do?

[2020-05-26 16:20] ccarterlandis commented on #724
Hi @tharun143, unfortunately I don't know anything else outside the scope of what's mentioned in that issue. From my understanding of said issue, and from when Kevin asked me help out, I can provide any information you need about Augur so that you can put it on the website, including any technical details, roadmaps, contributor information, really whatever you need.
I am more than happy to provide

[2020-05-26 16:35] mrsaicharan1 opened #725 "Implementation of Issue Worker - Gitlab"
**Worker Implementation Pathway & Description**
Setup the basic components in the `__init__` method and write data collection functions for issues, assignees, comments etc

**Potential solutions:**
Setting up the DB, capturing data from GitLab API Model & relaying it back to our tables in the Postgres schemas in the corresponding format.
Additional metadata is also included.

**Additional context:

[2020-05-31 10:15] mrsaicharan1 opened #730 "Provision for GitLab API key in the generated config"
**Feature Description**
As we're moving towards the implementation of the Gitlab workers, we need to add the GitLab API key in the config file [`augur.config.json`]. The script which generates this config file should be changed accordingly
**Additional context:**
Will solve this asap, as this would aid in the initial setup.

[2020-05-31 15:46] sgoggins commented on #730
@mrsaicharan1 : @gabe-heim and @sgoggins also need to address standard methods for the workers and schema so that you can supply additional credentials in the `worker_oauth` table.

[2020-05-31 18:44] sgoggins opened #736 "Need Model and worker info for releases worker"
The new releases worker needs to have sections added for the model and the worker in the augur.config.json in order to run.

[2020-05-31 18:50] sgoggins opened #737 "repo_info worker: dev/test branch"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
Looks like the new Fork information collection has some kind of mismatch between the method and parameters passed:

[code]

If the log does not provide enough info, let me know

[2020-05-31 19:01] sgoggins opened #738 "Simple worker log output tail function (or error checker)"
It would be good if we had a single command or method that would identify errors, or at least show the end of logfiles for every worker

**Potential solutions:**
I wrote a quick little shell script, but its brittle to the instance because its got to know what port the workers are using to know the names of the logfiles.  It also does a simple tail. No error checking or reporting.

A better solutio

[2020-05-31 21:05] ccarterlandis commented on #738
Reposting my comment in our Slack channel here, for posterity's sake (slightly edited):

We can leave this issue open to discuss these necessary core logging changes, or we can use a new one dedicated to that (my preference). I would like to close this issue since the script already exists and we're not ready for the extended functionality, but it's your call @sgoggins

[2020-05-31 21:12] ccarterlandis commented on #736
All that's required to edit the default config is to edit the `default_config` object at the top of `augur/cli/configure.py`. That is where those sections would need to be added.

[2020-06-01 07:11] mrsaicharan1 commented on #725
I'll be creating a few sub-issues alluding to this one so that as soon as we wrap up with all of them, we can close this one directly! *It's a long way but just an FYI :)*

[2020-06-01 07:23] mrsaicharan1 opened #739 "Implementing a function for contributors - Gitlab Worker"
**Sub-Issue Description**

Similar to the GitHub Worker, updating/inserting the contributors into the data model before we iterate through the issues as this would make the process of issue collection more efficient - there wouldn't be any requirement to iterate through the committers.

[2020-06-01 15:34] aksh555 opened #740 "Implementation of Message Insights Worker"
**Worker Description**
Fetch data from relevant tables and analyze sentiment and detect unique/outlier messages related to issues and PRs. Send useful insights to _Auggie_.

**Approach**
Perform sentiment and outlier analysis in Jupyter notebooks using different models. Choose best ones and transfer to worker.

**Additional Context**
This issue is just to keep a track of the progress/discussions.

[2020-06-02 05:46] mrsaicharan1 opened #742 "Update paginate function to support the Gitlab API"
**Issue Description**
 The paginate function only works with the GitHub API as of now. Without breaking the previous functionality, I'll add support for GitLab API too. Diving deep into the issue, the str indexing doesn't return the last page when we try to access `r.links['last']['url'][-6:].split('=')[1]`

Just as a heads up, gitlab performs pagination in the same way as github(link headers)
htt

[2020-06-02 15:53] mrsaicharan1 commented on #742
In addition the links header response, the sample response for one of the issues in a project
[code]

[2020-06-02 18:14] ccarterlandis opened #747 "Repo info worker does not collect data successfully"
**Description:**
The `repo_info_worker` does not successfully collect data. After connecting to the broker and starting its collection process, it runs into several errors, and then stops without inserting any data.

**How to reproduce:**
1. Check out the `dev` branch of Augur, and start the backend with `augur run`
2. Start the `repo_info_worker`
3. Wait until connection is successful and data co

[2020-06-03 17:08] ccarterlandis commented on #747
For some reason I still can't assign this to you @ivanayov but if you could take a look when you get a chance that would be very helpful!

[2020-06-07 08:21] abhinavbajpai2012 opened #749 "oauth method for Gitlab API"
In the worker_base class, the init_oauth method works for the Github API. A separate authenitcation method is needed for Gitlab API key authentication which fetches the keys from the configuration file as well as the worker_oauth table and uses them for the requests.

[2020-06-07 11:50] mrsaicharan1 opened #750 "Refactor `find_id_from_login` to support Gitlab API"
**Description:**
The current version of the `find_id_from_login` function supports the Github API & inserts contributors into the model.

https://github.com/chaoss/augur/blob/10a1a1c4ec81d67647a4d6aca90cab6d2b6e5ad3/workers/worker_base.py#L295

[2020-06-07 13:21] mrsaicharan1 opened #751 "Implement API request rate limiting update function for gitlab"
**Description**

Currently, we have a rate-limiting function for github. A Similar function needs to be implemented for gitlab

[2020-06-07 19:14] abhinavbajpai2012 opened #754 "Refactor task completion and failure registering methods to adjust with the Gitlab workers"
The current task status registration methods in worker_base class are not compatible with the Gitlab worker tasks.
Additions will be required in those methods to adjust with the task format of Gitlab workers.

[2020-06-07 19:26] abhinavbajpai2012 opened #755 "Refactoring base worker class to adjust with the Gitlab API."
This thread is to discuss the changes needed to be made in the base worker class before starting with the Gitlab data collection workers.

[2020-06-07 19:32] abhinavbajpai2012 commented on #755
Currently we have pointed out that changes are required in the methods dealing with-

- Authentication
- Task status registration (Completion and Failure)
- Pagination
- Querying gitlab contributors
- Rate limit updater
- Finding id from login

[2020-06-07 19:39] abhinavbajpai2012 commented on #755
@ccarterlandis @gabe-heim could there be some additional adjustments we might need to make, to make it compatible with the upcoming Gitlab workers?

[2020-06-08 07:43] mrsaicharan1 commented on #755
@abhinavbajpai2012 Pagination & rate-limiting functions are done in my WIP PR. Currently working on & find id from login.
 Will test & notify as soon as everything is gtg

[2020-06-09 17:09] abhinavbajpai2012 opened #764 "Fetching contributors from the Gitlab API"
The `query_gitlab_contributors` method in base worker class fetches the list of contributors in a Github repo. We need to implement a method to fetch the contributors from Gitlab.

[2020-06-09 17:13] abhinavbajpai2012 commented on #764
@gabe-heim I am thinking to make a separate method to fetch the contributors from Gitlab API. Would it be fine or should I refactor the current `query_gitlab_contributors` method to incorporate the contributors list extraction from the Gitlab API?

[2020-06-09 20:54] sarit-adh opened #767 "Identify outlier, "within repository" comments or comment threads"
Classifying a comment as an outlier within a particular comment thread and across all comment threads in the repository. A comment  semantically different from other comments will be classified as an outlier

[2020-06-11 20:29] sgoggins commented on #747
@ccarterlandis : I think @ivanayov has less time in the coming weeks. She has not accepted the invitation to the CHAOSS org yet, so that's why we cannot assign it to her.

[2020-06-11 20:29] ccarterlandis commented on #747
This is actually already fixed, I just forgot to close this issue

[2020-06-11 20:29] #747 closed

[2020-06-12 03:29] mrsaicharan1 commented on #739
this a duplicate of an issue being worked upon by @abhinavbajpai2012. Closing therefore

[2020-06-12 03:29] #739 closed

[2020-06-13 12:31] germonprez opened #1216 "Visualizing Issues and PRs"
Hi all,

I'd like to think about a way to include this figure (refine and include?) in the work that Evolution does. It is from our friends on the Asia Pacific call as a way to visualize the Issue/PR processes.

[Issues:PRs.pptx](https://github.com/chaoss/wg-evolution/files/4774570/Issues.PRs.pptx)

[2020-06-13 15:34] mrsaicharan1 commented on #730
Implemented in #733

[2020-06-13 15:34] #730 closed

[2020-06-13 15:35] mrsaicharan1 commented on #742
PR merged - #743

[2020-06-13 15:35] #742 closed

[2020-06-16 15:55] #737 closed

[2020-06-18 17:52] ccarterlandis commented on #736
This was fixed with #759, closing

[2020-06-18 17:52] #736 closed

[2020-06-18 17:54] ccarterlandis commented on #648
This can be accomplished more robustly with pytest fixtures and marks. See https://github.com/chaoss/augur/blob/dev/tests/test_routes/test_util_routes.py for an example 🛠️

[2020-06-18 17:55] mrsaicharan1 commented on #648
Yup! This works!

[2020-06-18 17:57] ccarterlandis commented on #738
The basics of our new logging infrastructure has been implemented, which includes an output viewer and automatic error collection. I propose we move forward with separate issues for advanced features now that the groundwork is complete.

[2020-06-18 17:57] #738 closed

[2020-06-18 18:01] mrsaicharan1 commented on #750
Resolved by #746

[2020-06-18 18:01] #750 closed

[2020-06-18 18:01] mrsaicharan1 commented on #751
Resolved by #746

[2020-06-18 18:01] #751 closed

[2020-06-19 01:03] sgoggins opened #785 "Installation fails on missing 'logs' file directory I think"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
[code]
Latest version of `dev` ... pretty sure its just an anomaly not covered because I'm reinstalling

[2020-06-19 01:06] sgoggins commented on #785
perhaps a `mkdir logs/install` is not executed under some conditions.

[2020-06-19 01:07] ccarterlandis commented on #785
I just checked, it used to be created. I must have deleted those lines by accident, for now you can create it manually and it will work fine. I’ll add it back in later @sgoggins

[2020-06-19 01:22] sgoggins commented on #785
OK ... it erases the logs directory when I do a `make rebuild-dev` also.

[2020-06-19 01:25] ccarterlandis commented on #785
That’s weird, not sure why it would do that. I’ll take a look into that as well

[2020-06-19 16:04] #785 closed

[2020-06-19 16:04] ccarterlandis commented on #785
Fixed in `dev` with PR #786

[2020-06-22 08:45] mrsaicharan1 opened #793 "Paginate function docstring info error"
The paginate function has recently been equipped with useful docstrings. However, while I was reading through the docstrings, I found a minor error. THe `duplicate_col_map` is usually a dictionary map from the **field names in our DB** to **incoming source data column name** ex:
`{"gh_issue_id": "id"}`. Currently it is being described as the other way around!`{"id": "gh_issue_id"}`[which is incorr

[2020-06-23 11:47] sgoggins opened #798 "make rebuild-dev asks about installing front end"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
Previously, if Augur had been installed already, the developer is not prompted if they want to install front end dependencies.  I don't know if this change is intentional or not. But now it does.

**How to reproduce:**
1. Clone the `dev` or `testing` branch
2. `make rebuild-dev`

**Expected be

[2020-06-23 13:01] ccarterlandis commented on #798
The frontend is classified as “optional” in the initial install process, so there is no gurantee the user wants the frontend to be installed at all or already has the external dependencies required to build it.

[2020-06-23 13:02] #798 closed

[2020-06-23 23:00] cjellick opened #801 "Can't get docker compose w/database-compose to work"
**Description:**
I installed augur using docker-compose, but it seems comands that write to the db fail. When I try to create a repo group, I get an error. I don't think other commands are working either, but dont know for sure.

**How to reproduce:**
1. Install augur using this command: `docker-compose -f docker-compose.yml -f database-compose.yml up`
2. Go to the UI
3. Attempt to create a repo g

[2020-06-25 01:09] csplinter commented on #801
I ran into this too. Digging into the code it looks like this gets called in the [Dockerfile](https://github.com/chaoss/augur/blob/master/util/docker/backend/Dockerfile#L25)
[code]
Which is [running](https://github.com/chaoss/augur/blob/master/augur/cli/db.py#L260)
[code]
But if you go to your postgres db there is no row with that setting. You can fix it by manually running this in the psql shell.

[2020-06-25 17:05] cjellick commented on #801
thanks! will try it out

[2020-06-27 13:58] jahnvigupta opened #805 "Slack Channel for Project"
A community discussion forum is helpful for a quick and wide variety of answers. I believe this project should have a Slack channel.

[2020-06-29 19:51] sgoggins commented on #801
@ccarterlandis : Thoughts?

[2020-06-29 19:53] sgoggins opened #808 "Frontend install for `install-dev` error"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**

after running `augur install-dev` on a new clone of the testing branch:

[code]

Maybe we need the logfile created first?

[2020-06-29 20:12] ccarterlandis commented on #801
Thanks for the ping @sgoggins. I will take a look later tonight once I am off work

[2020-06-29 20:13] ccarterlandis commented on #808
I thought this was fixed, hmmm...I will take a look tonight after I am off work

[2020-06-29 23:08] ccarterlandis commented on #808
Figured it out, there was an `elif` that should have just been an `if`. I'll open a PR to fix it

[2020-06-29 23:55] ccarterlandis commented on #801
I think I figured it out, somehow the `augurlabs/augur:database` image had fallen several months out of date and was on version 14 instead of version 16, which has the correct schema and includes the default API key row (the absence of this default row is what was causing the error). I have a sneaky feeling that the GitHub integration we use to automatically build the images on releases is what ca

[2020-06-29 23:56] cjellick commented on #801
will do. to be honest, even after @csplinter's suggestion, i could get anything to work with the docker-compose deployment. Things just kind of hung. Maybe thisll fix that

[2020-06-30 00:01] ccarterlandis commented on #801
Hmmm, that's odd. If it still happens feel free to post the logs and we'll see if we can get that sorted as well

[2020-06-30 00:25] ccarterlandis commented on #808
Fixed in `dev` by https://github.com/chaoss/augur/pull/809/commits/dcbf5a2635c0479d6d3ea63b17af71cc038ddea6

[2020-06-30 00:25] #808 closed

[2020-06-30 04:11] jayvdb opened #810 "PyPI Augur"
Would it be possible to release this on PyPI?

https://pypi.org/project/Augur is an empty package, by a deleted user it seems.

I believe there is a process by which PyPI maintainers will re-allocate a package name if rationale is sane, such as mis-use, old maintainer no longer able to hand control over to new maintainers, etc.

At the very least it seems sensible to start going through that proce

[2020-07-01 09:03] ritikavar commented on #690
I am beginner i want to take this  from where i start

[2020-07-01 12:03] #755 closed

[2020-07-01 12:04] #764 closed

[2020-07-01 12:04] #749 closed

[2020-07-06 11:13] mrsaicharan1 opened #822 "Add unit/integration tests for helper methods, functions & modules across augur"
**Description**
Workers across our data collection platform import & utilize a lot of modules/functions. This is a parent issue related to improving the testability of the modules across augur.

[2020-07-12 12:38] mrsaicharan1 commented on #793
Fixed in #790

[2020-07-12 12:38] #793 closed

[2020-07-12 16:52] NodiraIbrogimova commented on #690
Hi @ritikavar, nice to read that!
I have fixed some of the issues mentioned above in my last pull request. Could you explain your experience in more detail? Which part would you like to start with?
In addition, you can ask team members and mentors of this project for more information. Their names are mentioned in this `issue`

[2020-07-20 15:19] christian-bromann opened #852 "Building docker container fails with `index "cntrb_id" does not exist`"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
When running the Docker make command `make docker-build-database; make docker-run-database` it fails with the following error.

[code]

**How to reproduce:**
1. Pull the repository
2. Run `make docker-build-database; make docker-run-database`

**Expected behavior:**
The backend service should

[2020-07-20 20:58] sgoggins commented on #852
@christian-bromann : Thanks for the heads up. If you encounter any additional issues with the Docker build please let us know.  There are things the regular build ignores that the Docker build does not. Even our @travis-ci tests did not catch this one, which I will look into. @ccarterlandis will help me.

[2020-07-20 21:00] #805 closed

[2020-07-20 23:58] ccarterlandis commented on #852
@sgoggins Travis CI does not test the database build, and it never has. The Travis CI builds are used for application unit testing. We do actually have status checks in place to catch exactly this kind of error, but at the time of writing, the required status checks that were in place to prevent this sort of thing from ever getting to `master` have been disabled:
![Screen Shot 2020-07-20 at 6 54 0

[2020-08-04 16:59] hogepodge commented on #801
I can confirm that docker-compose deployments aren't working right now. My auth token panel on GitHub is showing that the token has never been used.

[2020-08-12 08:52] abhinavbajpai2012 opened #871 "Worker Documentations"
Document our workers in docs->worker->toc.rst

@mrsaicharan1

@sgoggins Let us know if we need to document separately on different rst files or should it be done in `toc.rst` only.

[2020-08-14 08:02] mrsaicharan1 opened #877 "Failing metric test on gsoc-dev branch"
Logs from Travis: [https://travis-ci.com/github/chaoss/augur/jobs/371997154]

[code]

Will fix this asap

[2020-08-14 14:54] aksh555 commented on #877
This is due to a pandas version issue. Think this was fixed in dev by @ccarterlandis

[2020-08-14 19:53] mrsaicharan1 commented on #877
Oh okay! When there's a PR from GSoC-dev to dev, it'll get fixed.

[2020-08-14 19:53] #877 closed

[2020-08-15 19:01] rochisha0 opened #879 "Link not working in contributing.md"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
A clear and concise description of what the bug is.
Developer installation link is incorrect in `CONTRIBUTING.MD`

**How to reproduce:**
1. Go to 'CONTRIBUTING.MD'
2. Scroll down to 'Contributing to the source code'
3. Click on 'development installation instruction'

**Expected behavior:**
Thi

[2020-08-17 15:52] sgoggins commented on #879
Pull request merged into staging branch. To be released this week.

[2020-08-17 15:52] #879 closed

[2020-08-17 15:53] sgoggins commented on #871
@abhinavbajpai2012 : You should create a file for your worker and reference it in the toc.rst

[2020-08-17 15:53] #871 closed

[2020-08-17 15:54] sgoggins commented on #810
We have requested PyPi installation.

[2020-08-17 15:54] #810 closed

[2020-08-20 10:40] sgoggins commented on #822
How is this going, @mrsaicharan1 and @abhinavbajpai2012 ?

[2020-08-20 10:41] sgoggins commented on #767
@sarit-adh : Updates?

[2020-08-20 10:42] sgoggins commented on #801
@ccarterlandis : The database is now on version 25. We may need to double check docker again, though the tests appear to be passing. This may also be why the GSoC branch travis builds are currently failing.

[2020-08-20 10:42] #801 closed

[2020-08-20 10:43] sgoggins commented on #387
We have solved this with the new chaoss/augur-community-reports project.

[2020-08-20 10:43] #387 closed

[2020-08-20 10:43] #440 closed

[2020-08-20 10:43] #543 closed

[2020-08-20 10:44] sgoggins commented on #549
Fixed.

[2020-08-20 10:44] #549 closed

[2020-08-20 10:44] sgoggins commented on #615
fixed.

[2020-08-20 10:44] #615 closed

[2020-08-20 10:45] sgoggins commented on #648
Great!

[2020-08-20 10:45] #648 closed

[2020-08-20 10:46] sgoggins commented on #690
These are excellent ideas. This is on our roadmap.

[2020-08-20 10:47] sgoggins commented on #724
This has been addressed.

[2020-08-20 10:47] #724 closed

[2020-08-20 10:47] sgoggins commented on #725
Are we doing well here? I think we are. Scale testing is important next.

[2020-08-20 10:48] sgoggins commented on #740
PR Merged.

[2020-08-20 10:48] #740 closed

[2020-08-20 10:48] sgoggins commented on #754
These are merged and testing will commence at scale! @abhinavbajpai2012

[2020-08-20 15:46] sarit-adh commented on #767
Experimental work on the following notebook
https://github.com/chaoss/augur/blob/sarit/notebooks/comments_clustering_and_anomaly_detection.ipynb
Didn't get good results, not part of the final worker.

[2020-08-20 15:46] #767 closed

[2020-08-27 05:44] #725 closed

[2020-09-04 04:50] Adarsh-NP commented on #690
Ok, how about we use React for this? React is way more popular and widely supported than Angular. In my opinion that would be better but I would like to know the views of admins on this.

[2020-09-08 15:44] Nebrethar opened #908 "Augur Install does not display helpful information on failure"
**Description:**
I just tried to perform a dev install of augur. I ran the dev install script `make install-dev` and I get a nondescript error. I don't have any error details to work with.

**How to reproduce:**
1. Download augur
2. Run `make install-dev`
3. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-imag

[2020-09-09 00:04] Nebrethar commented on #908
I tried this on ubuntu 20.04 and I am getting an error at a different section of the installation. This error was immediate.. Here, I am also not finding any error information.

![image](https://user-images.githubusercontent.com/34951354/92539006-de815e80-f205-11ea-9e25-a06f814e93fc.png)

[2020-09-09 00:04] Nebrethar commented on #908
I tried some debugging and the installer told me I am not in a virtual environment when I certainly am.

![image](https://user-images.githubusercontent.com/34951354/92539081-0670c200-f206-11ea-9981-1dfeb40a9603.png)

[2020-09-09 00:08] Nebrethar opened #909 "Augur cannot find my virtual environment"
**Description:**

I tried some debugging and it told me I am not in a virtual environment when I certainly am.

**How to reproduce:**
1. `make install-dev` with a new augur clone

**Expected behavior:**
I expected to be able to use the installer once I was in a venv

**Screenshots**
![image](https://user-images.githubusercontent.com/34951354/92539267-9282e980-f206-11ea-8609-e9d4033b2a1e.png)

**Lo

[2020-09-09 00:09] Nebrethar commented on #909
Also note, there is a typo in the error message

Would you like us to generate a environment for you automatically? If you select no, you must create it yourself.
Would you like us to generate **an** environment for you automatically? If you select no, you must create it yourself.

[2020-09-09 00:17] Nebrethar opened #910 "Cannot install augur to test without setting up DB"
**Description:**
I cannot install augur for development without setting up a working database with an Augur schema. I see some problems with this:

- If I were a new user who wanted to "test out" the software, I would be gone once I realized that requirement. That's a lot of overhead to give to curious users.
- I'm going to be working with some software that could be potentially (accidentally) har

[2020-09-09 00:22] Nebrethar opened #911 "Augur Install fails to hide password when creating new roles"
**Is your feature request related to a problem? If so, please describe the problem:**
When installing Augur, I tried to set up a local database. When creating database credentials, the password was not hidden while I was typing it in.

**Potential solutions:**
Please implement password hiding in the install, if you can.

**Additional context:**
The places I found this issue were in creating the de

[2020-09-09 11:46] gymgym1212 opened #912 "Cannot find 'augur.config.json' file after 'make install'"
**Description:**
I followed the getting started guide to install Augur. When I stepped to _Collecting data_ part,  there is no  'augur.config.json' file at augur's root directory. Additionally, I also tried 'augur configure generate' and I got "CLI: [configure.generate] [INFO] augur.config.json successfully created" but nothing changed.

**Screenshots**
<img width="485" alt="image" src="https://us

[2020-09-09 12:37] sgoggins commented on #912
@gymgym1212 : I have confirmed this issue on the current version of master. Working on a patch.

[2020-09-09 12:40] sgoggins commented on #912
@gymgym1212 : a temporary workaround is to use `make install-dev`
I will still patch `make install`

[2020-09-09 12:51] gymgym1212 commented on #912
@sgoggins Thank you for your reply! It works!!

[2020-09-09 13:06] ccarterlandis commented on #908
The are log files under `logs/install`, one for each step. This definitely needs to be documented explicitly in the install script  output so people know where to look, and really, we should not be suppressing the errors at all - they should still be going to `stderr`. You've likely inadvertently written over those files already, but if you run them again they'll be there. Leaving this open as a r

[2020-09-09 13:09] ccarterlandis commented on #909
Augur checks for the presence of an environment variable called `ENV` to be populated with the name of your environment to determine if you're in a virtual env. Do you see an envvar called `ENV` in your environment? How did you create the virtual env?

[2020-09-09 13:19] ccarterlandis commented on #910
I don't really think this is an issue. To your first point, we would expect new users to use Docker to set up their database (much, much, much easier - it's 1 shell command) before expecting them to go to the trouble of setting up a permanent one. To your second point, the database is required by all parts of the application. Without the database, there is no data for the frontend to display, so u

[2020-09-09 13:27] ccarterlandis commented on #912
@sgoggins using `make install-dev` is not really a workaround, it is a different command that has a different purpose that could cause problems if people are actually trying to install for production. Please do not recommend it as a workaround.

An actual workaround would be to just copy the default config in `augur/config.py` into an `augur.config.json` file, and then change the credentials manua

[2020-09-09 13:33] ccarterlandis commented on #912
I have to stop for a few hours to have some meetings, but in my initial testing I have been unable to create this issue. I will update this comment later when done testing

[2020-09-09 13:37] ccarterlandis commented on #911
I've honestly never even tried. I'll do some research, probably shouldn't be hard at all. This would be nice to have, but isn't a huge priority.

[2020-09-09 14:08] #754 closed

[2020-09-09 14:14] abhinavbajpai2012 commented on #908
This kind of error can occur even when the installation files don't have read/write access. In some OS, when you clone a repo from github, by-default all the access isn't granted. Try granting 777 to all the installation files.

[2020-09-09 15:00] Nebrethar commented on #908
I've tried this with WSL2 and two different ubuntu VMs. One of the VMs had augur previously and one was a fresh install of ubuntu.

I tried to chmod (777) all of my augur files, just to make it work, but I'm running into the problem I had with the virtual #909 environment and cannot get past it. I do have a different error this time - I will post it there; we may have to fix that first

@abhinavba

[2020-09-09 15:03] Nebrethar commented on #909
I used the command I usually use to create a venv. This has worked with augur in the past.

`python3 -m venv /virtualenvs/augur`

This is the result when I activate my venv, and then try to install augur

![image](https://user-images.githubusercontent.com/34951354/92615909-3b6f2a00-f283-11ea-9909-7c4f69ef49b8.png)

[2020-09-09 15:06] Nebrethar commented on #910
It just seems to me like many of these function commands are obtained by word-of-mouth. I just wanted to tweak a frontend without data  - but the method to do that is either hard to find in the documentation or not present at all.

[2020-09-09 15:08] Nebrethar commented on #911
I agree, it's not a high priority. I just had to include it as a different issue from my others as it's unique 😁

[2020-09-09 15:18] Nebrethar commented on #908
I'm really trying to make something clear:

 - If I wanted to contribute to the Augur Project, and I was brand new to the project, I would be so intimidated by the lack of documentation and tricky install that I would never come back.

 - When I was new to the augur project, I found it very difficult to learn how I can contribute. It took a lot of working with @ccarterlandis and @sgoggins and othe

[2020-09-09 16:03] ccarterlandis commented on #910
Which function commands? The ones to run the frontend? Those are not documented anywhere - I am the only person who really contributes to the documentation and the installation process, and there has always been higher priority things that need to be fixed or documented first. I am also not familiar with our frontend at all, so I have no idea how to write the docs beyond the most basic commands an

[2020-09-09 16:12] ccarterlandis commented on #909
Okay, I see what's going on. The problem isn't Augur, the problem is that you're using `sudo`. Your environment changes to mock the superuser when you use `sudo`, and you activated the venv for YOUR user, not the superuser. `sudo` is also not supported for Augur installation, nothing Augur needs will need root access. If your version of Augur does not work without `sudo` then something else is wro

[2020-09-09 16:21] Nebrethar commented on #909
Ah, I see. That worked!! Sorry about that - I tend to use sudo frivolously and it gets me in jams like this. 😄

I'd like to keep this open until the sudo distinction is added to the documentation.

[2020-09-09 16:22] Nebrethar commented on #909
Here's the picture of the make install-dev running and the virtual environment being found

(and #908 again)

![image](https://user-images.githubusercontent.com/34951354/92625686-96f2e500-f28e-11ea-9ac5-05b77dee56a6.png)

[2020-09-09 16:45] sgoggins commented on #908
@Nebrethar : Ubuntu 20 was released a few days more than a month ago. I do not have a machine on Ubuntu 20, but I am *not* experiencing these errors on the last LTS, Ubuntu 18. I cannot say with certainty, but I think there may be a permissions issue as suggested.

Also, it looks like you may be running on Ubuntu for Windows, and that is *not* the same thing as Ubuntu and is likely the core issue

[2020-09-09 16:50] sgoggins commented on #908
@Nebrethar : I am going to say this in public because its important for everyone to understand: The "Ubuntu" you get in a Microsoft Windows distribution simply does **NOT** function for development anything like regular Ubuntu. This use of the Ubuntu brand under Windows is confusing, and the source of a great deal of PAIN for students in computer science that I teach, who **expect** they are getti

[2020-09-09 16:51] ccarterlandis commented on #908
I'll add something to the docs to explicitly mention that WSL is not supported

[2020-09-09 16:52] sgoggins commented on #908
@ccarterlandis : I would be as explicit about that as I am in my comment above. The Ubuntu on Windows "Subsystem" is **NOT** Ubuntu, and does not work like Ubuntu. It confuses a lot of people, and frankly I think its a bit dishonest and misleading.

[2020-09-09 16:52] sgoggins commented on #908
(On Microsoft's part)

[2020-09-09 16:56] ccarterlandis commented on #908
I'm sorry you've been having a poor developer experience @Nebrethar, it's definitely not what we're going for. If I'm understanding you correctly, I think the main issue here is our extreme lack of attention to the documentation, which has lead to a confusing, messy and tricky install/user experience. All of your points are 100% valid, and may I say there is no greater wake-up call than being told

[2020-09-09 16:57] ccarterlandis commented on #908
^ Being said, let's keep this thread on track. @Nebrethar do you see ANY log files in the `logs/` or `logs/install/` directory after running `make install-dev`?

[2020-09-09 17:07] Nebrethar commented on #908
Just for notation purposes:

Picture 1 is the installation failure on my 20.04.1 VM
Picture 2 is the installation failure on my 18.04.5 LTS VM

Both look like dead ends to myself or any new contributor.

![image](https://user-images.githubusercontent.com/34951354/92630080-df150600-f294-11ea-82df-062d1153b630.png)
![image](https://user-images.githubusercontent.com/34951354/92630091-e3412380-f294-11

[2020-09-09 17:13] ccarterlandis commented on #908
Those permission errors in the 2nd picture are almost certainly what's causing the issue. To be honest, I'm not sure why it would be failing...maybe it's got something to do with the script itself not being allowed to create folders/files. Can you create that `logs` and `logs/install` from the command line? Just asking to see if that will fail, not as a solution/workaround

[2020-09-09 17:15] Nebrethar commented on #908
@ccarterlandis I found a "permission denied" error in the log where the pip install of augur could not access the virtual environment folder that I created.

Using `chmod 777 -r` got it working, but that should also not be a requirement to install augur.

On 18.04 augur does not have any capability of installing without changing install scripts, and it does not create logs.

This comes down to som

[2020-09-09 17:18] Nebrethar commented on #908
I created the required directories for logging on 18.04, and they couldn't create a log file.
I used `chmod 777 -R` on the log directory and it failed, as seen below.

![image](https://user-images.githubusercontent.com/34951354/92631105-80e92280-f296-11ea-8f57-7f03276db165.png)

[2020-09-09 17:53] ccarterlandis commented on #908
I would argue that `sudo` should **never** be used for debugging, and in fact I'd be willing to bet that's what's actually causing some of these permissions errors (I will concede that the docs make no mention of avoiding `sudo`, but this is because it assumes the user is familiar enough with `sudo` to already know that. This was a misguided assumption on my part). Using `sudo` to create folders a

[2020-09-09 17:53] sgoggins commented on #909
@Nebrethar : You need `sudo` for `augur-spdx` because it installs system level scanners. But that's a separate repo, and a byproduct of a dependency we inherit from Fossology. Straight up Augur, as @ccarterlandis notes, never requires `sudo` ... HOWEVER .... if you have run `run install` or `run install-dev` with `sudo` on your machine even *once*, you have to go change the ownership on all of you

[2020-09-09 17:56] sgoggins commented on #909
NodeJS, or "Full Stack NodeJS" does have a use case for system level installations of NodeJS, but Augur does not. And, frankly, I am only imagining the system level use case, but I still think nobody should ever "do that". Except maybe on a production server with a bunch of NodeJS apps where you want to control the versions so that everything is consistent ... but Augur doesn't need to own a whole

[2020-09-09 17:57] ccarterlandis commented on #912
I figured it out. I forgot that when you install the Python package WITHOUT `-e` using `make install`, the executable gets placed in the site-packages directory that lives in your virtualenv folder. When you install the Python package WITH `-e` using `make install-dev`, it installs the executable in the same place as your source code. Stupidly on my part, the config file location is relative to wh

[2020-09-09 18:20] Nebrethar commented on #908
@ccarterlandis @sgoggins I am reinstalling 18.04, will pick this up tomorrow 👍

[2020-09-10 09:00] abhinavbajpai2012 commented on #908
Did you try giving 777 permission to the entire Augur directory (to include the subdirectories and scripts)? Just recursively give the access and this should work. I had a similar error when I tried installing Augur on Deepin 20. As far as I remember, the error code was also the same (40). I just gave full access to the directory and then it started working.

Also, WSL doesn't work for Augur. Even

[2020-09-10 13:45] Nebrethar commented on #908
@abhinavbajpai2012 Thanks for your insight. I will respond to your latest comments one-by-one. First please see [my comment](https://github.com/chaoss/augur/issues/908#issuecomment-689620782) from earlier.

```Recursively giving access to the root Augur directory... ```

This is not a good practice when installing software. ...`chmod 777`... especially on something that is intended to run as a ser

[2020-09-10 14:01] Nebrethar commented on #908
I ended up agreeing with this. I've only really worked on local environments most of the time so my use of `sudo` is becoming a big problem as I install things from source and find permissions errors.

I will try an install on an environment with minimal sudo usage. Let's see how that goes 😅

[2020-09-11 14:21] geekygirldawn opened #914 "Automatically add new repos to Augur when a repo is added to a GitHub org that is already in Augur"
We frequently add new repositories for new open source projects within existing GitHub orgs that are already tracked in Augur. It would be great if these new repositories were automatically discovered and added to the appropriate repo group within Augur.

The problem is that I don't always know when we create new repos within our existing GitHub orgs, so these repos don't have any metrics unless I

[2020-09-11 14:21] geekygirldawn commented on #914
@sgoggins Here's the feature request we talked about.

@ivanayov FYI in case this is something you are interested in working on :)

[2020-09-11 14:46] geekygirldawn opened #915 "Improved handling of redirects for orgs and repos"
While the GitHub API automatically follows redirects and continues gathering data from the newly redirected location, this creates unexpected behavior for users. For example, someone looking in pivotal.osshealth.io for the repo group vmwarepivotallabs would think that the data is missing. However, they could find the data by looking for the pivotalservices repo group, which was the original name o

[2020-09-11 14:47] geekygirldawn commented on #915
@sgoggins this is the other feature request we talked about.

@ivanayov again, this is another one that you might be interested in working on?

[2020-09-11 15:26] Nebrethar commented on #908
**This is on Ubuntu 18.04 LTS**

I got another of the same error screen.
![image](https://user-images.githubusercontent.com/34951354/92944086-2af0b800-f419-11ea-9b8b-050a6833d7a3.png)

I'm not sure of the nature of this error. Can someone please help with this?

[2020-09-11 17:20] ccarterlandis commented on #908
@Nebrethar I am out of my depth with `npm`, but according to [this issue](https://github.com/npm/cli/issues/588), it might be an internal problem (hence that `This is an error with npm itself` line near the bottom), maybe due to this version of `npm` no longer being supported on this OS? Either way, the thread suggests updating `npm` and seeing if that resolves the error. To upgrade everywhere on

[2020-09-14 16:04] hqrshguptq commented on #915
Can I take this over?

[2020-09-14 16:04] hqrshguptq commented on #915
Hi @geekygirldawn , Can I take this over?

[2020-09-14 19:20] ivanayov commented on #914
@geekygirldawn yep, I can take it.

[2020-09-15 13:39] sgoggins commented on #915
@hqrshguptq : We would welcome the assistance! The development guide for Augur is being worked on as we speak, and there's a pull request open right now that @Nebrethar is reviewing (From @ccarterlandis ) that makes our docs a bit easier to follow.

As long as the repository is only changing organizations, I think the process should:
1. Queue the change in two tables in the `augur_operations` sche

[2020-09-15 13:41] sgoggins commented on #915
@hqrshguptq : You should make a fork of augur, but work off the `dev` branch. The docs are bit more up to date there as well:
https://oss-augur.readthedocs.io/en/dev/

[2020-09-29 08:43] geekygirldawn commented on #914
@ivanayov Here are a few more repos from the VMware org that are missing from Augur if you'd like a few more for testing:
dod-compliance-and-automation
eslint-config-vmware-react
go-ipfix
jsonnet-lang-for-gazelle
kernel-event-collector-module
legacy-terraform-provider-vra7
live-docs
nsx-container-plugin-operator
vmware-eventlog-stream-console

@dstefka Here is the issue where we're tracking the pr

[2020-09-29 12:15] sgoggins opened #927 "Gitlab Worker Integration"
**Description:**
The GitLab workers are not hitting the API endpoints quite right, and require appending path items that do not enable the Facade worker to clone the repository.

**How to reproduce:**

@sarit-adh  and @abhinavbajpai2012 :  I am working out running the GitLab workers via a direct merge (copy paste) using the gitlab branch of augur right now.  I sorted out what I think the housekeep

[2020-09-29 13:28] sgoggins opened #931 "Release Worker not Running `augur-gitlab` branch"
**Description:**
There was a schema difference on the instance where @ivanayov built the worker, but it does not seem to be populated the releases table after my collection.  When I look at @ivanayov 's schema, it has not populated much since late august, and the most recent version is leaving out several columns of data. The `augur-gitlab` branch is a feature branch that is up to date with `dev`,

[2020-09-29 14:52] sgoggins opened #932 "Build a worker or page (including endpoints) to show data collection completeness"
**Is your feature request related to a problem? If so, please describe the problem:**
We have an established set of queries and processes for determining how complete data collection is. They rely on at least one run of the repo_info worker, as we validate what Augur collects against platform (github/gitlab) metadata.

**Potential solutions:**
These are the queries and shell commands:

[current-sc

[2020-09-29 14:53] sgoggins commented on #932
@ccarterlandis : These are the scripts I referenced in our conversation yesterday.

[2020-09-29 14:54] sgoggins commented on #912
This issue is resolved in the latest `dev` branch, which will be released today or tomorrow.

[2020-09-29 14:54] #912 closed

[2020-09-30 20:41] sgoggins commented on #908
Fixed with latest Augur release.

[2020-09-30 20:41] #908 closed

[2020-09-30 20:43] sgoggins commented on #910
This is fixed in the latest release of Augur.

[2020-09-30 20:43] #910 closed

[2020-09-30 20:44] sgoggins commented on #909
Don't use `sudo` and we fixed a bunch in the latest release.

[2020-09-30 20:44] #909 closed

[2020-10-01 15:15] jaskiratsingh2000 opened #937 "Needed help in the technical requirement specifically for Augur within the community-handbook"
Hey!

I am one of the **[Google Season of Docs](https://developers.google.com/season-of-docs)** aspirants working on the "**[Community-Handbook](https://github.com/chaoss/community-handbook)**" under the CHAOSS project.
This issue is specific around the "Development" page under the community-handbook.

As you could see in this **[link](https://chaoss-project.gitbook.io/community-handbook/developme

[2020-10-01 17:19] ccarterlandis commented on #911
This has been fixed with the release of Augur v0.13.1.

[2020-10-01 17:19] #911 closed

[2020-10-01 17:23] ccarterlandis commented on #937
@jaskiratsingh2000 I would be happy to help, I am very familiar with Augur's developer requirements & workflow. I'm a little unclear on what I need to do right now - is it just collecting helpful links for some of the other frameworks/languages Augur uses (like Flask and Vue.js), and then adding those links to that page?

I'll can take look at the contribution page as well, no problem. What is the

[2020-10-01 18:46] ccarterlandis commented on #932
Picking this up. I'm going to implement these as endpoints and not as a worker, so they can be queried on-demand by the frontend or some other reporting utility.

[2020-10-02 06:39] jaskiratsingh2000 commented on #937
Hi @ccarterlandis Thank you very much for chiming in. I really appreciate your support in this regard,
So you are required to write any technical requirements we have for the Augur project on this page https://github.com/chaoss/community-handbook/tree/master/development
Just add the languages or the tools we are using along with the references for the people to grab the knowledge if they are not f

[2020-10-02 14:10] GeorgLink commented on #937
This is not a `requirement` but a **request** to help with the handbook content.

[2020-10-02 19:21] ccarterlandis commented on #932
PR #941 implements a prototype version of this functionality.

[2020-10-05 09:49] sgoggins commented on #937
Can you convert documenation from .RST format to the GitBook format?

[2020-10-05 09:54] sgoggins opened #942 "Pull Request Worker Stops on Network Interuption"
Please help us help you by filling out the following sections as thoroughly as you can.

**Description:**
While the other workers "keep going", the pull request worker stops collecting if there's a network interruption. I inadvertently created the interruption, so think of it as a "accidental test".

**How to reproduce:**
1. Start collecting.
2. Shutdown your home router
3. Observe Logs

**Expecte

[2020-10-05 18:06] ccarterlandis commented on #937
@sgoggins that wouldn't be useful in this case, this documentation does not already exist so it would be need to be written from scratch.

[2020-10-05 18:17] ccarterlandis commented on #942
@sgoggins was there any content in the `.err` file? Also, in the future, please either truncate the log output to show only the meaningful lines + some context, or use a pastebin service. C/p'ing the raw logs wastes a lot of space and makes people have to scroll really far to comment.

[2020-10-05 18:41] ccarterlandis commented on #914
@ivanayov @geekygirldawn I don't know if you've made any progress on this, but I do have some thoughts on it that I am happy to share if you would like.

[2020-10-05 19:09] ccarterlandis opened #943 "Add SPDX license identifiers to all source code files"
Most of the existing project code has [SPDX license identifiers](https://spdx.dev/ids/) at the top of each file. However, some of the newer code, like the data collection workers, do not have license identifiers. Not only is this a best practice for clarity and transparency, we also provide SPDX data ourselves; since we often use this repo for testing, having complete coverage is desirable for ano

[2020-10-05 19:13] ccarterlandis commented on #822
This is still important, but there is not really any useful information that was captured by this issue, so I'm going to close it. This work also needs to be better defined to be marked as a "good first issue"

[2020-10-05 19:13] #822 closed

[2020-10-05 19:49] ccarterlandis opened #944 "Refactor all database access to use query parameters"
Currently, a good portion of Augur builds the SQL queries it uses by doing string concatenation by creating a string with SQL text and passing in the arguments (like the record values) via `.format()`. For example, lines 267-270 of `augur/housekeeper.py`:
[code]

While using `.format()` is fine for regular strings, using them to build SQL queries is very unsecure behavior. This is because `.format

[2020-10-05 19:53] ccarterlandis opened #945 "Add database connection retry logic to Augur server"
Right now, the Augur server only attempts to make a connection to the database once, and if it fails, it immediately stops running and exits. Normally, this is fine, but sometimes when using Docker, the server container might become available before the database container is ready. To prevent this from happening more frequently, it would be good to have some retry logic in place (maybe 3 retries,

[2020-10-05 20:07] ccarterlandis opened #946 "Show Gunicorn workers errors in errorfile and stdout"
The Augur server is powered by Gunicorn workers handling requests in the background. Currently, when any of these workers encounter an error, it is not shown in the terminal/stdout, and it is not shown in either the `logs/augur.log` or `logs/augur.err` files, where all regular errors will always show up. Instead, it only gets written to `logs/gunicorn.log`, which isn't useful unless one knows to l

[2020-10-06 06:24] f-osorio commented on #944
I can work on this. Do you have any sense of which files have the SQL queries, or do I need to look around for them?

[2020-10-06 07:02] ajeurkar commented on #943
@ccarterlandis Could you please assign this to me?

[2020-10-06 08:30] ivanayov commented on #914
Hi @ccarterlandis,
I didn't start working on it yet. Feel free to share. Thanks

[2020-10-06 09:16] geekygirldawn commented on #915
Hi @hqrshguptq - I wanted to just check in to see if this was something you are still working on and see if you needed any additional info :)

[2020-10-06 09:16] geekygirldawn commented on #915
Hi @hqrshguptq - I wanted to just check in to see if this was something you are still working on and see if you needed any additional info :)

[2020-10-06 16:33] sgoggins commented on #943
@ajeurkar : It is done.

[2020-10-06 18:03] ccarterlandis commented on #944
@f-osorio I think most of the `workers/` directory needs to be checked. All of the metrics in `augur/metrics/` already use query parameters, and most of the other database access operations happen in the workers, so I'd focus there first. Doing a global search for `read_sql` (like the `pandas` method) or `execute` (like the `sqlachemy` method) would probably also be useful.

[2020-10-06 18:04] ccarterlandis commented on #944
@f-osorio would you like me to assign this issue to you?

[2020-10-07 06:17] f-osorio commented on #944
Yeah, you can assign it to me.

[2020-10-07 09:21] chinvib66 commented on #945
@ccarterlandis I would like to take up this issue

[2020-10-07 13:46] sgoggins commented on #937
@ccarterlandis : I am trying to avoid having us create documentation in multiple formats.

[2020-10-07 14:29] sgoggins opened #1217 "Changing names of the default branch"
Tooling needs to handle the changing of the default branch name on platforms like Github, where it is now `main` instead `master`.

Current tooling (Augur and Grimoirelab) will handle whatever the default branch was when we first cloned the repository. Most tools are not designed to handle default branch changes, but we will need to likely address this in the near future.

@dicortazar -- I don't t

[2020-10-07 17:05] GeorgLink commented on #937
If you want to create that documentation for Augur, we can link to it from the CHAOSS Handbook. No need to duplicate information or have Augur documentation in multiple locations and format.s

[2020-10-08 06:49] jaskiratsingh2000 commented on #937
Yeap, Agreed!

[2020-10-08 23:16] ccarterlandis commented on #944
Sorry, took me a few days to get back to this. Let me know if there is anything I can do to help you @f-osorio! Thanks!

[2020-10-08 23:17] ccarterlandis commented on #937
@GeorgLink that makes things much easier, I will do that instead! @sgoggins

[2020-10-11 05:21] saptarsi96 commented on #946
Hi, @ccarterlandis I would like to work on this.

[2020-10-12 18:05] ccarterlandis commented on #945
Hey @chinvib66, I'm so sorry I missed your comment when you made it a couple days ago. If you're still interested in working on this, use the `dev` branch as the base, as that's where we do our active development.